block variables

include ../mock/data
include ../components/components

doctype html
html.page(class= pageClass lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='preload' href='fonts/mulish-cyrillic.woff2' as='font' type='font/woff2' crossorigin)
    link(rel='preload' href='fonts/mulish-latin.woff2' as='font' type='font/woff2' crossorigin)
    link(rel='preload' href='fonts/mulish-latin-ext.woff2' as='font' type='font/woff2' crossorigin)
    link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')
    link(rel='stylesheet' href='vendor/air-datepicker/air-datepicker.css')
    link(rel='stylesheet' href='css/style.min.css?v=3')
    script(src='https://api-maps.yandex.ru/v3/?apikey=e6c045b8-c60b-415c-82d4-b4adf6e237da&lang=ru_RU')
    title= title
    link(rel='icon' href='favicon.ico')
    link(rel='icon' href='img/favicons/favicon.svg' type='image/svg+xml')
    link(rel='apple-touch-icon' href='img/favicons/favicon-180.png')
    link(rel='manifest' href='manifest.webmanifest')
    meta(name='description' content='Интерьерный салон «Калипсо» — богатый выбор и безупречное качество.')
    meta(name='keywords' content='Калипсо, интерьер, мебель.')
  body.page__body
    .page__inner
      +site-header(class='page__site-header')
      main.page__content
        block content
      if pageClass !== 'cart-page'
        +site-footer
    block modals
      +modal(class='modal--with_form' data-modal='sign-in')
        +sign-in-modal-form(class='modal__form')
      +modal(class='modal--with_search' data-modal='search')
        +search-modal(true)(class='modal__search')
    script(src='vendor/swiper/swiper-bundle.min.js')
    script(src='vendor/air-datepicker/air-datepicker.js')
    script(src='vendor/pristine/pristine.min.js')
    script(src='js/script.min.js')
