mixin about
  .about&attributes(attributes)
    .about__inner.container
      h1.visually-hidden О нас
      .raw-content.raw-content--about
        div.column-1-6.align-center
          h2 Богатый выбор и&nbsp;#[b безупречное качество]
          p Интерьерный салон «Калипсо» открылся в 1993 году и уже 30 лет помогает своим клиентам создавать действительно невероятные интерьеры! На протяжении многих лет мы сотрудничаем с ведущими европейскими и российскими производителями, предлагаем нашим покупателям только оригинальные товары.
        img.column-7-12(src='img/articles/company/company-1.webp' alt='' loading='lazy')
        img.column-1-4(src='img/articles/company/company-2.webp' alt='' loading='lazy')
        img.column-5-8(src='img/articles/company/company-3.webp' alt='' loading='lazy')
        p.column-9-12 Наш главный приоритет – это комфорт и удовлетворенность клиента, поэтому мы внимательно слушаем заказчика, предлагаем максимально подходящие варианты, выбираем самое удобное время для доставки и сборки. Благодаря этому подходу клиенты нас ценят и приходят снова и снова, а также рекомендуют знакомым!
      +blockquote(blockquotes.companyDirector)
      .raw-content.raw-content--about
        div.column-1-6.align-center
          h2 Лучше один раз увидеть!
          p В «Калипсо» мы держим руку на пульсе! Мы в курсе новых трендов и знаем, что будет актуально в следующем сезоне. Мы постоянно контактируем с нашими европейскими и российскими партнерами, чтобы иметь возможность первыми в регионе привезти самые передовые образцы мебели и аксессуаров. Наши клиенты всегда могут приехать в салон и увидеть все своими глазами.
        img.column-7-12(src='img/articles/company/company-4.webp' alt='' loading='lazy')
        img.column-1-5(src='img/articles/company/company-5.webp' alt='' loading='lazy')
        img.column-6-12(src='img/articles/company/company-6.webp' alt='' loading='lazy')
        img.column-1-4(src='img/articles/company/company-7.webp' alt='' loading='lazy')
        img.column-5-8(src='img/articles/company/company-8.webp' alt='' loading='lazy')
        img.column-9-12(src='img/articles/company/company-2.webp' alt='' loading='lazy')
      +blockquote(blockquotes.salonDirector)(class='blockquote--alter')
