mixin about-brand
  article.about-brand&attributes(attributes)
    .about-brand__inner.container
      .raw-content.raw-content--brand
        div.column-1-6
          h1 Calligaris
          p История итальянского бренда калигарис началась в далеком 1923 году, когда основатель мебельной фабрики Антонио Каллигарис продал в своем первом магазине стул Marocca, который сам же и&nbsp;изготовил.
          p Мебельное дело Антонио понемногу давало прибыль, на что семья и&nbsp;жила. Его дело продолжил сын Роман, а после известный Алессандро Киллигарис. Именно он смог из небольшой семейной фабрики сделать известный во всем мире бренд, но обо всем по порядку. В 60-е годы, Алессандро преобразовал семейную фабрику в&nbsp;большое предприятие с довольно развитой структурой, и&nbsp;последующие десятилетия только улучшал его. В начале 70-х начались экспортные операции.
        img.column-7-12(src='img/articles/brand/brand-1.webp' alt='')
        img.column-1-4(src='img/articles/brand/brand-2.webp' alt='')
        img.column-5-8(src='img/articles/brand/brand-3.webp' alt='')
        p.column-9-12 А в 80-х, когда начался бум на все итальянское, на международных европейских рынках появилась мебель Calligaris, а в девяностых эту мебель можно было уже купить по всему миру. Компания Calligaris выросла с маленькой ремесленной мастерской, в которой сохранялись и чтились традиции, стиль и&nbsp;качество, до огромной организации, мебельной фабрики, в которой продолжают изготавливать и традиционную итальянскую мебель, и&nbsp;экспериментируют с передовыми технологиями. В настоящее время Calligaris для&nbsp;изготовления своей мебели использует не&nbsp;только дерево, а и металл, ткань, пластмассу, стекло. Дизайнеры компании все время находят новые и очень неожиданные сочетания традиционного дерева с разными инновационными материалами.
