mixin advantages-cards
  section.advantages-cards&attributes(attributes)
    .advantages-cards__inner.container
      h2.advantages-cards__heading.heading Наши преимущества
      ul.advantages-cards__list
        li.advantages-cards__item Широкий ассортимент и&nbsp;индивидуальные решения
          picture.advantages-cards__background-wrapper(aria-hidden='true')
            source(media='(min-width: 1367px)' srcset='img/advantages/advantage-1-wide-desktop.webp 1x, img/advantages/advantage-1-wide-desktop@2x.webp 2x')
            source(media='(min-width: 769px)' srcset='img/advantages/advantage-1-desktop.webp 1x, img/advantages/advantage-1-desktop@2x.webp 2x')
            img.advantages-cards__background(src='img/advantages/advantage-1.webp' srcset='img/advantages/advantage-1@2x.webp 2x' alt='' loading='lazy')
        li.advantages-cards__item Натуральные материалы и&nbsp;премиальное качество
          picture.advantages-cards__background-wrapper(aria-hidden='true')
            source(media='(min-width: 1367px)' srcset='img/advantages/advantage-2-wide-desktop.webp 1x, img/advantages/advantage-2-wide-desktop@2x.webp 2x')
            source(media='(min-width: 769px)' srcset='img/advantages/advantage-2-desktop.webp 1x, img/advantages/advantage-2-desktop@2x.webp 2x')
            img.advantages-cards__background(src='img/advantages/advantage-2.webp' srcset='img/advantages/advantage-2@2x.webp 2x' alt='' loading='lazy')
        li.advantages-cards__item Более 30 лет на&nbsp;мебельном&nbsp;рынке
          picture.advantages-cards__background-wrapper(aria-hidden='true')
            source(media='(min-width: 1367px)' srcset='img/advantages/advantage-3-wide-desktop.webp 1x, img/advantages/advantage-3-wide-desktop@2x.webp 2x')
            source(media='(min-width: 769px)' srcset='img/advantages/advantage-3-desktop.webp 1x, img/advantages/advantage-3-desktop@2x.webp 2x')
            img.advantages-cards__background(src='img/advantages/advantage-3.webp' srcset='img/advantages/advantage-3@2x.webp 2x' alt='' loading='lazy')
        li.advantages-cards__item Профессиональная сборка&nbsp;мебели
          picture.advantages-cards__background-wrapper(aria-hidden='true')
            source(media='(min-width: 1367px)' srcset='img/advantages/advantage-4-wide-desktop.webp 1x, img/advantages/advantage-4-wide-desktop@2x.webp 2x')
            source(media='(min-width: 769px)' srcset='img/advantages/advantage-4-desktop.webp 1x, img/advantages/advantage-4-desktop@2x.webp 2x')
            img.advantages-cards__background(src='img/advantages/advantage-4.webp' srcset='img/advantages/advantage-4@2x.webp 2x' alt='' loading='lazy')
