mixin advantages
  section.advantages&attributes(attributes)
    .container
      .advantages__inner
        h2.advantages__heading.heading Сотрудники «Калипсо»#[br]#[b.accent профессионалы] своего дела
        ul.advantages__list
          li.advantages__item Одними из&nbsp;первых знакомятся с&nbsp;новинками
            img.advantages__icon(src='img/icons.svg#advantages_new' width='60' height='60' alt='' aria-hidden='true' loading='lazy')
          li.advantages__item Огромное пространство возможностей
            img.advantages__icon(src='img/icons.svg#advantages_possibilities' width='60' height='60' alt='' aria-hidden='true' loading='lazy')
          li.advantages__item Постоянное обучение и&nbsp;развитие
            img.advantages__icon(src='img/icons.svg#advantages_education' width='60' height='60' alt='' aria-hidden='true' loading='lazy')
          li.advantages__item Быстрый и&nbsp;прозрачный карьерный рост
            img.advantages__icon(src='img/icons.svg#advantages_career' width='60' height='60' alt='' aria-hidden='true' loading='lazy')
