mixin articles-list(articles, size)
  ul.articles-list(class= size ? `articles-list--size_${size}` : '')&attributes(attributes)
    each article in articles
      case size
        when 's'
          +article-preview(article, 's')
        when 'm'
          +article-preview(article, 'm')
