mixin article
  article.article&attributes(attributes)
    .article__inner.container
      header.article__header
        h1.article__heading.heading Жизненная сила
        time.article__date(datetime='2024-02-27') 27 февраля 2024
      .raw-content
        img(src='img/articles/article/article-1.webp' alt='')
        div.column-3-10
          h2 Правила эксплуатации столярных изделий
          p Наше дело не так однозначно, как может показаться: убеждённость некоторых оппонентов требует анализа укрепления моральных ценностей. Прежде всего, граница обучения кадров, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для как самодостаточных, так и внешне зависимых концептуальных решений. Противоположная точка зрения подразумевает, что независимые государства формируют глобальную экономическую сеть и при этом — функционально разнесены на независимые элементы.
          p Внезапно, стремящиеся вытеснить традиционное производство, нанотехнологии указаны как претенденты на роль ключевых факторов. Также как перспективное планирование не даёт нам иного выбора, кроме определения экономической целесообразности принимаемых решений. Но акционеры крупнейших компаний набирают популярность среди определенных слоев населения, а значит, должны быть преданы социально-демократической анафеме.
        blockquote.column-3-10 Внезапно, стремящиеся вытеснить традиционное производство, нанотехнологии указаны как претенденты на роль ключевых факторов.
        img.column-1-6(src='img/articles/article/article-2.webp' alt='')
        img.column-7-12(src='img/articles/article/article-3.webp' alt='')
        div.column-3-10
          h2 Наше дело не так однозначно, как может показаться
          p Наше дело не так однозначно, как может показаться: убеждённость некоторых оппонентов требует анализа укрепления моральных ценностей. Прежде всего, граница обучения кадров, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для как самодостаточных, так и внешне зависимых концептуальных решений. Противоположная точка зрения подразумевает, что независимые государства формируют глобальную экономическую сеть и при этом — функционально разнесены на независимые элементы.
          p Внезапно, стремящиеся вытеснить традиционное производство, нанотехнологии указаны как претенденты на роль ключевых факторов. Также как перспективное планирование не даёт нам иного выбора, кроме определения экономической целесообразности принимаемых решений. Но акционеры крупнейших компаний набирают популярность среди определенных слоев населения, а значит, должны быть преданы социально-демократической анафеме.
