mixin article-preview(article)
  li.article-preview&attributes(attributes)
    h3.article-preview__heading
      a.article-preview__link(href='#!')!= article.heading
    p.article-preview__label= article.label
    picture.article-preview__image-wrapper
      img.article-preview__image(src= article.image srcset= `${article.image2x} 2x` alt='' loading='lazy')
    time.article-preview__date(datetime='2023-05-10') 10 мая 2023
