mixin brands
  section.brands
    .brands__inner.container
      h2.brands__heading.heading #[span.heading__accent Популярные] бренды
      ul.brands__list
        li.brands__item
          a.brands__link(href='#!')
            img.brands__logo(src='img/popular-brands/logo box.svg' width='260' height='120' alt='' loading='lazy')
        li.brands__item
          a.brands__link(href='#!')
            img.brands__logo(src='img/popular-brands/logo box-1.svg' width='260' height='120' alt='' loading='lazy')
        li.brands__item
          a.brands__link(href='#!')
            img.brands__logo(src='img/popular-brands/logo box-2.svg' width='260' height='120' alt='' loading='lazy')
        li.brands__item
          a.brands__link(href='#!')
            img.brands__logo(src='img/popular-brands/logo box-3.svg' width='260' height='120' alt='' loading='lazy')
        li.brands__item
          a.brands__link(href='#!')
            img.brands__logo(src='img/popular-brands/logo box-4.svg' width='260' height='120' alt='' loading='lazy')
        li.brands__item
          a.brands__link(href='#!')
            img.brands__logo(src='img/popular-brands/logo box-5.svg' width='260' height='120' alt='' loading='lazy')
        li.brands__item
          a.brands__link(href='#!')
            img.brands__logo(src='img/popular-brands/logo box-6.svg' width='260' height='120' alt='' loading='lazy')
        li.brands__item
          a.brands__link(href='#!')
            img.brands__logo(src='img/popular-brands/logo box-7.svg' width='260' height='120' alt='' loading='lazy')
        li.brands__item
          a.brands__link(href='#!')
            img.brands__logo(src='img/popular-brands/logo box-8.svg' width='260' height='120' alt='' loading='lazy')
        li.brands__item
          a.brands__link(href='#!')
            img.brands__logo(src='img/popular-brands/logo box-9.svg' width='260' height='120' alt='' loading='lazy')
        li.brands__item
          a.brands__link(href='#!')
            img.brands__logo(src='img/popular-brands/logo box-10.svg' width='260' height='120' alt='' loading='lazy')
        li.brands__item
          a.brands__link(href='#!')
            img.brands__logo(src='img/popular-brands/logo box-11.svg' width='260' height='120' alt='' loading='lazy')
