mixin catalog-filters
  form.catalog-filters(action='https://echo.htmlacademy.ru' method='get' target='_blank')&attributes(attributes)
    .catalog-filters__header
      h2.catalog-filters__heading.heading.heading--tiny Фильтры
    .catalog-filters__scroll-container.swiper
      .catalog-filters__scroll-container-inner.swiper-wrapper
        .catalog-filters__scroll-container-content.swiper-slide
          ul.catalog-filters__folds.folds
            li.catalog-filters__folds-item.catalog-filters__folds-item--range.folds__item(data-range-name='Цена')
              h3.catalog-filters__folds-heading
                button.catalog-filters__folds-button.folds__button(type='button' data-fold-name='price') Цена, ₽
                  span.catalog-filters__folds-value-label
              .folds__content-wrapper
                .folds__content
                  fieldset.catalog-filter__section
                    +number-range('price', ['', ''])
            li.catalog-filters__folds-item.catalog-filters__folds-item--checkers.folds__item
              h3.catalog-filters__folds-heading
                button.catalog-filters__folds-button.folds__button(type='button') Тип
                  span.catalog-filters__folds-value-label
              .folds__content-wrapper
                .folds__content
                  fieldset.catalog-filter__section
                    .catalog-filter__box
                      ul.catalog-filter__box-list
                        li.catalog-filter__box-list-item
                          +checker('Диван', false, 'type', 'checkbox', 'sofa')(class='checker--big')
                        li.catalog-filter__box-list-item
                          +checker('Угловой диван', false, 'type', 'checkbox', 'corner-sofa')(class='checker--big')
                        li.catalog-filter__box-list-item
                          +checker('Модульный диван', false, 'type', 'checkbox', 'modular-sofa')(class='checker--big')
                        li.catalog-filter__box-list-item
                          +checker('Кресло', false, 'type', 'checkbox', 'armchair')(class='checker--big')
                        li.catalog-filter__box-list-item
                          +checker('Угловое кресло', false, 'type', 'checkbox', 'corner-armchair')(class='checker--big')
                        li.catalog-filter__box-list-item
                          +checker('Модульное кресло', false, 'type', 'checkbox', 'modular-armchair')(class='checker--big')
                      button.catalog-filter__box-toggle-button(type='button')
                        span.catalog-filter__box-toggle-button-text Показать все
                        span.catalog-filter__box-toggle-button-expand-text Показать меньше
            li.catalog-filters__folds-item.catalog-filters__folds-item--range.folds__item(data-range-name='Ширина')
              h3.catalog-filters__folds-heading
                button.catalog-filters__folds-button.folds__button(type='button' data-fold-name='size') Ширина, см
                  span.catalog-filters__folds-value-label
              .folds__content-wrapper
                .folds__content
                  fieldset.catalog-filter__section
                    +number-range('width', ['', ''])
            li.catalog-filters__folds-item.catalog-filters__folds-item--range.folds__item(data-range-name='Длина')
              h3.catalog-filters__folds-heading
                button.catalog-filters__folds-button.folds__button(type='button') Длина, см
                  span.catalog-filters__folds-value-label
              .folds__content-wrapper
                .folds__content
                  fieldset.catalog-filter__section
                    +number-range('length', ['', ''])
            li.catalog-filters__folds-item.catalog-filters__folds-item--range.folds__item(data-range-name='Высота')
              h3.catalog-filters__folds-heading
                button.catalog-filters__folds-button.folds__button(type='button') Высота, см
                  span.catalog-filters__folds-value-label
              .folds__content-wrapper
                .folds__content
                  fieldset.catalog-filter__section
                    +number-range('height', ['', ''])
            li.catalog-filters__folds-item.catalog-filters__folds-item--checkers.folds__item
              h3.catalog-filters__folds-heading
                button.catalog-filters__folds-button.folds__button(type='button') Цвет
                  span.catalog-filters__folds-value-label
              .folds__content-wrapper
                .folds__content
                  fieldset.catalog-filter__section
                    .catalog-filter__box
                      ul.catalog-filter__box-list.catalog-filter__box-list--colors
                        li.catalog-filter__box-list-item
                          +color('Бежевый', 'beige', 'img/colors/beige.webp')
                        li.catalog-filter__box-list-item
                          +color('Белый', 'white', 'img/colors/white.webp', true)
                        li.catalog-filter__box-list-item
                          +color('Голубой', 'blue', 'img/colors/blue.webp')
                        li.catalog-filter__box-list-item
                          +color('Желтый', 'yellow', 'img/colors/yellow.webp')
                        li.catalog-filter__box-list-item
                          +color('Красный', 'red', 'img/colors/red.webp')
                        li.catalog-filter__box-list-item
                          +color('Коричневый', 'brown', 'img/colors/brown.webp')
                      button.catalog-filter__box-toggle-button(type='button')
                        span.catalog-filter__box-toggle-button-text Показать все
                        span.catalog-filter__box-toggle-button-expand-text Показать меньше
            li.catalog-filters__folds-item.catalog-filters__folds-item--checkers.folds__item
              h3.catalog-filters__folds-heading
                button.catalog-filters__folds-button.folds__button(type='button') Страна
                  span.catalog-filters__folds-value-label
              .folds__content-wrapper
                .folds__content
                  fieldset.catalog-filter__section
                    .catalog-filter__box
                      ul.catalog-filter__box-list
                        li.catalog-filter__box-list-item
                          +checker('Россия', false, 'country', 'checkbox', 'russia')(class='checker--big')
                        li.catalog-filter__box-list-item
                          +checker('Италия', false, 'country', 'checkbox', 'italy')(class='checker--big')
                        li.catalog-filter__box-list-item
                          +checker('Франция', false, 'country', 'checkbox', 'france')(class='checker--big')
                        li.catalog-filter__box-list-item
                          +checker('Канада', false, 'country', 'checkbox', 'canada')(class='checker--big')
                        li.catalog-filter__box-list-item
                          +checker('Беларусь', false, 'country', 'checkbox', 'belarus')(class='checker--big')
                        li.catalog-filter__box-list-item
                          +checker('Китай', false, 'country', 'checkbox', 'china')(class='checker--big')
                      button.catalog-filter__box-toggle-button(type='button')
                        span.catalog-filter__box-toggle-button-text Показать все
                        span.catalog-filter__box-toggle-button-expand-text Показать меньше
          fieldset.catalog-filter__section.catalog-filter__section--checkboxes
            +checker('В наличии', false, 'in-stock', 'checkbox', 'on')(class='checker--big')
            +checker('SALE', false, 'sale', 'checkbox', 'on')(class='checker--big')
      .catalog-filters__scroll-container-scrollbar.swiper-scrollbar
    fieldset.catalog-filters__footer
      +button('button', 'Показать (124 товара)', 'submit')(class='catalog-filters__submit-button button--primary')
      +button('button', 'Очистить фильтр', 'reset')(class='catalog-filters__reset-button button--simple')
