mixin certificates
  section.certificates&attributes(attributes)
    .certificates__inner.container
      h1.certificates__heading.heading Подарочные сертификаты
      p.certificates__text Подарочный сертификат CALIPSO – это возможность подарить кому-то важному необыкновенный выбор головокружительных образов! Вы можете заказать доставку красиво упакованного бумажного сертификата или отправить электронный сертификат напрямую получателю. Подарочный сертификат принимается к оплате как в интернет-магазине, так и в шоуруме в Москве. Бумажный подарочный сертификат оформляется как обычный заказ. После оплаты электронного сертификата, на почту получателя придет письмо с номером сертификата. Сразу после этого сертификатом можно пользоваться. Вы можете воспользоваться подарочным сертификатом в течение года с момента приобретения.
