mixin cities(cities, isPopular)
  section.cities&attributes(attributes)
    h2.cities__heading Укажите свой город
    +search-form('Поиск города', 'query', 'Начните вводить название города')(class='cities__form')
    .cities__scroll-container.swiper
      .cities__scroll-container-inner.swiper-wrapper
        .cities__scroll-container-content.swiper-slide
          if isPopular
            ul.cities__list.cities__list--popular
              each city in cities
                li.cities__item
                  a.cities__link(href='#!')= city.name
          else
            ul.cities__list
              each city in cities
                li.cities__item
                  a.cities__link(href='#!')= `${city.name}, `
                    span.cities__link-part= city.location
      .cities__scroll-container-scrollbar.swiper-scrollbar
