mixin cities(cities)
  section.cities&attributes(attributes)
    h2.cities__heading Укажите свой город
    +search-form('Поиск города', 'query', 'Начните вводить название города')(class='cities__form')
    .cities__scroll-container.cities__scroll-container--popular.swiper
      .cities__scroll-container-inner.swiper-wrapper
        .cities__scroll-container-content.swiper-slide
          .cities__list-wrapper
            ul.cities__list.cities__list--popular
              each city in cities
                li.cities__item
                  a.cities__link(href='#!')= city.name
      .cities__scroll-container-scrollbar.swiper-scrollbar
    .cities__scroll-container-wrapper.cities__scroll-container-wrapper--found
      .cities__scroll-container.cities__scroll-container--found.swiper
        .cities__scroll-container-inner.swiper-wrapper
          .cities__scroll-container-content.swiper-slide
            .cities__list-wrapper
              ul.cities__list.cities__list--found
                each city in cities
                  li.cities__item
                    a.cities__link(href='#!')
                      span.cities__link-part= city.name
                      |
                      | #{city.location}
        .cities__scroll-container-scrollbar.swiper-scrollbar
