mixin code-modal-form(submitButtonText, isPending)
  form.modal-form(action='https://echo.htmlacademy.ru' method='post' target='_blank')&attributes(attributes)
    a.modal-form__back-button(href='#!')
      span.visually-hidden Назад
    h2.modal-form__heading Введите код подтверждения
    p.modal-form__lead Мы отправили SMS-сообщение с&nbsp;кодом подтверждения на&nbsp;номер +7&nbsp;964&nbsp;563&nbsp;73&nbsp;37
    fieldset.modal-form__section
      +text-field('Код подтверждения:', 'code', 'text', '', 'Код подтверждения', true)
    fieldset.modal-form__footer
      if isPending
        p.modal-form__footer-text Повторный запрос кода доступен через 55&nbsp;сек.
      else
        button.modal-form__footer-button(type='button') Отправить повторно
      +button('button', submitButtonText, 'submit')(class='modal-form__submit-button button--primary' disabled)
