-
  var customersSubNavigationLinks = [
    {
      text: 'Доставка, оплата, сборка',
      href: 'delivery-and-payment.html',
      page: 'delivery-and-payment-page'
    },
    {
      text: 'Гарантия',
      href: 'guarantee.html',
      page: 'guarantee-page'
    },
    {
      text: 'Условия оферты',
      href: 'offer-terms.html',
      page: 'offer-terms-page'
    },
    {
      text: 'Уход за мебелью',
      href: 'exploitation.html',
      page: 'exploitation-page'
    },
  ]

mixin customers(theme)
  section.customers&attributes(attributes)
    .container
      h1.customers__heading.heading Покупателям
      +sub-navigation(customersSubNavigationLinks)(class='customers__navigation')
      case theme
        when 'delivery-and-payment'
          +delivery
        when 'guarantee'
          +guarantee
        when 'offer-terms'
          +offer-terms
        when 'exploitation'
          +exploitation
