mixin delivery
  .delivery&attributes(attributes)
    .delivery__info
      section.delivery__section
        h3.delivery__section-heading.heading.heading--small Доставка в собранном виде
        p.delivery__text Доставка товара осуществляется во все регионы РФ посредством транспортной компании на выбор Заказчика.
        p.delivery__text Стоимость доставки рассчитывается индивидуально на этапе оформления заказа.
      section.delivery__section
        h3.delivery__section-heading.heading.heading--small Доставка в разобранном виде
        p.delivery__text Доставка товара осуществляется во все регионы РФ посредством транспортной компании на выбор Заказчика.
      section.delivery__section
        h3.delivery__section-heading.heading.heading--small Оплата
        ul.delivery__payment-list
          li.delivery__payment-item Банковской картой на сайте;
            img.delivery__payment-icon(src='img/icons.svg#payment_card' width='30' height='30' alt='' aria-hidden='true')
          li.delivery__payment-item По счёту для физических и юридических лиц;
            img.delivery__payment-icon(src='img/icons.svg#payment_invioce' width='30' height='30' alt='' aria-hidden='true')
          li.delivery__payment-item Наличными в  шоуруме.
            img.delivery__payment-icon(src='img/icons.svg#payment_cash' width='30' height='30' alt='' aria-hidden='true')
      img.delivery__info-image(src='img/delivery/delivery.webp' srcset='img/delivery/delivery@2x.webp' width='860' height='516' alt='' loading='lazy')
    section.delivery__section
      h3.delivery__section-heading.heading.heading--small Вы заказали мебель?
      ol.delivery__process-list
        li.delivery__process-item
          p.delivery__process-text Наши мастера аккуратно упаковывают товар, и погружают в спц автомобиль
          .delivery__process-gallery
            img.delivery__process-image(src='img/delivery/delivery-1-1.webp' srcset='img/delivery/delivery-1-1@2x.webp 2x' width='560' height='366' alt='' loading='lazy')
            img.delivery__process-image(src='img/delivery/delivery-1-2.webp' srcset='img/delivery/delivery-1-2@2x.webp 2x' width='560' height='366' alt='' loading='lazy')
            img.delivery__process-image(src='img/delivery/delivery-1-3.webp' srcset='img/delivery/delivery-1-3@2x.webp 2x' width='560' height='366' alt='' loading='lazy')
        li.delivery__process-item
          p.delivery__process-text Наши мастера аккуратно упаковывают товар, и погружают в спц автомобиль
          .delivery__process-gallery
            img.delivery__process-image(src='img/delivery/delivery-2-1.webp' srcset='img/delivery/delivery-2-1@2x.webp 2x' width='560' height='366' alt='' loading='lazy')
            img.delivery__process-image(src='img/delivery/delivery-2-2.webp' srcset='img/delivery/delivery-2-2@2x.webp 2x' width='560' height='366' alt='' loading='lazy')
            img.delivery__process-image(src='img/delivery/delivery-2-3.webp' srcset='img/delivery/delivery-2-3@2x.webp 2x' width='560' height='366' alt='' loading='lazy')
        li.delivery__process-item
          p.delivery__process-text Наши мастера аккуратно упаковывают товар, и погружают в спц автомобиль
          .delivery__process-gallery
            img.delivery__process-image(src='img/delivery/delivery-3-1.webp' srcset='img/delivery/delivery-3-1@2x.webp 2x' width='560' height='366' alt='' loading='lazy')
            img.delivery__process-image(src='img/delivery/delivery-3-2.webp' srcset='img/delivery/delivery-3-2@2x.webp 2x' width='560' height='366' alt='' loading='lazy')
            img.delivery__process-image(src='img/delivery/delivery-3-3.webp' srcset='img/delivery/delivery-3-3@2x.webp 2x' width='560' height='366' alt='' loading='lazy')
