mixin developer
  a.developer(href='https://omniagency.ru' target='_blank' rel='nofollow noopener')&attributes(attributes) Разработка
    picture.developre__logo-wrapper
      source(media='(min-width: 1920px)' srcset='img/developer/developer-logo-wide-desktop.svg')
      source(media='(min-width: 1346px)' srcset='img/developer/developer-logo-desktop.svg')
      img.developer__logo(src='img/developer/developer-logo.svg' alt='OMNI.')
