mixin document-modal
  article.document-modal&attributes(attributes)
    header.document-modal__header
      h2.document-modal__heading.heading.heading--tiny Условия оферты
      +document-actions(class='document-modal__actions')
    .document-modal__scroll-container.scroll-container.swiper
      .document-modal__scroll-container-inner.swiper-wrapper
        .document-modal__scroll-container-content.swiper-slide
          .document-modal__intro
            p Общество с ограниченной ответственностью «КАЛИПСО», далее именуемое «Продавец», предлагает Товары, размещенные в интернет-магазине www.calipso.ru, любому физическому лицу, именуемому в дальнейшем «Покупатель», в случае принятия последним условий настоящего Договора и его приложений (безусловный акцепт).
            p Настоящий Договор не требует двустороннего подписания, считается заключенным с момента его акцепта Покупателем и действителен в электронном виде.
          h3 1. Определения
          p
            | Интернет-магазин — сайт Продавца, через который осуществляется дистанционная торговля Товарами, имеющий в сети Интернет адрес – www.calipso.ru. На указанном сайте представлены товары, предлагаемые Продавцом Покупателям к продаже, описание каждой позиции с указанием информации, подлежащей предоставлению в соответствии с действующим законодательством Российской Федерации, а также иные условия приобретения товара.#[br]
            | Шоу-рум — демонстрационный зал в торговом центре, где представлены каталоги и образцы товара Продавца.#[br]
            | Продавец — Общество с ограниченной ответственностью «КАЛИПСО», ИНН 7726457128, ОГРН 1197746537185, Юридический и почтовый адрес: 129110, г. Москва.
          p Покупатель — любое физическое лицо, выразившее намерение приобрести Товар исключительно для использования в личных, семейных, домашних и иных целях, не связанных с осуществлением предпринимательской деятельности, на условиях, предусмотренных настоящим Договором.
          p Оферта — публичное предложение Продавца, адресованное физическому лицу, приобретающему Товар исключительно для использования в личных, семейных, домашних и иных целях, не связанных с осуществлением предпринимательской деятельности, заключить с ним договор купли-продажи (далее — "Договор") на условиях, содержащихся в настоящем Договоре.
          p Акцепт — полное и безоговорочное принятие Покупателем условий оферты посредством оформления заказа на сайте или по телефону интернет-магазина.
          p Покупатель — любое физическое лицо, выразившее намерение приобрести Товар исключительно для использования в личных, семейных, домашних и иных целях, не связанных с осуществлением предпринимательской деятельности, на условиях, предусмотренных настоящим Договором.
          p Оферта — публичное предложение Продавца, адресованное физическому лицу, приобретающему Товар исключительно для использования в личных, семейных, домашних и иных целях, не связанных с осуществлением предпринимательской деятельности, заключить с ним договор купли-продажи (далее — "Договор") на условиях, содержащихся в настоящем Договоре.
          p Акцепт — полное и безоговорочное принятие Покупателем условий оферты посредством оформления заказа на сайте или по телефону интернет-магазина.
      .document-modal__scroll-container-scrollbar.swiper-scrollbar
