mixin external-reviews
  section.external-reviews&attributes(attributes)
    .external-reviews__inner.container
      .external-reviews__heading.heading Посмотрите отзывы о нас на других площадках
      +button('a', 'Оставить отзыв', '', '#!')(class='external-reviews__button button--primary')
