mixin features
  section.features&attributes(attributes)
    .container
      .features__inner
        h2.visually-hidden Наши преимущества
        ul.features__list
          li.features__item Мы уверены в качестве материалов. Гарантия на&nbsp;мебель от 18 месяцев
            img.features__icon(src='img/icons.svg#features_guarantee' width='40' height='40' alt='' aria-hidden='true')
          li.features__item Выбирайте способ оплаты: банковской картой или наличными при получении
            img.features__icon(src='img/icons.svg#features_payment' width='40' height='40' alt='' aria-hidden='true')
          li.features__item Вы легко сможете вернуть или обменять товар в&nbsp;течение одной недели
            img.features__icon(src='img/icons.svg#features_exchange' width='40' height='40' alt='' aria-hidden='true')
          li.features__item Привезем товар в&nbsp;удобное время, поднимем до квартиры и&nbsp;поможем собрать
            img.features__icon(src='img/icons.svg#features_delivery' width='40' height='40' alt='' aria-hidden='true')
