mixin filter(filter, isSlider)
  form.filter(action='https://echo.htmlacademy.ru' method='get')&attributes(attributes)
    if isSlider
      .filter__slider.swiper
        ul.filter__slider-list.swiper-wrapper
          each variant in filter.variants
            li.filter__slider-item.swiper-slide
              label.filter__button
                input.filter__control.visually-hidden(name= filter.name type='radio' value= variant.value checked= variant.isChecked disabled= variant.isDisabled)
                span.filter__label= variant.label
                  if variant.counter
                    span= variant.counter
    else
      ul.filter__list
        each variant in filter.variants
          li.filter__item(class= variant.className ? variant.className : '')
            label.filter__button
              input.filter__control.visually-hidden(name= filter.name type='radio' value= variant.value checked= variant.isChecked disabled= variant.isDisabled)
              span.filter__label= variant.label
                if variant.counter
                    span= variant.counter
