mixin footer-logo
  a.footer-logo(href= pageClass === 'index-page' ? false : 'index.html')&attributes(attributes)
    img.footer-logo__image(src='img/logo-footer.svg' width='196' height='48' alt='Логотип КАЛИПСО.')
