mixin footer-navigation
  dl.footer-navigation&attributes(attributes)
    .footer-navigation__group
      dt.footer-navigation__heading Каталог
      dd.footer-navigation__list-wrapper
        ul.footer-navigation__list
          li.footer-navigation__item
            a.footer-navigation__link(href='categories.html') Категории
          li.footer-navigation__item
            a.footer-navigation__link(href='rooms.html') Комнаты
          li.footer-navigation__item
            a.footer-navigation__link(href='styles.html') Стили
          li.footer-navigation__item
            a.footer-navigation__link(href='brands.html') Бренды
          li.footer-navigation__item
            a.footer-navigation__link(href='premium-catalog.html') Premium
    .footer-navigation__group
      dt.footer-navigation__heading Компания
      dd.footer-navigation__list-wrapper
        ul.footer-navigation__list
          li.footer-navigation__item
            a.footer-navigation__link(href='index.html') Главная
          li.footer-navigation__item
            a.footer-navigation__link(href='salons.html') Наши салоны
          li.footer-navigation__item
            a.footer-navigation__link(href='about.html') О компании
          li.footer-navigation__item
            a.footer-navigation__link(href='articles.html') Блог
          li.footer-navigation__item
            a.footer-navigation__link(href='vacancies.html') Вакансии
          li.footer-navigation__item
            a.footer-navigation__link(href='reviews.html') Отзывы
          li.footer-navigation__item
            a.footer-navigation__link(href='faq.html') Вопрос - ответ
    .footer-navigation__group
      dt.footer-navigation__heading Пользователю
      dd.footer-navigation__list-wrapper
        ul.footer-navigation__list
          li.footer-navigation__item
            a.footer-navigation__link(href='delivery-and-payment.html') Покупателю
          li.footer-navigation__item
            a.footer-navigation__link(href='designers.html') Дизайнеру
          li.footer-navigation__item
            a.footer-navigation__link(href='developers.html') Застройщику
          li.footer-navigation__item
            a.footer-navigation__link(href='horeca.html') HoReCa
