mixin footer-navigation
  dl.footer-navigation&attributes(attributes)
    .footer-navigation__group
      dt.footer-navigation__heading Каталог
      dd.footer-navigation__list-wrapper
        ul.footer-navigation__list
          li.footer-navigation__item
            a.footer-navigation__link(href='categories.html') Категории
          li.footer-navigation__item
            a.footer-navigation__link(href='rooms.html') Комнаты
          li.footer-navigation__item
            a.footer-navigation__link(href='styles.html') Стили
          li.footer-navigation__item
            a.footer-navigation__link(href='#!') Бренды
          li.footer-navigation__item
            a.footer-navigation__link(href='premium-catalog.html') Premium
    .footer-navigation__group
      dt.footer-navigation__heading Компания
      dd.footer-navigation__list-wrapper
        ul.footer-navigation__list
          li.footer-navigation__item
            a.footer-navigation__link(href='#!') Главная
          li.footer-navigation__item
            a.footer-navigation__link(href='#!') О компании
          li.footer-navigation__item
            a.footer-navigation__link(href='articles.html') Блог
          li.footer-navigation__item
            a.footer-navigation__link(href='#!') Вакансии
          li.footer-navigation__item
            a.footer-navigation__link(href='#!') Отзывы
          li.footer-navigation__item
            a.footer-navigation__link(href='#!') Вопрос - ответ
    .footer-navigation__group
      dt.footer-navigation__heading Пользователю
      dd.footer-navigation__list-wrapper
        ul.footer-navigation__list
          li.footer-navigation__item
            a.footer-navigation__link(href='#!') Покупателю
          li.footer-navigation__item
            a.footer-navigation__link(href='#!') Дизайнеру
          li.footer-navigation__item
            a.footer-navigation__link(href='#!') Застройщику
          li.footer-navigation__item
            a.footer-navigation__link(href='#!') HoReCa
