mixin guarantee
  .guarantee&attributes(attributes)
    p.guarantee__reference.reference Гарантийный срок на&nbsp;мебель составляет 18&nbsp;месяцев и&nbsp;вступает в&nbsp;силу со&nbsp;дня передачи товара покупателю
    .guarantee__contacts
      h3.guarantee__contacts-heading.heading Отдел качества
      +contacts-list(contacts.qualityDepartment)(class='guarantee__contacts-list')
    .guarantee__terms
      h3.guarantee__terms-heading.heading Условия гарантии
      .guarantee__terms-text-group
        p.guarantee__terms-text Наше дело не так однозначно, как может показаться: убеждённость некоторых оппонентов требует анализа укрепления моральных ценностей. Прежде всего, граница обучения кадров, а также свежий взгляд на&nbsp;привычные вещи — безусловно открывает новые горизонты для как самодостаточных, так и внешне зависимых концептуальных решений. Противоположная точка зрения подразумевает, что независимые государства формируют глобальную экономическую сеть и при этом — функционально разнесены на&nbsp;независимые элементы.
        p.guarantee__terms-text Внезапно, стремящиеся вытеснить традиционное производство, нанотехнологии указаны как претенденты на роль ключевых факторов. Также как перспективное планирование не&nbsp;даёт нам иного выбора, кроме определения экономической целесообразности принимаемых решений. Но&nbsp;акционеры крупнейших компаний набирают популярность среди определенных слоев населения, а значит, должны быть преданы социально-демократической анафеме.
      ul.guarantee__terms-list
        li.guarantee__terms-item Возврат и обмен товара можно произвести, если товар не был в&nbsp;употреблении.
        li.guarantee__terms-item Возврат или обмен товара возможен, если сохранена упаковка, товарный вид и&nbsp;потребительские свойства товара.
        li.guarantee__terms-item В случае отказа от товара при доставке, клиент оплачивает услугу доставки.
