mixin ideas(withPopup)
  section.ideas&attributes(attributes)
    .ideas__inner.container
      h2.ideas__heading.heading Идеи для вдохновения
      ul.ideas__list
        li.ideas__item
          h3.ideas__item-heading #[a.ideas__item-link(href='#!') Тренды сезона]
          p.ideas__item-text Для тех, кто ищет среду, в&nbsp;которой вибрирующая энергия всегда положительна и&nbsp;является источником подзарядки для души, ума и тела.
          .ideas__item-photo
            picture.ideas__item-image-wrapper(aria-hidden='true')
              source(media='(min-width: 768px)' srcset='img/ideas/idea-1-desktop.webp 1x, img/ideas/idea-1-desktop@2x.webp 2x')
              source(media='(min-width: 376px)' srcset='img/ideas/idea-1-tablet.webp 1x, img/ideas/idea-1-tablet@2x.webp 2x')
              img.ideas__item-image(src='img/ideas/idea-1.webp' srcset='img/ideas/idea-1@2x.webp 2x' alt='' loading='lazy')
        li.ideas__item
          h3.ideas__item-heading #[a.ideas__item-link(href='#!') Тренды сезона]
          p.ideas__item-text Для тех, кто ищет среду, в&nbsp;которой вибрирующая энергия всегда положительна и&nbsp;является источником подзарядки для души, ума и тела.
          .ideas__item-photo
            picture.ideas__item-image-wrapper(aria-hidden='true')
              source(media='(min-width: 768px)' srcset='img/ideas/idea-2-desktop.webp 1x, img/ideas/idea-2-desktop@2x.webp 2x')
              source(media='(min-width: 376px)' srcset='img/ideas/idea-2-tablet.webp 1x, img/ideas/idea-2-tablet@2x.webp 2x')
              img.ideas__item-image(src='img/ideas/idea-2.webp' srcset='img/ideas/idea-2@2x.webp 2x' alt='' loading='lazy')
            +pin(style='top: 80%; left: 14%;')
              if withPopup
                +product-card-popup(class='pin__popup')
        li.ideas__item
          h3.ideas__item-heading #[a.ideas__item-link(href='#!') Жизненная сила]
          p.ideas__item-text Для тех, кто ищет среду, в&nbsp;которой вибрирующая энергия всегда положительна и&nbsp;является источником подзарядки для души, ума и тела.
          .ideas__item-photo
            picture.ideas__item-image-wrapper(aria-hidden='true')
              source(media='(min-width: 768px)' srcset='img/ideas/idea-3-desktop.webp 1x, img/ideas/idea-3-desktop@2x.webp 2x')
              source(media='(min-width: 376px)' srcset='img/ideas/idea-3-tablet.webp 1x, img/ideas/idea-3-tablet@2x.webp 2x')
              img.ideas__item-image(src='img/ideas/idea-3.webp' srcset='img/ideas/idea-3@2x.webp 2x' alt='' loading='lazy')
