mixin map-marker-template(isBig)
  template#map-marker-template
    .map-marker(class= isBig ? 'map-marker--big' : '')
      img.map-marker__image(src='img/icons.svg#map_marker' width='68' height='90' alt='Маркер на карте: Н.Новгород, Варварская улица, 7')
