mixin navigation-shortcuts
  .navigation-shortcuts&attributes(attributes)
    .navigation-shortcuts__slider.swiper
      ul.navigation-shortcuts__list.swiper-wrapper
        li.navigation-shortcuts__item.swiper-slide
          a.navigation-shortcuts__link(href='#!') Тумбы
            img.navigation-shortcuts__image(src='img/categories/small/beds.webp' width='60' height='40' alt='' loading='lazy')
        li.navigation-shortcuts__item.swiper-slide
          a.navigation-shortcuts__link(href='#!') Прикроватные тумбочки
            img.navigation-shortcuts__image(src='img/categories/small/chests-of-drawers.webp' width='60' height='40' alt='' loading='lazy')
        li.navigation-shortcuts__item.swiper-slide
          a.navigation-shortcuts__link(href='#!') Комоды
        li.navigation-shortcuts__item.swiper-slide
          a.navigation-shortcuts__link Тумбы под телевизор
            img.navigation-shortcuts__image(src='img/categories/small/chests-of-drawers.webp' width='60' height='40' alt='' loading='lazy')
