mixin navigation-list(withCatalogLink)
  ul.navigation-list&attributes(attributes)
    li.navigation-list__item
      h3.navigation-list__heading
        a.navigation-list__link(href='#!') Столы и&nbsp;стулья
      picture.navigation-list__image-wrapper
        source(media='(min-width: 1346px)' srcset='img/categories/tables-desktop.webp 1x, img/categories/tables-desktop@2x.webp 2x')
        img.navigation-list__image(src='img/categories/tables.webp' alt='' loading='lazy')
    li.navigation-list__item
      h3.navigation-list__heading
        a.navigation-list__link(href='#!') Диваны
      picture.navigation-list__image-wrapper
        source(media='(min-width: 1346px)' srcset='img/categories/sofas-desktop.webp 1x, img/categories/sofas-desktop@2x.webp 2x')
        img.navigation-list__image(src='img/categories/sofas.webp' alt='' loading='lazy')
    li.navigation-list__item
      h3.navigation-list__heading
        a.navigation-list__link(href='#!') Шкафы
      picture.navigation-list__image-wrapper
        source(media='(min-width: 1346px)' srcset='img/categories/wardrobes-desktop.webp 1x, img/categories/wardrobes-desktop@2x.webp 2x')
        img.navigation-list__image(src='img/categories/wardrobes.webp' alt='' loading='lazy')
    li.navigation-list__item
      h3.navigation-list__heading
        a.navigation-list__link(href='#!') Комоды и&nbsp;тумбы
      picture.navigation-list__image-wrapper
        source(media='(min-width: 1346px)' srcset='img/categories/kitchens-desktop.webp 1x, img/categories/kitchens-desktop@2x.webp 2x')
        img.navigation-list__image(src='img/categories/kitchens.webp' alt='' loading='lazy')
    li.navigation-list__item
      h3.navigation-list__heading
        a.navigation-list__link(href='#!') Кровати
      picture.navigation-list__image-wrapper
        source(media='(min-width: 1346px)' srcset='img/categories/beds-desktop.webp 1x, img/categories/beds-desktop@2x.webp 2x')
        img.navigation-list__image(src='img/categories/beds.webp' alt='' loading='lazy')
    li.navigation-list__item
      h3.navigation-list__heading
        a.navigation-list__link(href='#!') Столы и&nbsp;стулья
      picture.navigation-list__image-wrapper
        source(media='(min-width: 1346px)' srcset='img/categories/tables-desktop.webp 1x, img/categories/tables-desktop@2x.webp 2x')
        img.navigation-list__image(src='img/categories/tables.webp' alt='' loading='lazy')
    li.navigation-list__item
      h3.navigation-list__heading
        a.navigation-list__link(href='#!') Диваны
      picture.navigation-list__image-wrapper
        source(media='(min-width: 1346px)' srcset='img/categories/sofas-desktop.webp 1x, img/categories/sofas-desktop@2x.webp 2x')
        img.navigation-list__image(src='img/categories/sofas.webp' alt='' loading='lazy')
    li.navigation-list__item
      h3.navigation-list__heading
        a.navigation-list__link(href='#!') Шкафы
      picture.navigation-list__image-wrapper
        source(media='(min-width: 1346px)' srcset='img/categories/wardrobes-desktop.webp 1x, img/categories/wardrobes-desktop@2x.webp 2x')
        img.navigation-list__image(src='img/categories/wardrobes.webp' alt='' loading='lazy')
    li.navigation-list__item
      h3.navigation-list__heading
        a.navigation-list__link(href='#!') Комоды и&nbsp;тумбы
      picture.navigation-list__image-wrapper
        source(media='(min-width: 1346px)' srcset='img/categories/kitchens-desktop.webp 1x, img/categories/kitchens-desktop@2x.webp 2x')
        img.navigation-list__image(src='img/categories/kitchens.webp' alt='' loading='lazy')
    li.navigation-list__item
      h3.navigation-list__heading
        a.navigation-list__link(href='#!') Кровати
      picture.navigation-list__image-wrapper
        source(media='(min-width: 1346px)' srcset='img/categories/beds-desktop.webp 1x, img/categories/beds-desktop@2x.webp 2x')
        img.navigation-list__image(src='img/categories/beds.webp' alt='' loading='lazy')
    li.navigation-list__item
      h3.navigation-list__heading
        a.navigation-list__link(href='#!') Столы и&nbsp;стулья
      picture.navigation-list__image-wrapper
        source(media='(min-width: 1346px)' srcset='img/categories/tables-desktop.webp 1x, img/categories/tables-desktop@2x.webp 2x')
        img.navigation-list__image(src='img/categories/tables.webp' alt='' loading='lazy')
    li.navigation-list__item
      h3.navigation-list__heading
        a.navigation-list__link(href='#!') Диваны
      picture.navigation-list__image-wrapper
        source(media='(min-width: 1346px)' srcset='img/categories/sofas-desktop.webp 1x, img/categories/sofas-desktop@2x.webp 2x')
        img.navigation-list__image(src='img/categories/sofas.webp' alt='' loading='lazy')
    li.navigation-list__item
      h3.navigation-list__heading
        a.navigation-list__link(href='#!') Шкафы
      picture.navigation-list__image-wrapper
        source(media='(min-width: 1346px)' srcset='img/categories/wardrobes-desktop.webp 1x, img/categories/wardrobes-desktop@2x.webp 2x')
        img.navigation-list__image(src='img/categories/wardrobes.webp' alt='' loading='lazy')
    li.navigation-list__item
      h3.navigation-list__heading
        a.navigation-list__link(href='#!') Комоды и&nbsp;тумбы
      picture.navigation-list__image-wrapper
        source(media='(min-width: 1346px)' srcset='img/categories/kitchens-desktop.webp 1x, img/categories/kitchens-desktop@2x.webp 2x')
        img.navigation-list__image(src='img/categories/kitchens.webp' alt='' loading='lazy')
    li.navigation-list__item
      h3.navigation-list__heading
        a.navigation-list__link(href='#!') Кровати
      picture.navigation-list__image-wrapper
        source(media='(min-width: 1346px)' srcset='img/categories/beds-desktop.webp 1x, img/categories/beds-desktop@2x.webp 2x')
        img.navigation-list__image(src='img/categories/beds.webp' alt='' loading='lazy')
    if withCatalogLink
      li.navigation-list__catalog-link-wrapper
        a.navigation-list__catalog-link(href='#!') В каталог
