mixin one-click-form
  form.modal-form(action='https://echo.htmlacademy.ru' method='post' target='_blank')&attributes(attributes)
    h2.modal-form__heading Купить в 1 клик
    fieldset.modal-form__section
      +text-field('Ваши ФИО:', 'name', 'text', '', 'ФИО', true)
      +text-field('Ваш телефон:', 'phone', 'tel', '', 'Телефон', true)
      +text-field('Ваш e-mail:', 'email', 'email', '', 'E-mail', true)
    fieldset.modal-form__footer
      +button('button', 'Отправить', 'submit')(class='modal-form__submit-button button--primary')
      small.modal-form__comment Нажимая на кнопку «Отправить», вы даете #[a.modal-form__comment-link(href='#!' target='_blank' rel='noopener') согласие на обработку персональных данных]
