mixin premium-navigation
  .premium-navigation&attributes(attributes)
    .container
      .premium-navigation__inner
        p.premium-navigation__logo
          span.premium-navigation__logo-text Premium
        ul.premium-navigation__list
          li.premium-navigation__item
            a.premium-navigation__link(href='premium-category.html') Категории
          li.premium-navigation__item
            a.premium-navigation__link(href='premium-category.html') Комнаты
          li.premium-navigation__item
            a.premium-navigation__link(href='premium-category.html') Стили
          li.premium-navigation__item
            a.premium-navigation__link(href='premium-category.html') Бренды
        a.premium-navigation__catalog-link(href= pageClass === 'premium-catalog-page' ? false : 'premium-catalog.html') Весь каталог
