mixin product
  article.product&attributes(attributes)
    .product__inner.container
      +product-images(class='product__images')
      +product-header(class='product__header')
      p.product__status.product__status--4 Ожидается поступление
      +product-characteristics(class='product__characteristics')
