mixin product-header
  -
    var buttons = [
      {
        label: '180*200',
        name: 'size',
        value: '180*200',
      },
      {
        label: '190*200',
        name: 'size',
        value: '190*200',
        isDisabled: true,
      },
      {
        label: '200*220',
        name: 'size',
        value: '200*220',
        isChecked: true,
      },
    ];

  header.product-header&attributes(attributes)
    .product-header__heading-wrapper
      h1.product-header__heading Chill
      +like-button(class='product-header__like-button')
    p.product-header__name Комод Chill, бренд Calligaris, серый
    .product-header__signs 15х20х60
    .product-header__prices
      p.product-header__price.product-header__price--accent 15 000р
      s.product-header__old-price 15 000р
      p.product-header__discount -10%
    .product-header__action(action='https://echo.htmlacademy.ru' method='post' target='_blank')
      ul.product-header__action-options
        li
          +button('a', '180*200', '', '#')(class='button--secondary button--small')
        li
          +button('a', '190*200', '', '#')(class='button--secondary button--small')
        li
          +button('a', '200*220', '', '#')(class='button--secondary button--small button--active')
      .product-header__action-buttons
        +button('a', 'Добавить в корзину', '', '#')(class='button--primary')
        +button('a', 'Купить в 1 клик', '', '#')(class='button--simple' data-modal-opener='one-click')
    ul.product-header__navigation
      li.product-header__navigation-item
        a.product-header__navigation-link(href='#product-characteristics') Описание и характеристики
      li.product-header__navigation-item
        a.product-header__navigation-link.product-header__navigation-link--with-arrow(href='#' data-modal-opener='delivery-document') О доставке
      li.product-header__navigation-item
        a.product-header__navigation-link.product-header__navigation-link--with-arrow(href='#' data-modal-opener='guarantee-document') О гарантии
      li.product-header__navigation-item
        a.product-header__navigation-link.product-header__navigation-link--with-arrow(href='#' data-modal-opener='installment-request') Возможна рассрочка, уточните#[br.hidden.hidden--wd] у&nbsp;менеджера
    ul.product-header__links
      li
        a.product-header__link(href='files/recipe.pdf' download) Скачать 3D модель .pdf
      li
        a.product-header__link(href='#' data-modal-opener='product-question') Задать вопрос по товару
    a.product-header__brand(href='#!')
      img.product-header__brand-logo(src='img/product-brands/calligaris.svg' width='218' height='42' alt='')
    +share(class='product-header__share')
