mixin product-characteristics
  section.product-characteristics#product-characteristics&attributes(attributes)
    h2.product-characteristics__heading Характеристики
    section.product-characteristics__section
      h3.product-characteristics__section-heading Размеры
      dl.product-characteristics__list
        .product-characteristics__list-item
          dt.product-characteristics__key Ширина, см
          dd.product-characteristics__value 100
        .product-characteristics__list-item
          dt.product-characteristics__key Длина, см
          dd.product-characteristics__value 100
        .product-characteristics__list-item
          dt.product-characteristics__key Высота, см
          dd.product-characteristics__value 100
    section.product-characteristics__section
      h3.product-characteristics__section-heading Вес
      dl.product-characteristics__list
        .product-characteristics__list-item
          dt.product-characteristics__key Вес, кг
          dd.product-characteristics__value 14
    section.product-characteristics__section
      h3.product-characteristics__section-heading Основные
      dl.product-characteristics__list
        .product-characteristics__list-item
          dt.product-characteristics__key Страна
          dd.product-characteristics__value Россия
        .product-characteristics__list-item
          dt.product-characteristics__key Бренд
          dd.product-characteristics__value calligaris
        .product-characteristics__list-item
          dt.product-characteristics__key Стиль
          dd.product-characteristics__value современный
        .product-characteristics__list-item
          dt.product-characteristics__key Артикул
          dd.product-characteristics__value 3871824712
        .product-characteristics__list-item
          dt.product-characteristics__key Обивка
          dd.product-characteristics__value текстиль / букле бежевый
        .product-characteristics__list-item
          dt.product-characteristics__key Ножки
          dd.product-characteristics__value металл / черный
        .product-characteristics__list-item.product-characteristics__list-item--comment
          dt.product-characteristics__key Комментарии
          dd.product-characteristics__value Оснащено реклайнером. На заказ доступны различные конфигурации по каталогу фабрики.
    section.product-characteristics__section
      h3.product-characteristics__section-heading Описание
      p.product-characteristics__section-text Calligaris – современная высокотехнологичная компания, которая более 15 лет разрабатывает и производит мягкую мебель для рынка России и стран СНГ. Мебель для людей современности, для тех, кто ищет свой путь или уже нашел его, но всегда стремится к большему. Мебель отличает не только по внешний вид, но и ее содержание, эргономичность и функциональность.
