-
  var select = {
    name: 'city',
    placeholder: 'Город',
    options: [
      {
        text: 'Москва',
        value: 'Moscow',
      },
      {
        text: 'Санкт-Петербург',
        value: 'St. Petersburg',
      },
      {
        text: 'Нижний Новогород',
        value: 'Nizhny Novgorod',
      },
      {
        text: 'Сочи',
        value: 'Sochi',
      },
      {
        text: 'Калининград',
        value: 'Kaliningrad',
      },
      {
        text: 'Астрахань',
        value: 'Astrakhan',
      },
    ],
  };

mixin profile-form
  form.profile-form(action='https://echo.htmlacademy.ru' method='post' target='_blank')&attributes(attributes)
    fieldset.profile-form__section
      legend.profile-form__section-heading Основная информация
      +text-field('Ваше имя:', 'name', 'text', 'Пользователь 1234', 'Имя', true, false, false, false, 30)(class='profile-form__item profile-form__item--name profile-form__item--wide')
      +text-field('Ваша фамилия:', 'surname', 'text', '', 'Фамилия', true, false, false, false, 30)(class='profile-form__item profile-form__item--surname profile-form__item--wide')
      +text-field('Ваше отчество:', 'patronymic', 'text', '', 'Отчество', true, false, false, false, 30)(class='profile-form__item profile-form__item--patronymic profile-form__item--wide')
      +text-field('Ваш телефон:', 'phone', 'tel', '+7 (987) 688 66 65', 'Телефон', true, true, false, true)(class='profile-form__item profile-form__item--wide text-field--accent')
      +text-field('Ваш e-mail:', 'email', 'email', '', 'E-mail', true)(class='profile-form__item profile-form__item--email profile-form__item--wide')
      +text-field('Ваша дата рождения:', 'birth-date', 'date', '', 'Дата рождения')(class='profile-form__item profile-form__item--wide profile-form__item--date text-field--date text-field--date-in-profile-form')
    fieldset.profile-form__section
      legend.profile-form__section-heading Дополнительная информация
      +text-field-with-list('Ваша город:', 'city', 'text', '', 'Город', true)(class='profile-form__item profile-form__item--city profile-form__item--wide')
      +text-field('Ваша улица:', 'street', 'text', '', 'Улица', true)(class='profile-form__item profile-form__item--street')
      +text-field('Ваш дом:', 'house', 'text', '', 'Дом', true)(class='profile-form__item profile-form__item--house')
      +text-field('Ваша квартира/офис:', 'apartment-office', 'text', '', 'Квартира/Офис')
      +text-field('Ваш подъезд:', 'entrance', 'text', '', 'Подъезд')
    fieldset.profile-form__footer
      +checker('Получать рекламную рассылку', false, 'subscribe', 'checkbox', 'yes', true)(class='profile-form__checkbox')
      +button('button', 'Применить', 'submit')(class='profile-form__submit-button button--primary' disabled)
