mixin project(withPopup)
  article.project&attributes(attributes)
    .project__inner.container
      header.project__header
        h1.project__heading.heading Проект ЖК «Ард-хаус», Нижний Новгород
      .content
        figure
          div
            img(src='img/articles/project/project-1.webp' width='1160' height='777' alt='' loading='lazy')
          figcaption Перед дизайнером-архитектором стояла масштабная и интересная задача – оформить десять апартаментов под сдачу в ЖК «Прайм Парк». Квартиры были трёх типов – одно-, двух- и трёхкомнатные. Для каждой из них команда разработала дизайн и создала визуализацию с выбранными цветовыми решениями и мебелью.

        +member-card

        p Апартаменты отражают вайб американской классики, который очень близок бренду. Тем не менее арендаторам есть из чего выбрать: интерьеры выполнены в двух цветовых гаммах – светлой и тёмной. В светлых квартирах преобладают бежевые, фисташковые оттенки и светлый дуб с латунными деталями. В тёмных к бежевому присоединяются серые и коричневые тона, а также мебель в отделке из дуба венге с чёрной фурнитурой. Квартиры были трёх типов – одно-, двух- и трёхкомнатные. Для каждой из них команда разработала дизайн и создала визуализацию с выбранными цветовыми решениями и мебелью. Перед дизайнером-архитектором стояла масштабная и интересная задача – оформить десять апартаментов под сдачу в ЖК «Прайм Парк». Квартиры были трёх типов – одно-, двух- и трёхкомнатные. Для каждой из них команда разработала дизайн и создала визуализацию с выбранными цветовыми решениями и мебелью.

        figure
          div
            img(src='img/articles/project/project-2.webp' width='860' height='900' alt='' loading='lazy')
            +pin(style='top: 53%; left: 16%;' data-product-id='1')
            +pin(style='top: 78%; left: 65%;' data-product-id='1')
          figcaption Готовый интерьер спальни с кроватью Ньюбери Low Страйпс и прикроватной тумбой из серии Metropolitan Esperia

        figure
          div
            img(src='img/articles/project/project-3.webp' width='860' height='900' alt='' loading='lazy')
            +pin(style='top: 42%; left: 34%;' data-product-id='1')
            +pin(style='top: 67%; left: 32%;' data-product-id='1')
            +pin(style='top: 15%; left: 66%;' data-product-id='1')
          figcaption Готовый интерьер спальни с кроватью Ньюбери Low Страйпс и прикроватной тумбой из серии Metropolitan Esperia

        figure
          div
            img(src='img/articles/project/project-2.webp' width='860' height='900' alt='' loading='lazy')
            +pin(style='top: 53%; left: 16%;' data-product-id='1')
            +pin(style='top: 78%; left: 65%;' data-product-id='1')
          figcaption Готовый интерьер спальни с кроватью Ньюбери Low Страйпс и прикроватной тумбой из серии Metropolitan Esperia

        figure
          div
            img(src='img/articles/project/project-3.webp' width='860' height='900' alt='' loading='lazy')
            +pin(style='top: 42%; left: 34%;' data-product-id='1')
            +pin(style='top: 67%; left: 32%;' data-product-id='1')
            +pin(style='top: 15%; left: 66%;' data-product-id='1')
          figcaption Готовый интерьер спальни с кроватью Ньюбери Low Страйпс и прикроватной тумбой из серии Metropolitan Esperia

        figure
          div
            img(src='img/articles/project/project-2.webp' width='860' height='900' alt='' loading='lazy')
            +pin(style='top: 53%; left: 16%;' data-product-id='1')
            +pin(style='top: 78%; left: 65%;' data-product-id='1')
          figcaption Готовый интерьер спальни с кроватью Ньюбери Low Страйпс и прикроватной тумбой из серии Metropolitan Esperia

        figure
          div
            img(src='img/articles/project/project-3.webp' width='860' height='900' alt='' loading='lazy')
            +pin(style='top: 42%; left: 34%;' data-product-id='1')
            +pin(style='top: 67%; left: 32%;' data-product-id='1')
            +pin(style='top: 15%; left: 66%;' data-product-id='1')
          figcaption Готовый интерьер спальни с кроватью Ньюбери Low Страйпс и прикроватной тумбой из серии Metropolitan Esperia
