mixin project-card
  article.project-card&attributes(attributes)
    .project-card__text-content
      h3.project-card__heading
      p.project-card__text
      p.project-card__author
    img.project-card__image(src='img/projects/project-2.webp' alt='' loading='lazy')
