mixin project-card
  article.project-card&attributes(attributes)
    .project-card__text-content
      h3.project-card__heading Проект ЖК «Ард-хаус», Нижний Новгород
      p.project-card__text В чем сила «Калипсо»? Мы постоянно проходим обучения и посещаем семинары у итальянских и российских производителей мебели, декора, текстиля. Мы знаем все о современных технологиях, материалах и о трендах дизайна.
      p.project-card__author Ирина Михайловна Кравец, дизайнер проекта
        img.project-card__author-image(src='img/team/team-1.webp' widht='60' height='60' alt='Фото.')
    img.project-card__image(src='img/projects/project-2.webp' alt='' loading='lazy')
