mixin review-modal-form
  form.modal-form(action='https://echo.htmlacademy.ru' method='post' enctype='multipart/form-data' target='_blank')&attributes(attributes)
    h2.modal-form__heading Оставить отзыв
    fieldset.modal-form__section
      +text-field('Ваши ФИО:', 'name', 'text', '', 'ФИО', true)
      +text-field('Ваш e-mail:', 'email', 'email', '', 'E-mail', true)
      +textarea('Ваш отзыв:', 'text', '', 'Напишите ваш отзыв', true)(class='modal-form__textarea')
      +file-field(class='modal-form__file-field')
    fieldset.modal-form__footer
      .modal-form__footer-checkboxes
        +checker('Оставить отзыв анонимно', false, 'anonymity', 'checkbox', 'on', true)
        +checker('Согласен на обработку персональных данных', false, 'agreement', 'checkbox', 'on', true)
      +button('button', 'Оставить отзыв', 'submit')(class='modal-form__submit-button button--primary')
      small.modal-form__comment Нажимая на кнопку «Оставить отзыв», вы даете #[a.modal-form__comment-link(href='#!' target='_blank' rel='noopener') согласие на обработку персональных данных]
