mixin salon(video)
  article.salon&attributes(attributes)
    h2.salon__heading.heading.heading--tiny-2 #[span.heading__accent Калипсо] на Варварской
    img.salon__image(src='img/salons/salon-1.webp' width='975' height='585' alt='Салон Калипсо на Варварской')
    +contacts-list(contacts.salon, false, true)(class='salon__contacts-list contacts-list--alter-3')
    button.salon__video-button.like-video(type='button' data-modal-opener='video' data-video-src= video.src data-video-poster= video.poster)
      span.visually-hidden Открыть видео
      img.salon__video-button-image(src='img/salons/salon-1.webp' width='975' height='585' alt='Салон Калипсо на Варварской')
