mixin salons-list
  ul.salons-list&attributes(attributes)
    li.salons-list__item
      +salon({ src: 'files/video.mp4', poster: 'files/video-poster.jpg'})
    li.salons-list__item
      +salon({ src: 'files/dog.mp4', poster: 'files/dog-poster.jpg'})
    li.salons-list__item
      +salon({ src: 'files/video.mp4', poster: 'files/video-poster.jpg'})
