mixin salons
  .salons&attributes(attributes)
    .salons__inner.container
      h1.salons__heading.heading Наши салоны
      p.salons__description Приглашаем посетить наши салоны и&nbsp;увидеть мебель вашей мечты своими глазами! Адреса, контакты и&nbsp;видеоэкскурсии помогут вам сориентироваться и&nbsp;выбрать идеальный вариант.
      +salons-list(class='salons__list')
