mixin selection
  section.selection&attributes(attributes)
    .selection__header
      .selection__header-inner.container
        h2.selection__heading.heading.heading--small Мы отобрали для вас лучшее из&nbsp;многообразия мебели и&nbsp;интерьеров
        p.selection__offer Вы можете приехать с дизайнером и&nbsp;комфортно обсудить ваш проект и&nbsp;решения в&nbsp;переговорной комнате
    .selection__slider
      +slider-arrows(class='selection__slider-arrows')
      .selection__slider-list-wrapper.swiper
          ul.selection__slider-list.swiper-wrapper
            li.selection__slider-item.swiper-slide
              a.selection__link(href='#!')
                picture.selection__image-wrapper
                  source(media='(min-width: 1900px)' srcset='img/selection/selection-1-wide-desktop.webp 1x, img/selection/selection-1-wide-desktop@2x.webp 2x')
                  source(media='(min-width: 1346px)' srcset='img/selection/selection-1-desktop.webp 1x, img/selection/selection-1-desktop@2x.webp 2x')
                  source(media='(min-width: 768px)' srcset='img/selection/selection-1-tablet.webp 1x, img/selection/selection-1-tablet@2x.webp 2x')
                  img.selection__image(src='img/selection/selection-1.webp' srcset='img/selection/selection-1@2x.webp 2x' alt='' loading='lazy')
            li.selection__slider-item.swiper-slide
              a.selection__link(href='#!')
                picture.selection__image-wrapper
                  source(media='(min-width: 1900px)' srcset='img/selection/selection-1-wide-desktop.webp 1x, img/selection/selection-1-wide-desktop@2x.webp 2x')
                  source(media='(min-width: 1346px)' srcset='img/selection/selection-1-desktop.webp 1x, img/selection/selection-1-desktop@2x.webp 2x')
                  source(media='(min-width: 768px)' srcset='img/selection/selection-1-tablet.webp 1x, img/selection/selection-1-tablet@2x.webp 2x')
                  img.selection__image(src='img/selection/selection-1.webp' srcset='img/selection/selection-1@2x.webp 2x' alt='' loading='lazy')
            li.selection__slider-item.swiper-slide
              a.selection__link(href='#!')
                picture.selection__image-wrapper
                  source(media='(min-width: 1900px)' srcset='img/selection/selection-1-wide-desktop.webp 1x, img/selection/selection-1-wide-desktop@2x.webp 2x')
                  source(media='(min-width: 1346px)' srcset='img/selection/selection-1-desktop.webp 1x, img/selection/selection-1-desktop@2x.webp 2x')
                  source(media='(min-width: 768px)' srcset='img/selection/selection-1-tablet.webp 1x, img/selection/selection-1-tablet@2x.webp 2x')
                  img.selection__image(src='img/selection/selection-1.webp' srcset='img/selection/selection-1@2x.webp 2x' alt='' loading='lazy')
            li.selection__slider-item.swiper-slide
              a.selection__link(href='#!')
                picture.selection__image-wrapper
                  source(media='(min-width: 1900px)' srcset='img/selection/selection-1-wide-desktop.webp 1x, img/selection/selection-1-wide-desktop@2x.webp 2x')
                  source(media='(min-width: 1346px)' srcset='img/selection/selection-1-desktop.webp 1x, img/selection/selection-1-desktop@2x.webp 2x')
                  source(media='(min-width: 768px)' srcset='img/selection/selection-1-tablet.webp 1x, img/selection/selection-1-tablet@2x.webp 2x')
                  img.selection__image(src='img/selection/selection-1.webp' srcset='img/selection/selection-1@2x.webp 2x' alt='' loading='lazy')
            li.selection__slider-item.swiper-slide
              a.selection__link(href='#!')
                picture.selection__image-wrapper
                  source(media='(min-width: 1900px)' srcset='img/selection/selection-1-wide-desktop.webp 1x, img/selection/selection-1-wide-desktop@2x.webp 2x')
                  source(media='(min-width: 1346px)' srcset='img/selection/selection-1-desktop.webp 1x, img/selection/selection-1-desktop@2x.webp 2x')
                  source(media='(min-width: 768px)' srcset='img/selection/selection-1-tablet.webp 1x, img/selection/selection-1-tablet@2x.webp 2x')
                  img.selection__image(src='img/selection/selection-1.webp' srcset='img/selection/selection-1@2x.webp 2x' alt='' loading='lazy')
            li.selection__slider-item.swiper-slide
              a.selection__link(href='#!')
                picture.selection__image-wrapper
                  source(media='(min-width: 1900px)' srcset='img/selection/selection-1-wide-desktop.webp 1x, img/selection/selection-1-wide-desktop@2x.webp 2x')
                  source(media='(min-width: 1346px)' srcset='img/selection/selection-1-desktop.webp 1x, img/selection/selection-1-desktop@2x.webp 2x')
                  source(media='(min-width: 768px)' srcset='img/selection/selection-1-tablet.webp 1x, img/selection/selection-1-tablet@2x.webp 2x')
                  img.selection__image(src='img/selection/selection-1.webp' srcset='img/selection/selection-1@2x.webp 2x' alt='' loading='lazy')
            li.selection__slider-item.swiper-slide
              a.selection__link(href='#!')
                picture.selection__image-wrapper
                  source(media='(min-width: 1900px)' srcset='img/selection/selection-1-wide-desktop.webp 1x, img/selection/selection-1-wide-desktop@2x.webp 2x')
                  source(media='(min-width: 1346px)' srcset='img/selection/selection-1-desktop.webp 1x, img/selection/selection-1-desktop@2x.webp 2x')
                  source(media='(min-width: 768px)' srcset='img/selection/selection-1-tablet.webp 1x, img/selection/selection-1-tablet@2x.webp 2x')
                  img.selection__image(src='img/selection/selection-1.webp' srcset='img/selection/selection-1@2x.webp 2x' alt='' loading='lazy')
            li.selection__slider-item.swiper-slide
              a.selection__link(href='#!')
                picture.selection__image-wrapper
                  source(media='(min-width: 1900px)' srcset='img/selection/selection-1-wide-desktop.webp 1x, img/selection/selection-1-wide-desktop@2x.webp 2x')
                  source(media='(min-width: 1346px)' srcset='img/selection/selection-1-desktop.webp 1x, img/selection/selection-1-desktop@2x.webp 2x')
                  source(media='(min-width: 768px)' srcset='img/selection/selection-1-tablet.webp 1x, img/selection/selection-1-tablet@2x.webp 2x')
                  img.selection__image(src='img/selection/selection-1.webp' srcset='img/selection/selection-1@2x.webp 2x' alt='' loading='lazy')
            li.selection__slider-item.swiper-slide
              a.selection__link(href='#!')
                picture.selection__image-wrapper
                  source(media='(min-width: 1900px)' srcset='img/selection/selection-1-wide-desktop.webp 1x, img/selection/selection-1-wide-desktop@2x.webp 2x')
                  source(media='(min-width: 1346px)' srcset='img/selection/selection-1-desktop.webp 1x, img/selection/selection-1-desktop@2x.webp 2x')
                  source(media='(min-width: 768px)' srcset='img/selection/selection-1-tablet.webp 1x, img/selection/selection-1-tablet@2x.webp 2x')
                  img.selection__image(src='img/selection/selection-1.webp' srcset='img/selection/selection-1@2x.webp 2x' alt='' loading='lazy')
            li.selection__slider-item.swiper-slide
              a.selection__link(href='#!')
                picture.selection__image-wrapper
                  source(media='(min-width: 1900px)' srcset='img/selection/selection-1-wide-desktop.webp 1x, img/selection/selection-1-wide-desktop@2x.webp 2x')
                  source(media='(min-width: 1346px)' srcset='img/selection/selection-1-desktop.webp 1x, img/selection/selection-1-desktop@2x.webp 2x')
                  source(media='(min-width: 768px)' srcset='img/selection/selection-1-tablet.webp 1x, img/selection/selection-1-tablet@2x.webp 2x')
                  img.selection__image(src='img/selection/selection-1.webp' srcset='img/selection/selection-1@2x.webp 2x' alt='' loading='lazy')
            li.selection__slider-item.swiper-slide
              a.selection__link(href='#!')
                picture.selection__image-wrapper
                  source(media='(min-width: 1900px)' srcset='img/selection/selection-1-wide-desktop.webp 1x, img/selection/selection-1-wide-desktop@2x.webp 2x')
                  source(media='(min-width: 1346px)' srcset='img/selection/selection-1-desktop.webp 1x, img/selection/selection-1-desktop@2x.webp 2x')
                  source(media='(min-width: 768px)' srcset='img/selection/selection-1-tablet.webp 1x, img/selection/selection-1-tablet@2x.webp 2x')
                  img.selection__image(src='img/selection/selection-1.webp' srcset='img/selection/selection-1@2x.webp 2x' alt='' loading='lazy')
            li.selection__slider-item.swiper-slide
              a.selection__link(href='#!')
                picture.selection__image-wrapper
                  source(media='(min-width: 1900px)' srcset='img/selection/selection-1-wide-desktop.webp 1x, img/selection/selection-1-wide-desktop@2x.webp 2x')
                  source(media='(min-width: 1346px)' srcset='img/selection/selection-1-desktop.webp 1x, img/selection/selection-1-desktop@2x.webp 2x')
                  source(media='(min-width: 768px)' srcset='img/selection/selection-1-tablet.webp 1x, img/selection/selection-1-tablet@2x.webp 2x')
                  img.selection__image(src='img/selection/selection-1.webp' srcset='img/selection/selection-1@2x.webp 2x' alt='' loading='lazy')
            li.selection__slider-item.swiper-slide
              a.selection__link(href='#!')
                picture.selection__image-wrapper
                  source(media='(min-width: 1900px)' srcset='img/selection/selection-1-wide-desktop.webp 1x, img/selection/selection-1-wide-desktop@2x.webp 2x')
                  source(media='(min-width: 1346px)' srcset='img/selection/selection-1-desktop.webp 1x, img/selection/selection-1-desktop@2x.webp 2x')
                  source(media='(min-width: 768px)' srcset='img/selection/selection-1-tablet.webp 1x, img/selection/selection-1-tablet@2x.webp 2x')
                  img.selection__image(src='img/selection/selection-1.webp' srcset='img/selection/selection-1@2x.webp 2x' alt='' loading='lazy')
            li.selection__slider-item.swiper-slide
              a.selection__link(href='#!')
                picture.selection__image-wrapper
                  source(media='(min-width: 1900px)' srcset='img/selection/selection-1-wide-desktop.webp 1x, img/selection/selection-1-wide-desktop@2x.webp 2x')
                  source(media='(min-width: 1346px)' srcset='img/selection/selection-1-desktop.webp 1x, img/selection/selection-1-desktop@2x.webp 2x')
                  source(media='(min-width: 768px)' srcset='img/selection/selection-1-tablet.webp 1x, img/selection/selection-1-tablet@2x.webp 2x')
                  img.selection__image(src='img/selection/selection-1.webp' srcset='img/selection/selection-1@2x.webp 2x' alt='' loading='lazy')
            li.selection__slider-item.swiper-slide
              a.selection__link(href='#!')
                picture.selection__image-wrapper
                  source(media='(min-width: 1900px)' srcset='img/selection/selection-1-wide-desktop.webp 1x, img/selection/selection-1-wide-desktop@2x.webp 2x')
                  source(media='(min-width: 1346px)' srcset='img/selection/selection-1-desktop.webp 1x, img/selection/selection-1-desktop@2x.webp 2x')
                  source(media='(min-width: 768px)' srcset='img/selection/selection-1-tablet.webp 1x, img/selection/selection-1-tablet@2x.webp 2x')
                  img.selection__image(src='img/selection/selection-1.webp' srcset='img/selection/selection-1@2x.webp 2x' alt='' loading='lazy')
