mixin selection
  section.selection&attributes(attributes)
    .selection__header
      .selection__header-inner.container
        h2.selection__heading.heading.heading--small Мы отобрали для вас лучшее из&nbsp;многообразия мебели и&nbsp;интерьеров
        p.selection__offer Вы можете приехать с дизайнером и&nbsp;комфортно обсудить ваш проект и&nbsp;решения в&nbsp;переговорной комнате
    .selection__slider
      +slider-arrows(class='selection__slider-arrows')
      .selection__slider-list-wrapper.swiper
          ul.selection__slider-list.swiper-wrapper
            each number in [1, 2, 3, 4, 5]
              li.selection__slider-item.swiper-slide
                a.selection__link(href='#!')
                  picture.selection__image-wrapper
                    source(media='(min-width: 768px)' srcset=`img/selection/${number}.webp 1x, img/selection/${number}@2x.webp 2x`)
                    img.selection__image(src=`img/selection/${number}.webp` alt='' loading='lazy')
