mixin select(select)
  select.select(name= select.name)&attributes(attributes)
    if select.placeholder
      option(value='')= select.placeholder
    each option in select.options
      option(value= option.value)= option.text
