mixin share
  .share&attributes(attributes)
    p.share__text Поделиться:
    ul.share__list
      li.share__item
        a.share__link
          span.visually-hidden Поделиться в VK.
          img.share__image(src='img/icons.svg#share_vk' width='30' heght='30' alt='')
      li.share__item
        a.share__link
          span.visually-hidden Поделиться в Одноклассниках.
          img.share__image(src='img/icons.svg#share_ok' width='30' heght='30' alt='')
      li.share__item
        a.share__link
          span.visually-hidden Поделиться в Whatsapp.
          img.share__image(src='img/icons.svg#share_whatsapp' width='30' heght='30' alt='')
