mixin sign-in-modal-form
  form.modal-form(action='https://echo.htmlacademy.ru' method='post' target='_blank')&attributes(attributes)
    h2.modal-form__heading Войти в личный кабинет
    fieldset.modal-form__section
      +text-field('Ваш телефон:', 'phone', 'tel', '', 'Телефон', true)
    fieldset.modal-form__footer
      +button('button', 'Получить код', 'submit')(class='modal-form__submit-button button--primary')
      small.modal-form__comment Нажимая на кнопку «Получить код», вы соглашаетесь с #[a.modal-form__comment-link(href='#!' target='_blank' rel='noopener') условиями политики конфиденциальности]
