mixin slider-arrows
  ul.slider-arrows&attributes(attributes)
    li.slider-arrows__item
      button.slider-arrows__button.slider-arrows__button--prev(type='button')
        span.visually-hidden Предыдущий
    li.slider-arrows__item
      button.slider-arrows__button.slider-arrows__button--next(type='button')
        span.visually-hidden Следующий
