mixin user-navigation
  ul.user-navigation&attributes(attributes)
    li.user-navigation__item
      a.user-navigation__link.user-navigation__link--accent(href='#!') Пользователь 1234
    li.user-navigation__item
      a.user-navigation__link(href='account.html') Мои заказы
    li.user-navigation__item
      a.user-navigation__link(href='account.html#profile') Профиль
    li.user-navigation__item
      a.user-navigation__link(href='account.html#favorites') Избранное
    li.user-navigation__item
      a.user-navigation__link.user-navigation__link--exit(href='#!') Выйти
