mixin vacancy-features
  ul.vacancy-features&attributes(attributes)
    li.vacancy-features__item Без опыта
      img.vacancy-features__icon(src='img/icons.svg#vacancy_like' width='24' height='24' alt='' aria-hidden='true')
    li.vacancy-features__item Полная занятость, 2/2
      img.vacancy-features__icon(src='img/icons.svg#clock' width='24' height='24' alt='' aria-hidden='true')
