mixin vacancy
  article.vacancy&attributes(attributes)
    .vacancy__inner.container
      header.vacancy__header
        h1.vacancy__heading.heading Ведущий дизайнер - консультант
        +vacancy-features(class='vacancy__features vacancy-features--big')
      .vacancy__body
        section
          p Мы авторитетная компания, а это значит, что работать у нас надежно. Компания Калипсо открыла двери своих мебельных салонов в далеком 1997 году и с тех пор мы активно развиваемся и успешно работаем. Если вы уловили нашу волну и хотите у нас работать Дизайнером-консультантом мебели и света, присылайте резюме и звоните, договоримся о встрече и лично познакомимся!
          p Хотите, мы откроем вам секрет нашей успешной работы? Мы профессионалы, знаем все о модных тенденциях дизайна, любим хорошую мебель и преданы красивым стильным интерьерам.
        .vacancy__logo-wrapper
          img.vacancy__logo(src='img/logo.svg#logo' width='196' height='48' alt='Логотип КАЛИПСО.')
          //- +logo(class='vacancy__logo')
        section
          h2 Ключевые навыки
          ul
            li Навыки продаж;
            li Грамотная речь;
            li B2C продажи;
            li CRM
            li AutoCAD
            li MS Outlook;
            li Пользователь ПК
        section
          h2 Обязанности
          ul
            li Продажа мебели ведущих европейских производителей на заказ;
            li Работа с дизайн-проектами;
            li Оформление заказа в программах фабрик и просчет заказа;
            li Работа с клиентами и архитекторами над проектами;
            li Составление коммерческих предложений;
            li Ведение проекта на всех этапах до сдачи проекта.
        section
          h2 Требования
          ul
            li Подтвержденный успешный опыт работы в продажах (импортная мебель высокого уровня);
            li Навык талантливо продавать любой предмет мебели домашнего интерьера от кухни и встроенного шкафа до люстры и светильника;
            li Умение налаживать первый контакт, вести диалог, выявлять потребности у самых важных, привилегированных клиентов;
            li Навык талантливо продавать любой предмет мебели домашнего интерьераот кухни и встроенного шкафа до люстры и светильника;
            li Подтвержденный опыт работы с европейскими поставщиками мебели на заказ, работы с проектами от архитекторов, дизайнеров; умение работать с прайс-листами
            li Умение работать с прайс-листами;
        section
          h2 Условия
          ul
            li График работы: 5/2 (с 10-00 до 19-00 или с 11-00 до 20-00);
            li Трудоустройство по ТК РФ;
            li Заработная плата: оклад + % от личных продаж + повышающие коэффициенты (возможно заработать от 400 000 руб. и выше);
            li Стажировка в Италии, Германии и Франции на фабриках производителей за счет компании;
      +button('a', 'Откликнуться на hh.ru', '', 'https://hh.ru')(class='vacancy__button button--primary' target='_blank' rel='noopener')
