mixin video(video)
  .video&attributes(attributes)
    video(class='video__player' src= video && video.src playsinline='' controls='')
    img.video__poster(src= video && video.poster alt='')
    .video__play-button-wrapper
      button.video__play-button
        span.visually-hidden Воспроизвести
