mixin video({ poster })
  .video&attributes(attributes)
    video(class='video__player' src='files/video.mp4' controls)
    img.video__poster(src= poster alt='' loading='lazy')
    .video__play-button-wrapper
      button.video__play-button
        span.visually-hidden Воспроизвести
