extends layout/layout

block variables
  - var title = 'О нас'
  - var pageClass = 'about-page'

prepend styles
  link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')

block content
  +banner(banners.exhibition)
  //- +navigation-tabs
  //- +selection
  //- +ideas
  //- +advantages
  //- +premium-brands
  //- +terms-with-image
  //- +subscription-with-image


prepend scripts
  script(src='vendor/swiper/swiper-bundle.min.js')
