extends layout/layout

block variables
  - var title = 'О нас'
  - var pageClass = 'about-page'
  - var isHeaderTransparent = true

block content
  +centered-breadcrumbs([
    { text: 'О нас' },
  ], true)(class='page__suspended-breadcrumbs')
  +banner(banners.about)
  +about
  +members('Лица компании', members)

append modals
  +modal(class='modal--with_form' data-modal='feedback')
    +feedback-modal-form(class='modal__form')
