extends layout/layout

block variables
  - var title = 'О нас'
  - var pageClass = 'about-page'
  - var isHeaderTransparent = true

prepend styles
  link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')

block content
  +centered-breadcrumbs([
    { text: 'О нас' },
  ], true)(class='page__suspended-breadcrumbs')
  +banner(banners.about)
  +about
  +members('Лица компании', members)

prepend scripts
  script(src='vendor/swiper/swiper-bundle.min.js')
