extends layout/layout

block variables
  - var title = 'Блог'
  - var pageClass = 'articles-page'

block content
  +centered-breadcrumbs([
      { text: 'Блог' },
    ])
  +articles(articles, 'main')
  +subscription-with-image
