extends layout/layout

block variables
  - var title = 'Калипсо'
  - var pageClass = 'articles-page'

prepend styles
  link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')

block content
  +centered-breadcrumbs([
      { text: 'Блог' },
    ])(class='page__breadcrumbs')
  +navigation-tabs
  +selection
  +ideas
  +advantages
  +premium-brands
  +terms-with-image
  +subscription-with-image
  +articles(articles, true)

prepend scripts
  script(src='vendor/swiper/swiper-bundle.min.js')
