extends layout/layout

block variables
  - var title = 'Блог'
  - var pageClass = 'articles-page'

prepend styles
  link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')

block content
  +centered-breadcrumbs([
      { text: 'Блог' },
    ])(class='page__breadcrumbs')
  +articles(articles, true)
  +subscription-with-image

prepend scripts
  script(src='vendor/swiper/swiper-bundle.min.js')
