extends layout/layout

block variables
  - var title = 'Бренд'
  - var pageClass = 'brand-page'

block content
  +centered-breadcrumbs([
    { text: 'Бренды', href: 'brands.html' },
    { text: 'Calligaris' },
  ])
  +about-brand
  +catalog('Товары бренда Calligaris')
