extends layout/layout

block variables
  - var title = 'Корзина'
  - var pageClass = 'cart-page'

prepend styles
  link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')

block content

prepend scripts
  script(src='vendor/swiper/swiper-bundle.min.js')
