extends layout/layout

block variables
  - var title = 'Корзина'
  - var pageClass = 'cart-page'

block content
  +back-link('Вернуться к покупкам', 'catalog.html')
  +page-heading('Корзина')
  +cart-form
  +map-marker-template
