extends layout/layout

block variables
  - var title = 'Категории'
  - var pageClass = 'categories-page'

prepend styles
  link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')

block content
  +centered-breadcrumbs([
    { text: 'Категории' },
  ])(class='page__breadcrumbs')
  +page-heading('Категории')(class='page__heading')
  +centered-navigation-list(class='page__navigation-list')
  +products('Хит', products)(class='page__products')
  +subscription-with-image

prepend scripts
  script(src='vendor/swiper/swiper-bundle.min.js')
