extends layout/layout

block variables
  - var title = 'Комоды и тумбы'
  - var pageClass = 'category-page'

prepend styles
  link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')

block content
  +centered-breadcrumbs([
    { text: 'Комоды и тумбы' },
  ])
  +page-heading('Комоды и тумбы')
  +navigation-shortcuts
  +catalog('Каталог', true, true)(class='catalog--bordered')
  +products('Вы смотрели', products)
  +subscription-with-image

prepend scripts
  script(src='vendor/swiper/swiper-bundle.min.js')
