extends layout/layout

block variables
  - var title = 'Категории'
  - var pageClass = 'categories-page'

prepend styles
  link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')

block content
  +centered-breadcrumbs([
    { text: 'Категории' },
  ])
  +page-heading('Категории')
  +centered-navigation-list
  +products('Хит', products)
  +subscription-with-image

prepend scripts
  script(src='vendor/swiper/swiper-bundle.min.js')
