extends layout/layout

block variables
  - var title = 'Сертификаты'
  - var pageClass = 'certificates-page'

block content
  +centered-breadcrumbs([
    { text: 'Сертификаты' },
  ])
  +certificates
  +centered-certificates-form
  +subscription-with-image
