extends layout/layout

block variables
  - var title = 'Сертификаты'
  - var pageClass = 'certificates-page'

prepend styles
  link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')

block content
  +centered-breadcrumbs([
    { text: 'Сертификаты' },
  ])
  +certificates
  +centered-certificates-form
  +subscription-with-image

prepend scripts
  script(src='vendor/swiper/swiper-bundle.min.js')
