extends layout/layout

block variables
  - var title = 'Контакты'
  - var pageClass = 'contacts-page'

block content
  +centered-breadcrumbs([
      { text: 'Контакты' },
    ])
  +contacts('Контакты', contacts.main, true)(class='contacts-page__contacts')
  +centered-feedback-form
  +appointment
  +map-marker-template(true)

append modals
  +modal(class='modal--with_form' data-modal='salon')
    +salon-modal-form(class='modal__form')
