extends layout/layout

block variables
  - var title = 'Сотрудничество'
  - var pageClass = 'cooperation-page'
  - var isHeaderTransparent = true

block content
  +centered-breadcrumbs([
    { text: 'Сотрудничество' },
  ], true)(class='page__suspended-breadcrumbs')
  +banner(banners.cooperation)
  +terms-with-image(terms.cooperation)
  +projects('Жилые комплексы', 'Описание работ, клиентов, преимуществ', false, 1)
  +members('<b class="accent">О нас</b> говорят', members)

append modals
  +modal(class='modal--with_form modal--hidden' data-modal='feedback')
    +feedback-modal-form(class='modal__form')
