extends layout/layout

block variables
  - var title = 'Покупателям'
  - var pageClass = 'contacts-page'

block content
  +centered-breadcrumbs([
      { text: 'Покупателям' },
    ])
  +customers

append modals
  +modal(class='modal--with_document')
    +document-modal(class='modal__document')
