extends layout/layout

block variables
  - var title = 'Доставка, оплата, сборка'
  - var pageClass = 'delivery-and-payment-page'

block content
  +centered-breadcrumbs([
      { text: 'Покупателям (доставка, оплата, сборка)' },
    ])
  +customers('delivery-and-payment')
