extends layout/layout

block variables
  - var title = 'Дизайнерам'
  - var pageClass = 'designers-page'
  - var isHeaderTransparent = true

block content
  +centered-breadcrumbs([
    { text: 'Дизайнерам' },
  ], true)(class='page__suspended-breadcrumbs')
  +banner(banners.designers)
  +terms-with-image(terms.cooperation)

append modals
  +modal(class='modal--with_form modal--hidden' data-modal='cooperation')
    +cooperation-modal-form(class='modal__form')
