extends layout/layout

block variables
  - var title = 'Продукт'
  - var pageClass = 'product-page'

block content
  +centered-breadcrumbs([
      { text: 'Premium', href: 'premium-catalog.html' },
      { text: 'Комоды и тумбы', href: 'premium-category.html' },
      { text: 'Комод Chill' },
    ])
  +product
  +products('С этим товаром покупают', products, 'l')
  +products('Похожие товары', products, 'l')
  +products('Вы смотрели', products)
  +features

append modals
  +modal(class='modal--with_form modal--hidden' data-modal='one-click')
    +one-click-modal-form(class='modal__form')
  +modal(class='modal--with_form modal--hidden' data-modal='installment-request')
    +installment-request-modal-form(class='modal__form')
  +modal(class='modal--with_form modal--hidden' data-modal='product-question')
    +product-question-modal-form(class='modal__form')
  +modal(class='modal--with_alert modal--open')
    +alert(
      'Заявка успешно отправлена',
      'Наш менеджер свяжется с вами в течении 3 рабочих дней',
      'Закрыть'
    )(class='modal__alert')
  +modal(class='modal--with_gallery modal--with_product-gallery modal--hidden')
    +gallery(productGallery.concat(productGallery, productGallery))(class='modal__gallery')
