extends layout/layout

block variables
  - var title = 'Калипсо'
  - var pageClass = 'index-page'
  - var isHeaderTransparent = true
  - var isAuthorized = true

block content
  +banners(banners)
  +navigation-tabs
  +ideas
  +premium-brands
  +selection
  +appointment
  +products('Акционные товары со скидкой', products, 'l')
  +advantages-cards
  +terms-with-image(terms.fish)
  +articles(articles)
  +subscription-with-image
  +map-marker-template(true)

append modals
  +modal(class='modal--with_cities modal--hidden')
    +cities(cities, true)(class='modal__cities')
  +modal(class='modal--with_form modal--open' data-modal='salon')
    +salon-modal-form(class='modal__form')
