extends layout/layout

block variables
  - var title = 'Калипсо'
  - var pageClass = 'index-page'
  - var isHeaderTransparent = true
  - var isAuthorized = true

block content
  +banners(banners)
  +navigation-tabs
  +ideas
  +premium-brands
  +selection
  +appointment
  +products('Акционные товары со скидкой', products, 'l')
  +advantages-cards
  +terms-with-image(terms.fish)
  +articles(articles)
  +subscription-with-image
  +map-marker-template(true)

block modals
  +modal(class='modal--with_form' data-modal='sign-in')
    +sign-in-modal-form(class='modal__form')
  +modal(class='modal--with_search modal--open' data-modal='search')
    +search-modal(class='modal__search')
