extends layout/layout

block variables
  - var title = 'Корзина'
  - var pageClass = 'cart-page'

block content
  +back-link('Вернуться к покупкам', 'catalog.html')
  +placeholder('Корзина', 'Здесь пока нет товаров', 'Перейти к покупкам', 'catalog.html')
  +products('Вы смотрели', products, 'l')
