extends layout/layout

block variables
  - var title = 'Корзина'
  - var pageClass = 'cart-page'

block content
  +cart('checkout', true)
  +map-marker-template

append modals
  +modal(class='modal--with_form modal--open' data-modal='sign-in')
    +sign-in-modal-form(class='modal__form')
