extends layout/layout

block variables
  - var title = 'Калипсо'
  - var pageClass = 'index-page'
  - var isHeaderTransparent = true
  - var isAuthorized = true

prepend styles
  link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')

block content
  +banners(banners)
  +navigation-tabs
  +ideas
  +premium-brands
  +selection
  +appointment
  +products('Акционные товары со скидкой', products, 'l')
  +advantages-cards
  +terms-with-image
  +articles(articles)
  +subscription-with-image
  +map-marker-template(true)


append modals
  +city-popup

prepend scripts
  script(src='vendor/swiper/swiper-bundle.min.js')
