extends layout/layout

block variables
  - var title = 'Корзина'
  - var pageClass = 'cart-page'

prepend styles
  link(rel='stylesheet' href='vendor/choices/choices.min.css')

block content
  +back-link('Вернуться к покупкам', 'catalog.html')
  +page-heading('Оформление заказа')
  +cart-form(true, 'delivery', 1)
  +map-marker-template

append modals
  +modal(class='modal--with_form modal--open')
    +sign-in-form(class='modal__form')

prepend scripts
  script(src='vendor/choices/choices.min.js')
