extends layout/layout

block variables
  - var title = 'Продукт'
  - var pageClass = 'product-page'

prepend styles
  link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')

block content
  +centered-breadcrumbs([
      { text: 'Premium', href: 'premium-catalog.html' },
      { text: 'Комоды и тумбы', href: 'premium-category.html' },
      { text: 'Комод Chill' },
    ])
  +product
  +products('С этим товаром покупают', products, 'l')
  +products('Похожие товары', products, 'l')
  +products('Вы смотрели', products)
  +features

append modals
  +modal(class='modal--with_cart modal--open')
    +cart-modal(class='modal__cart')

prepend scripts
  script(src='vendor/swiper/swiper-bundle.min.js')
