extends layout/layout

block variables
  - var title = 'Карта сайта'

block content
  .container
    h2 Основные страницы
    ul
      li #[a(href='index.html') Главная]
      li #[a(href='categories.html') Категории]
      li #[a(href='catalog.html') Каталог]
      li #[a(href='rooms.html') Комнаты]
      li #[a(href='styles.html') Стили]
    h2 Страницы для разработчиков
    ul
      li #[a(href='dev-ui-kit.html') UI-kit]
