extends layout/layout

block variables
  - var title = 'Поиск'
  - var pageClass = 'category-page'

block content
  +centered-breadcrumbs([
    { text: 'Поиск' },
  ])
  +search
  +articles(articles, 'search-result')
