extends layout/layout

block variables
  - var title = 'Корзина'
  - var pageClass = 'cart-page'

block content
  +cart('checkout', true)
  +map-marker-template

append modals
  +modal(class='modal--with_form modal--open' data-modal='code')
    +code-modal-form('Войти', true)(class='modal__form')
