extends layout/layout

block variables
  - var title = 'Карта сайта'

block content
  .container
    h2 Основные страницы
    ul
      li #[a(href='account.html') Аккаунт]
      li #[a(href='brands.html') Бренды]
      li #[a(href='articles.html') Блог]
      li #[a(href='cart.html') Корзина]
      li #[a(href='catalog.html') Каталог]
      li #[a(href='categories.html') Категории]
      li #[a(href='category.html') Категория]
      li #[a(href='certificates.html') Сертификаты]
      li #[a(href='contacts.html') Контакты]
      li #[a(href='favorites.html') Избранное]
      li #[a(href='index.html') Главная]
      li #[a(href='premium-catalog.html') Premium-каталог]
      li #[a(href='premium-category.html') Premium-категории]
      li #[a(href='product.html') Товар]
      li #[a(href='rooms.html') Комнаты]
      li #[a(href='styles.html') Стили]
    h2 Страницы для разработчиков
    ul
      li #[a(href='dev-ui-kit.html') UI-kit]
    ul
      li #[a(href='dev-cart-checkout-pickup-authorized.html') Оформление заказа (самовывоз, промокод не введён, авторизованный)]
      li #[a(href='dev-cart-checkout-delivery-promo-entering-unauthorized.html') Оформление заказа (доставка, ввод промокода, неавторизованный)]
      li #[a(href='dev-cart-checkout-delivery-promo-entered-unauthorized.html') Оформление заказа (доставка, промокод введён, неавторизованный)]
      li #[a(href='dev-cart-result.html') Заказ успешно оформлен!]
      li #[a(href='dev-cart-empty.html') Корзина пустая]
      li #[a(href='dev-favorites-empty.html') Избранное (пусто)]
    ul
      li #[a(href='dev-cart-checkout-modal-sign-in.html') Модальное окно "Войти в личный кабинет"]
      li #[a(href='dev-cart-checkout-modal-code.html') Модальное окно "Введите код подтверждения"]
      li #[a(href='dev-account-modal-code-resend.html#account-tab-profile') Модальное окно "Введите код подтверждения" с кнопкой "Отправить повторно"]
      li #[a(href='dev-product-one-click-modal.html') Модальное окно "Купить в 1 клик"]
      li #[a(href='dev-product-installment-request-modal.html') Модальное окно "Заполните заявку на рассрочку"]
      li #[a(href='dev-product-question-modal.html') Модальное окно "Задать вопрос по товару"]
      li #[a(href='dev-product-gallery-modal.html') Модальное окно с фотографиями товара]
      li #[a(href='dev-account-modal-phone.html#account-tab-profile') Модальное окно "Введите номер мобильного телефона"]
      li #[a(href='dev-account-phone-changed-modal.html#account-tab-profile') Модальное окно "Телефон успешно изменен"]
      li #[a(href='dev-product-application-sent-modal.html') Модальное окно "Заявка успешно отправлена"]
    ul
      li #[a(href='dev-index-search-modal.html') Модальное окно поиска]
      li #[a(href='dev-index-search-modal-input.html') Модальное окно поиска с результатами]
      li #[a(href='dev-index-cities.html') Модальное окно "Укажите свой город"]
      li #[a(href='dev-index-cities-input.html') Модальное окно "Укажите свой город" с результатами]
      li #[a(href='dev-index-city.html') Попап "Ваш город: НИЖНИЙ НОВГОРОД"]
