extends layout/layout

block variables
  - var title = 'Корзина'
  - var pageClass = 'cart-page'

block content
  +back-link('Вернуться к покупкам', 'catalog.html')
  +page-heading('Оформление заказа')
  +cart-form(true, 'delivery', 1)
  +map-marker-template
