extends layout/layout

block variables
  - var title = 'Карта сайта'

block content
  .container
    h2 Основные страницы
    ul
      li #[a(href='brands.html') Бренды]
      li #[a(href='articles.html') Блог]
      li #[a(href='cart.html') Корзина]
      li #[a(href='catalog.html') Каталог]
      li #[a(href='categories.html') Категории]
      li #[a(href='category.html') Категория]
      li #[a(href='certificates.html') Сертификаты]
      li #[a(href='index.html') Главная]
      li #[a(href='premium-catalog.html') Premium-каталог]
      li #[a(href='premium-category.html') Premium-категории]
      li #[a(href='product.html') Товар]
      li #[a(href='rooms.html') Комнаты]
      li #[a(href='styles.html') Стили]
    h2 Страницы для разработчиков
    ul
      li #[a(href='dev-ui-kit.html') UI-kit]
    ul
      li #[a(href='dev-cart-checkout-pickup-authorized.html') Оформление заказа (самовывоз, промокод не введён, авторизованный)]
      li #[a(href='dev-cart-checkout-delivery-promo-entering-unauthorized.html') Оформление заказа (доставка, ввод промокода, неавторизованный)]
      li #[a(href='dev-cart-checkout-delivery-promo-entered-unauthorized.html') Оформление заказа (доставка, промокод введён, неавторизованный)]
      li #[a(href='dev-cart-result.html') Заказ успешно оформлен!]
      li #[a(href='dev-cart-empty.html') Корзина пустая]
    ul
      li #[a(href='dev-cart-checkout-modal-sign-in.html') Модальное окно "Войти в личный кабинет"]
      li #[a(href='dev-cart-checkout-modal-code.html') Модальное окно "Введите код подтверждения"]
