extends layout/layout

block variables
  - var title = 'UI-kit'

block content
  style
    .
      .container.dev {
        display: grid;
        gap: 60px;
      }

      .container.dev > div {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        gap: 10px;
        align-items: start;
      }

      .container.dev > div .product__status {
        grid-area: auto;
        margin: 0;
      }

  .container.dev
    div
      +button('button', 'Подписаться', 'submit')(class='button--primary')
      +button('button', 'Подписаться', 'submit')(class='button--primary' disabled)
      +button('button', 'Подписаться', 'submit')(class='button--primary button--pending' disabled)
    div
      +button('button', 'Подписаться', 'submit')(class='button--secondary')
      +button('button', 'Подписаться', 'submit')(class='button--secondary' disabled)
      +button('button', 'Подписаться', 'submit')(class='button--secondary button--pending' disabled)
    div
      +text-field('Ваш e-mail:', 'email', 'email', '', 'E-mail', true)
      +text-field('Ваш e-mail:', 'email', 'email', '', 'E-mail', true, false, true)(class='text-field--disabled')
      +text-field('Ваш e-mail:', 'email', 'email', 'фыргфгр', 'E-mail', true)(class='invalid')
        p.prompt-text Введите корректный e-mail адрес
    div
      +textarea('Ваш вопрос:', 'text', '', 'Напишите, пожалуйста, ваш вопрос', true)
      +textarea('Ваш вопрос:', 'text', '', 'Напишите, пожалуйста, ваш вопрос', true, false, true)(class='textarea--disabled')
      +textarea('Ваш вопрос:', 'text', '', 'Напишите, пожалуйста, ваш вопрос', true)(class='invalid')
        p.prompt-text Заполните это поле
    div
      p.product__status.product__status--5 В наличии
      p.product__status.product__status--4 Ожидается поступление
      p.product__status.product__status--3 Под заказ
    div
      +checker('Россия', false, 'country', 'checkbox', 'russia', true)
      +checker('Италия', false, 'country', 'checkbox', 'italy')
      +checker('Согласие на всё', false, 'country', 'checkbox', 'italy')(class='invalid')
        p.prompt-text Обязательно для заполнения
      +checker('Франция', false, 'country', 'checkbox', 'france', false, true)
      +checker('Германия', false, 'country', 'checkbox', 'germany', true, true)
      +checker('Подпись обязательна, но может быть скрыта визуально', true, 'country', 'checkbox', 'Neverland', true)
    div
      +checker('Россия', false, 'country', 'radio', 'russia', true)
      +checker('Италия', false, 'country', 'radio', 'italy')
      +checker('Франция', false, 'country', 'radio', 'france', false, true)
      +checker('Германия', false, 'country-2', 'radio', 'germany', true, true)
      +checker('Подпись обязательна, но может быть скрыта визуально', true, 'country', 'radio', 'Neverland', true)
