extends layout/layout

block variables
  - var title = 'Личный кабинет'
  - var pageClass = 'account-page'

block content
  +centered-breadcrumbs([
      { text: 'Личный кабинет' },
    ])
  +account

append modals
  +modal(class='modal--with_alert modal--open')
    +alert(
      'Телефон успешно изменен',
      false,
      'Принять'
    )(class='modal__alert')
