extends layout/layout

block variables
  - var title = 'Избранное'
  - var pageClass = 'favorites-page'

block content
  +centered-breadcrumbs([
      { text: 'Избранное' },
    ])
  +placeholder('Избранное', 'Здесь пока нет товаров', 'Вернуться на главную', 'index.html')
