extends layout/layout

block variables
  - var title = 'Карта сайта'

block content
  .container
    h2 Основные страницы
    ul
      li #[a(href='about.html') О нас]
      li #[a(href='account.html') Аккаунт]
      li #[a(href='brand.html') Бренд]
      li #[a(href='brands.html') Бренды]
      li #[a(href='article.html') Статья]
      li #[a(href='articles.html') Блог]
      li #[a(href='cart.html') Корзина (авторизованный)]
      li #[a(href='catalog.html') Каталог]
      li #[a(href='categories.html') Категории]
      li #[a(href='category.html') Категория]
      li #[a(href='certificates.html') Сертификаты]
      li #[a(href='contacts.html') Контакты]
      li #[a(href='customers.html') Покупателям]
      li #[a(href='designers.html') Дизайнерам]
      li #[a(href='favorites.html') Избранное]
      li #[a(href='faq.html') Вопрос-ответ]
      li #[a(href='index.html') Главная (с вариантом меню авторизованного пользователя)]
      li #[a(href='premium-catalog.html') Premium-каталог]
      li #[a(href='premium-category.html') Premium-категория]
      li #[a(href='product.html') Товар]
      li #[a(href='projects.html') Проекты]
      li #[a(href='project.html') Проект]
      li #[a(href='reviews.html') Отзывы]
      li #[a(href='rooms.html') Комнаты]
      li #[a(href='search.html') Поиск (страница поиска с найденными товарами)]
      li #[a(href='styles.html') Стили]
      li #[a(href='vacancies.html') Вакансии]
      li #[a(href='vacancy.html') Вакансия]
      li #[a(href='horeca.html') HoReCa]
      li #[a(href='cooperation.html') Сотрудничество]
      li #[a(href='developers.html') Застройщикам]
      li #[a(href='not-found.html') 404]
    h2 Варианты страниц с альтернативным контентом developers
    ul
      li #[a(href='dev-cart-checkout-promocode-applied-unauthorized.html') Оформление заказа (промокод введён, неавторизованный)]
      li #[a(href='dev-cart-result.html') Заказ успешно оформлен!]
      li #[a(href='dev-cart-empty.html') Корзина пустая]
      li #[a(href='dev-favorites-empty.html') Избранное (пусто)]
      li #[a(href='dev-search-articles.html') Страница поиска с найденными статьями]
    h2 Модальные окна
    ul
      li #[a(href='dev-index-salon-modal.html') Модальное окно "Записаться в салон"]
      li #[a(href='dev-product-one-click-modal.html') Модальное окно "Купить в 1 клик"]
      li #[a(href='dev-product-installment-request-modal.html') Модальное окно "Заполните заявку на рассрочку"]
      li #[a(href='dev-product-question-modal.html') Модальное окно "Задать вопрос по товару"]
      li #[a(href='dev-product-gallery-modal.html') Модальное окно с фотографиями товара]
      li #[a(href='dev-reviews-gallery-modal.html') Модальное окно с фотографиями отзыва]
      li #[a(href='dev-reviews-review-modal.html') Модальное окно "Оставить отзыв"]
      li #[a(href='dev-designers-cooperation-modal.html') Модальное окно "Сотрудничество"]
      li #[a(href='dev-customers-document-modal.html') Модальное окно "Условия оферты"]
    ul
      li #[a(href='dev-product-cart-modal.html') Модальное окно "Товар в корзине"]
      li #[a(href='dev-premium-category-catalog-filters.html') Модальное окно "Фильтры каталога"]
    ul
      li #[a(href='dev-index-search-modal.html') Модальное окно поиска]
      li #[a(href='dev-index-search-modal-input.html') Модальное окно поиска с результатами]
      li #[a(href='dev-index-cities.html') Модальное окно "Укажите свой город"]
      li #[a(href='dev-index-cities-input.html') Модальное окно "Укажите свой город" с результатами]
    ul
      li #[a(href='dev-product-application-sent-modal.html') Модальное окно "Заявка успешно отправлена"]
      li #[a(href='dev-designers-application-sent-modal.html') Модальное окно "Спасибо! Ваша заявка (о сотрудничестве) успешно отправлена"]
      li #[a(href='dev-index-application-sent-modal.html') Модальное окно "Заявка успешно отправлена" (о записи в салон)]
      li #[a(href='dev-reviews-review-sent-modal.html') Модальное окно "Спасибо, что оценили нашу работу"]
      li #[a(href='dev-index-application-not-sent-modal.html') Модальное окно "Не удалось отправить заявку"]
    h2 Попапы
    ul
      li #[a(href='dev-index-user-navigation-popup.html') Попап "Открытое выпадающее меню при нажатии на иконку личного кабинета"]
      li #[a(href='dev-index-city-popup.html') Попап "Ваш город: НИЖНИЙ НОВГОРОД"]
      li #[a(href='dev-project-product-card-popup.html') Открытый попап с карточкой товара на странице "Проект"]
    h2 UI Kit
    ul
      li #[a(href='dev-ui-kit.html') UI-kit]
