extends layout/layout

block variables
  - var title = 'UI-kit'

block content
  style
    .
      .container.dev {
        display: grid;
        gap: 40px;
      }

      .container.dev > div {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        gap: 10px;
        align-items: start;
      }

      .container.dev > div .product__status {
        grid-area: auto;
        margin: 0;
      }

  .container.dev
    div
      +button('button', 'Подписаться', 'submit')(class='button--primary')
      +button('button', 'Подписаться', 'submit')(class='button--primary' disabled)
      +button('button', 'Подписаться', 'submit')(class='button--primary button--pending' disabled)
    div
      +button('button', 'Подписаться', 'submit')(class='button--secondary')
      +button('button', 'Подписаться', 'submit')(class='button--secondary' disabled)
      +button('button', 'Подписаться', 'submit')(class='button--secondary button--pending' disabled)
    div
      +text-field('Ваш e-mail:', 'email', 'email', '', 'E-mail', true)
      +text-field('Ваш e-mail:', 'email', 'email', '', 'E-mail', true, false, true)(class='text-field--disabled')
      +text-field('Ваш e-mail:', 'email', 'email', 'фыргфгр', 'E-mail', true)(class='text-field--error')
        p.text-field__error-text Введите корректный e-mail адрес
    div
      +textarea('Ваш вопрос:', 'text', '', 'Напишите, пожалуйста, ваш вопрос', true)(class='textarea')
      +textarea('Ваш вопрос:', 'text', '', 'Напишите, пожалуйста, ваш вопрос', true, false, true)(class='textarea--disabled')
      +textarea('Ваш вопрос:', 'text', '', 'Напишите, пожалуйста, ваш вопрос', true)(class='textarea--error')
        p.textarea__error-text Заполните это поле
    div
      p.product__status.product__status--5 В наличии
      p.product__status.product__status--4 Ожидается поступление
      p.product__status.product__status--3 Под заказ
