extends layout/layout

block variables
  - var title = 'Избранное'
  - var pageClass = 'favorites-page'

block content
  +centered-breadcrumbs([
      { text: 'Избранное' },
    ])
  +favorites(products.slice(0, 6))
