extends layout/layout

block variables
  - var title = 'Избранное'
  - var pageClass = 'favorites-page'

prepend styles
  link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')

block content
  +centered-breadcrumbs([
      { text: 'Избранное' },
    ])
  //- +products-list(products)
  +favorites(products.slice(0, 6))

prepend scripts
  script(src='vendor/swiper/swiper-bundle.min.js')
