extends layout/layout

block variables
  - var title = 'Гарантия'
  - var pageClass = 'guarantee-page'

block content
  +centered-breadcrumbs([
      { text: 'Покупателям (гарантия)' },
    ])
  +customers('guarantee')
