extends layout/layout

block variables
  - var title = 'Калипсо'
  - var pageClass = 'index-page'
  - var isHeaderTransparent = true

prepend styles
  link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')

block content
  +banners(banners)(class='page__banners')
  +navigation-tabs(class='page__navigation-tabs')
  +ideas
  +premium-brands(class='page__premium-brands')
  +selection(class='page__selection')
  +appointment(class='page__appointment')
  +products('Акционные товары со скидкой', products, 'l')(class='page__products')
  +advantages
  +terms-with-image
  +articles(articles)
  +subscription-with-image
  +map-marker-template

prepend scripts
  script(src='vendor/swiper/swiper-bundle.min.js')
