extends layout/layout

block variables
  - var title = 'Калипсо'
  - var pageClass = 'index-page'
  - var isHeaderTransparent = true

prepend styles
  link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')

block content
  +banners(banners)(class='page__banners')
  +navigation-tabs(class='page__navigation-tabs')
  +appointment
  +selection
  +ideas
  +advantages
  +premium-brands
  +terms-with-image
  +subscription-with-image
  +articles(articles)
  +map-marker-template

prepend scripts
  script(src='vendor/swiper/swiper-bundle.min.js')
