extends layout/layout

block variables
  - var title = 'Условия оферты'
  - var pageClass = 'offer-terms-page'

block content
  +centered-breadcrumbs([
      { text: 'Покупателям (условия оферты)' },
    ])
  +customers('offer-terms')

append modals
  +modal(class='modal--with_document modal--hidden' data-modal='offer-terms-document')
    +offer-terms-document-modal(class='modal__document')
