extends layout/layout

block variables
  - var title = 'Premium'
  - var pageClass = 'premium-catalog-page'

block content
  +centered-breadcrumbs([
    { text: 'Каталог', href: 'catalog.html' },
    { text: 'Premium' },
  ])
  +page-premium-heading('Мебель Premium-класса')
  +premium-navigation
  +centered-navigation-list
  +premium-brands
  +links(
    'Комнаты',
    styles.slice(0, 4),
    { text: 'Все комнаты', href: 'rooms.html' }
  )(class='links--big')
  +links(
    'Стили',
    styles.slice(0, 4),
    { text: 'Все стили', href: 'styles.html' }
  )(class='links--big')
  +product-tags
  +subscription-with-image
