extends layout/layout

block variables
  - var title = 'Продукт'
  - var pageClass = 'product-page'

prepend styles
  link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')

block content
  +centered-breadcrumbs([
      { text: 'Premium', href: 'premium-catalog.html' },
      { text: 'Комоды и тумбы', href: 'premium-category.html' },
      { text: 'Комод Chill' },
    ])
  +product
  +products('С этим товаром покупают', products, 'l')
  +products('Похожие товары', products, 'l')
  +products('Вы смотрели', products)
  +features

append modals
  +modal(class='modal--with_form')
    +one-click-modal-form(class='modal__form')
  +modal(class='modal--with_form')
    +installment-request-modal-form(class='modal__form')
  +modal(class='modal--with_form')
    +product-question-modal-form(class='modal__form')
  +modal(class='modal--with_alert')
    +alert(
      'Заявка успешно отправлена',
      'Наш менеджер свяжется с вами в течении 3 рабочих дней',
      'Закрыть'
    )(class='modal__alert')
  +modal(class='modal--with_gallery modal--with_product-gallery')
    +gallery(productGallery.concat(productGallery, productGallery))(class='modal__gallery')
  +modal(class='modal--with_cart')
    +cart-modal(class='modal__cart')

prepend scripts
  script(src='vendor/swiper/swiper-bundle.min.js')
