extends layout/layout

block variables
  - var title = 'Продукт'
  - var pageClass = 'product-page'

block content
  +centered-breadcrumbs([
      { text: 'Premium', href: 'premium-catalog.html' },
      { text: 'Комоды и тумбы', href: 'premium-category.html' },
      { text: 'Комод Chill' },
    ])
  +product
  +products('С этим товаром покупают', products, 'l')
  +products('Похожие товары', products, 'l')
  +products('Вы смотрели', products)
  +features

append modals
  +modal(class='modal--with_form' data-modal='one-click')
    +one-click-modal-form(class='modal__form')
  +modal(class='modal--with_form' data-modal='installment-request')
    +installment-request-modal-form(class='modal__form')
  +modal(class='modal--with_form' data-modal='product-question')
    +product-question-modal-form(class='modal__form')
  +modal(class='modal--with_gallery modal--with_product-gallery')
    +gallery(productGallery.concat(productGallery, productGallery).slice(0, 5))(class='modal__gallery')
  +modal(class='modal--with_cart')
    +cart-modal(class='modal__cart')
  +modal(class='modal--with_document' data-modal='delivery-document')
    +delivery-document-modal(class='modal__document')
  +modal(class='modal--with_document' data-modal='guarantee-document')
    +guarantee-document-modal(class='modal__document')
