extends layout/layout

block variables
  - var title = 'Проект'
  - var pageClass = 'project-page'

prepend styles
  link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')

block content
  +centered-breadcrumbs([
    { text: 'Реализованные проекты', href: 'projects.html' },
    { text: 'ЖК «Ард-хаус», Нижний Новгород' },
  ])
  +project
  +centered-blockquote
  +projects-slider

prepend scripts
  script(src='vendor/swiper/swiper-bundle.min.js')
