extends layout/layout

block variables
  - var title = 'Отзывы'
  - var pageClass = 'reviews-page'

block content
  +centered-breadcrumbs([
    { text: 'Отзывы' },
  ])
  +external-reviews
  +reviews(reviews)
  +video-reviews(videoReviews.concat(videoReviews))

append modals
  +modal(class='modal--with_form' data-modal='review')
    +review-modal-form(class='modal__form')
