extends layout/layout

block variables
  - var title = 'Комнаты'
  - var pageClass = 'rooms-page'

prepend styles
  link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')

block content
  +centered-breadcrumbs([
      { text: 'Комнаты' },
    ])
  +links('Комнаты', rooms)
  +products('Вы смотрели', products)
  +subscription-with-image

prepend scripts
  script(src='vendor/swiper/swiper-bundle.min.js')
