extends layout/layout

block variables
  - var title = 'Комнаты'
  - var pageClass = 'rooms-page'

block content
  +centered-breadcrumbs([
      { text: 'Комнаты' },
    ])
  +links('Комнаты', rooms)
  +products('Вы смотрели', products)
  +subscription-with-image
