extends layout/layout

block variables
  - var title = 'Наши салоны'
  - var pageClass = 'salons-page'

block content
  +centered-breadcrumbs([
      { text: 'Наши салоны' },
    ])
  +salons

append modals
  +modal(class='modal--with_form modal--hidden' data-modal='order-call')
    +order-call-modal-form(class='modal__form')
  +modal(class='modal--with_video modal--hidden' data-modal='video')
    +video()(class='modal__video video--not-rounded')
