extends layout/layout

block variables
  - var title = 'Поиск'
  - var pageClass = 'category-page'

block content
  +centered-breadcrumbs([
    { text: 'Поиск' },
  ])
  +search
  +catalog('Каталог', true, true)(class='catalog--bordered')

append modals
  +modal(class='modal--with_catalog-filters modal--hidden' data-modal='catalog-filters')
    +catalog-filters(class='modal__catalog-filters')
