extends layout/layout

block variables
  - var title = 'Стили'
  - var pageClass = 'styles-page'

block content
  +centered-breadcrumbs([
      { text: 'Стили' },
    ])
  +links('Стили', styles)
  +products('Вы смотрели', products)
  +subscription-with-image
