.advantages {
  font: 500 14px/17px $main-font-family;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 20px;
    line-height: 25px;
  }
}

.advantages__inner {
  display: grid;
  box-sizing: border-box;
  padding: 24px;
  border-radius: 10px;
  gap: 20px;
  background: var(--background-additional-color);

  @media (min-width: $desktop-width) {
    padding: 60px;
    border-radius: 16px;
    gap: 40px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 80px;
    gap: 60px;
  }
}

.advantages__heading {
  margin: 0;
}

.advantages__list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 20px 40px;
  }

  @media (min-width: $laptop-width) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 36px 14px;
  }

  @media (min-width: $wide-desktop-width) {
    gap: 44px 26px;
  }
}

.advantages__item {
  display: grid;
  padding: 0 8px 0 0;
  grid-template-columns: auto 1fr;
  gap: 20px;
  justify-content: start;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0 32px 0 0;
  }

  @media (min-width: $laptop-width) {
    padding: 0 26px 0 0;
    gap: 10px;
  }

  @media (min-width: 1400px) {
    gap: 20px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 0 34px 0 0;
  }
}

.advantages__icon {
  order: -1;
  width: 40px;
  height: 40px;

  @media (min-width: $wide-desktop-width) {
    width: 60px;
    height: 60px;
  }
}
