.advantages__heading {
  margin: 0 0 20px;

  @media (min-width: $desktop-width) {
    margin: 0 0 24px;
  }

  @media (min-width: $wide-desktop-width) {
    margin: 0 0 42px;
  }
}

.advantages__list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  @media (min-width: $mobile-width) {
    grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
  }

  @media (min-width: $tablet-width) {
    grid-auto-rows: 20px 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-auto-rows: 70px 1fr;
    gap: 30px;
  }

  @media (min-width: $wide-desktop-width) {
    grid-auto-rows: 100px 1fr;
    gap: 40px;
  }
}

.advantages__item {
  position: relative;
  z-index: 0;
  display: grid;
  box-sizing: border-box;
  min-height: 234px;
  padding: 11px 22px 9px 10px;
  border-radius: 10px;
  font: 500 12px/14px $main-font-family;
  background-color: var(--background-alter-color);
  color: var(--text-alter-color);
  overflow: hidden;

  &:nth-child(even) {
    align-items: end;
  }

  @media (min-width: $tablet-width) {
    grid-row: span 2;
    min-height: 236px;
    padding: 11px 10px 9px;
    font-size: 14px;
    line-height: 17px;

    &:nth-child(2) {
      grid-row: 2 / 4;
      grid-column: 2 / 3;
    }

    &:nth-child(4) {
      grid-row: 2 / 4;
      grid-column: 4 / 5;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 420px;
    padding: 24px;
    border-radius: 16px;
    font-size: 16px;
    line-height: 19px;
  }

  @media (min-width: $wide-desktop-width) {
    min-height: 600px;
    padding: 40px;
    font-size: 26px;
    line-height: 31px;
  }
}

.advantages__background-wrapper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.advantages__background {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
