.alert {
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 16px 16px 0 0;
  font: 500 14px/17px $main-font-family;
  background: var(--background-additional-color);

  @include main-shadow;

  @media (min-width: $tablet-width) {
    padding: 24px;
    border-radius: 10px 10px 0 0;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $laptop-width) {
    border-radius: 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 60px;
    border-radius: 16px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 40px 80px;
    font-size: 20px;
    line-height: 25px;
  }
}

.alert__heading {
  margin: 0 0 10px;
  text-transform: uppercase;
  font: 500 16px/19px $main-font-family;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 24px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 28px;
    line-height: 34px;
  }
}

.alert__text {
  margin: 0 0 10px;

  @media (min-width: $tablet-width) {
    margin: 0 0 12px;
  }

  @media (min-width: $wide-desktop-width) {
    margin: 0 0 16px;
  }
}

.alert__button.alert__button {
  width: 100%;
  margin: 10px 0 0;

  @media (min-width: $tablet-width) {
    margin: 12px 0 0;
  }

  @media (min-width: $wide-desktop-width) {
    min-height: 51px;
    margin: 16px 0 0;
  }
}
