.article-preview {
  position: relative;
  display: grid;
  align-content: start;
  font: 500 14px/17px $main-font-family;
}

.article-preview__heading {
  margin: 0 10px;
  font: inherit;
}

.article-preview__link {
  text-decoration: none;
  color: inherit;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.article-preview__label {
  z-index: 1;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  place-self: start start;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0 0 10px;
  font-size: 12px;
  line-height: 14px;
  color: var(--accent-color-1);
  background: var(--background-color-dark);
}

.article-preview__image-wrapper {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: block;
  width: 100%;
  height: 117px;
}

.article-preview__image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.article-preview__date {
  order: -1;
  margin: 11px 10px 8px;
  font-size: 12px;
  line-height: 14px;
  color: var(--text-weak-color-2);
}

.article-preview:hover .article-preview__heading {
  text-decoration: underline;
}

.article-preview--size_s {
  @media (min-width: $wide-desktop-width) {
    font-size: 18px;
    line-height: 22px;
  }

  .article-preview__heading {
    @media (min-width: $wide-desktop-width) {
      margin: 0 20px;
    }
  }

  .article-preview__label {
    @media (min-width: $wide-desktop-width) {
      padding: 7px 20px 6px;
      font-size: 14px;
      line-height: 17px;
    }
  }

  .article-preview__image-wrapper {
    @media (min-width: $desktop-width) {
      height: 134px;
    }

    @media (min-width: $wide-desktop-width) {
      height: 186px;
    }
  }

  .article-preview__date {
    @media (min-width: $wide-desktop-width) {
      margin: 15px 20px 10px;
      font-size: 14px;
      line-height: 17px;
    }
  }
}


.article-preview--size_m {
  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 26px;
    line-height: 31px;
  }

  .article-preview__heading {
    @media (min-width: $wide-desktop-width) {
      margin: 0 20px;
    }
  }

  .article-preview__label {
    @media (min-width: $desktop-width) {
      font-size: 16px;
      line-height: 20px;
    }

    @media (min-width: $wide-desktop-width) {
      padding: 10px 20px;
      font-size: 18px;
      line-height: 20px;
    }
  }

  .article-preview__image-wrapper {
    @media (min-width: $desktop-width) {
      height: 208px;
    }

    @media (min-width: $wide-desktop-width) {
      height: 320px;
    }
  }

  .article-preview__date {
    @media (min-width: $desktop-width) {
      font-size: 14px;
      line-height: 17px;
    }

    @media (min-width: $wide-desktop-width) {
      margin: 15px 20px 17px;
      font-size: 20px;
      line-height: 24px;
    }
  }
}
