.catalog__inner {
  display: grid;
}

.catalog--bordered .catalog__inner {
  padding: 19px 0 0;
  border-top: 1px solid var(--border-color-light);

  @media (min-width: $desktop-width) {
    padding: 23px 0 0;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 39px 0 0;
  }
}

.catalog__heading {
  margin: 0 0 20px;

  @media (min-width: $desktop-width) {
    margin: 0 0 24px;
  }

  @media (min-width: $wide-desktop-width) {
    margin: 0 0 40px;
  }
}

.catalog__panel {
  display: grid;
  margin: 0 0 20px;
  grid-template-columns: auto 1fr;
  column-gap: 30px;
  align-items: center;
  font: 500 12px/14px $main-font-family;
  color: var(--text-weak-color);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 27px;
    grid-template-columns: auto auto 1fr;
  }

  @media (min-width: $wide-desktop-width) {
    margin: 0 0 43px;
    font-size: 18px;
    line-height: 22px;
  }
}

.catalog__filter-openers {
  grid-column: 1 / 2;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin: 0;
}

.catalog__panel-text {
  grid-column: 1 / -1;
  margin: 10px 0 0;
  font-size: 14px;
  line-height: 17px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    margin: 0;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 22px;
    line-height: 28px;
  }
}

.catalog__filter-opener-button:nth-child(n + 2) {
  @media (max-width: ($tablet-width - 1)) {
    display: none;
  }
}

.catalog__applied-filters {
  grid-column: 1 / -1;
  display: flex;
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
  flex-wrap: wrap;
  gap: 10px 20px;

  &:empty {
    display: none;
  }

  @media (min-width: $wide-desktop-width) {
    margin: 24px 0 0;
    gap: 10px 30px;
  }
}

.catalog__applied-filter {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
}

.catalog__applied-filter-reset-button {
  display: grid;
  position: relative;
  align-self: start;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  place-items: center;
  background: transparent;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: var(--text-weak-color-light);
    mask: url("../img/icons.svg#small-x");
  }

  &::after {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
  }

  &:hover::before {
    background: var(--accent-color-2);
  }

  &:active::before {
    opacity: 0.4;
  }

  @media (min-width: $desktop-width) {
    width: 16px;
    height: 16px;
  }
}

// .catalog__applied-options {
//   grid-column: 1 / -1;
//   padding: 0;
//   margin: 22px 0 0;
//   list-style: none;

//   @media (min-width: $desktop-width) {
//     margin: 23px 0 0;
//     font-size: 16px;
//     line-height: 20px;
//   }

//   @media (min-width: $wide-desktop-width) {
//     margin: 28px 0 0;
//     font-size: 22px;
//     line-height: 28px;
//   }
// }

// .catalog__applied-option {
//   display: inline-grid;
//   grid-auto-flow: column;
//   gap: 10px;
//   align-items: baseline;

//   @media (min-width: $wide-desktop-width) {
//     gap: 20px;
//   }
// }

// .catalog__applied-option-link {
//   position: relative;
//   text-decoration: none;
//   color: var(--accent-color-1);

//   &::after {
//     content: "";
//     position: absolute;
//     right: 0;
//     bottom: -1px;
//     left: 0;
//     height: 1px;
//     background: currentColor;
//   }

//   @media (min-width: $desktop-width) {
//     font-size: 14px;
//     line-height: 17px;

//     &::after {
//       bottom: -3px;
//     }
//   }

//   @media (min-width: $wide-desktop-width) {
//     font-size: 20px;
//     line-height: 25px;
//   }
// }

.catalog__sorting {
  grid-column: -2 / -1;
  grid-row: 1 / 2;
  justify-self: end;
}

.catalog__list {
  margin: 0;
}

.catalog__pagination {
  margin: 40px 0 0;

  @media (min-width: 400px) {
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    margin: 60px 0 0;
  }

  @media (min-width: $wide-desktop-width) {
    margin: 80px 0 0;
  }
}
