.developer {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 18px;
  place-items: center;
  text-decoration: none;
  color: #000000;
  opacity: 0.5;

  @media (min-width: $desktop-width) {
    gap: 10px;
  }

  @media (min-width: $wide-desktop-width) {
    gap: 20px;
    font-size: 18px;
    line-height: 1.25;
  }
}

.developer__logo {
  display: block;
  width: 70px;
  height: auto;

  @media (min-width: $desktop-width) {
    width: 84px;
  }

  @media (min-width: $wide-desktop-width) {
    width: 98px;
  }
}
