.document-modal {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  font: 500 14px/17px $main-font-family;
  background: var(--background-additional-color);

  @media (min-width: 450px) {
    border-radius: 16px 0 0 16px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 22px;
    line-height: 29px;
  }
}

.document-modal__header {
  display: flex;
  padding: 24px 80px 20px $mobile-edge-indent;
  flex-wrap: wrap;
  gap: 20px;
  background: inherit;

  @media (min-width: 450px) {
    border-top-left-radius: 16px;
  }

  @media (min-width: $tablet-width) {
    padding: 28px 90px 24px $tablet-edge-indent;
  }

  @media (min-width: $desktop-width) {
    padding: 43px 120px 27px 40px;
    gap: 24px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 43px 180px 60px 60px;
    gap: 40px;
  }
}

.document-modal__heading {
  margin: 0;
}

.document-modal__actions {
  margin: 0;
}

.document-modal__scroll-container {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  max-height: 100%;
  width: 100%;
  padding: 0 0 28px;

  @media (min-width: $tablet-width) {
    padding: 0 0 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 48px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 0 0 60px;
  }
}

.document-modal__scroll-container-scrollbar.document-modal__scroll-container-scrollbar {
  right: 5px;
  width: 4px;
  background: var(--background-color-dark-2);

  @media (min-width: $tablet-width) {
    right: 10px;
    width: 6px;
  }

  @media (min-width: $wide-desktop-width) {
    right: 0;
  }
}

.document-modal__scroll-container-scrollbar .swiper-scrollbar-drag {
  background: var(--border-color);
  border-radius: 8px;
}

.document-modal__scroll-container-content {
  box-sizing: border-box;
  height: auto;
  padding: 0 $mobile-edge-indent;

  h3 {
    margin: 0 0 20px;
    font: inherit;
    text-transform: uppercase;
  }

  p {
    margin: 0 0 16px;
  }

  *:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0 24px;

    h3 {
      margin: 0 0 24px;
    }

    p {
      margin: 0 0 20px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px 0 40px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 0 80px 0 60px;

    h3 {
      margin: 0 0 36px;
      font-size: 26px;
      line-height: 31px;
    }

    p {
      margin: 0 0 28px;
    }
  }
}

.document-modal__intro {
  display: grid;
  gap: 16px;
  padding: 0 0 20px;
  border-bottom: 1px solid var(--border-color-light);
  margin: 0 0 20px;

  p {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0 0 24px;
    margin: 0 0 24px;
    gap: 20px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 0 0 39px;
    margin: 0 0 40px;
    gap: 28px;
  }
}
