.file-link {
  display: inline-grid;
  font: 600 12px/14px $main-font-family;
  grid-auto-flow: column;
  gap: 10px;
  justify-content: start;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-color-1);

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 20px;
    line-height: 24px;
  }

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background: currentColor;
    mask: url("../img/icons.svg#file_download");
    transform: translateY(-1px);

    @media (min-width: $wide-desktop-width) {
      width: 24px;
      height: 24px;
    }
  }

  &--read::before {
    mask: url("../img/icons.svg#file_read");
  }

  &--download::before {
    mask: url("../img/icons.svg#file_download");
  }
}
