.guarantee {
  display: grid;
  gap: 100px;
  font: 500 14px/17px $main-font-family;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    gap: 120px;
  }

  @media (min-width: $wide-desktop-width) {
    gap: 140px;
    font-size: 22px;
    line-height: 29px;
  }
}

.guarantee__reference {
  margin: 0;
  max-width: 836px;

  @media (min-width: $wide-desktop-width) {
    max-width: 1160px;
  }
}

.guarantee__contacts {
  display: grid;
  gap: 20px;

  @media (min-width: $desktop-width) {
    gap: 24px;
  }

  @media (min-width: $wide-desktop-width) {
    gap: 40px;
  }
}

.guarantee__contacts-heading,
.guarantee__contacts-list {
  margin: 0;
}

.guarantee__terms {
  display: grid;
  gap: 20px;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 24px 30px;
    align-items: start;
  }

  @media (min-width: $wide-desktop-width) {
    gap: 40px;
  }
}

.guarantee__terms-heading {
  margin: 0;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.guarantee__terms-text-group {
  display: grid;
  gap: 5px;

  @media (min-width: $tablet-width) {
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.guarantee__terms-text {
  margin: 0;
}

.guarantee__terms-list {
  display: grid;
  padding: 20px;
  margin: 0;
  list-style: none;
  border-radius: 10px;
  gap: 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  background: var(--background-additional-color);

  @media (min-width: $tablet-width) {
    padding: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px;
    border-radius: 16px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 40px 60px;
    gap: 20px;
    font-size: 22px;
    line-height: 28px;
  }
}

.guarantee__terms-item {
  display: grid;
  min-height: 29px;
  grid-template-columns: auto 1fr;
  gap: 12px;
  align-items: center;

  &::before {
    content: "";
    align-self: start;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 13px 0 0 2px;
    background: var(--accent-color-1);
  }
}
