.map-marker {
  width: 100px;
  height: 100px;
  visibility: hidden;
}

.map-marker__image {
  display: block;
  width: 38px;
  height: auto;
  visibility: visible;
  transform: translate(-50%, -100%);
}

.map-marker--big .map-marker__image {
  @media (min-width: $tablet-width) {
    width: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 68px;
  }
}
