.orders-folds {
  display: grid;
  padding: 0;
  list-style: none;
  gap: 10px;
  font: 500 12px/14px $main-font-family;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (min-width: $wide-desktop-width) {
    gap: 20px;
    font-size: 18px;
    line-height: 22px;
  }
}

.orders-folds__item {
  padding: 16px;
  background: var(--background-additional-color);

  @media (min-width: $tablet-width) {
    padding: 20px 24px;
    border-radius: 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 24px 40px;
    border-radius: 16px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 40px 60px;
  }
}

.orders-folds__header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  gap: 10px;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr auto auto 138px;
    grid-template-rows: auto;
    gap: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr auto auto 220px;
  }

  @media (min-width: $wide-desktop-width) {
    grid-template-columns: 1fr auto auto 240px;
    gap: 40px;
  }
}

.orders-folds__heading {
  margin: 0;
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;

  @media (min-width: $wide-desktop-width) {
    font-size: 24px;
    line-height: 31px;
  }
}

.orders-folds__info {
  display: grid;
  gap: 5px;
  color: var(--text-weak-color);

  @media (min-width: $tablet-width) {
    min-width: 96px;
  }

  @media (min-width: $wide-desktop-width) {
    gap: 10px;
    min-width: 128px;
  }
}

.orders-folds__date {
  margin: 0;
  font: inherit;
}

.orders-folds__count {
  margin: 0;
}

.orders-folds__status {
  justify-self: center;
  box-sizing: border-box;
  min-width: 180px;
  padding: 4px;
  border-radius: 50px;
  margin: 0;
  text-align: center;

  @media (max-width: ($tablet-width - 1)) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  @media (min-width: $tablet-width) {
    min-width: 210px;
    padding: 6px 10px 5px;
  }

  @media (min-width: $wide-desktop-width) {
    min-width: 300px;
  }

  &--canceled {
    color: var(--status-color-0);
    background: var(--status-color-0-light);
  }

  &--awaiting-payment {
    color: var(--status-color-1);
    background: var(--status-color-1-light);
  }

  &--paid-and-accepted {
    color: var(--status-color-2);
    background: var(--status-color-2-light);
  }

  &--passed-for-delivery {
    color: var(--status-color-3);
    background: var(--status-color-3-light);
  }

  &--delivered {
    color: var(--status-color-4);
    background: var(--status-color-4-light);
  }
}

.orders-folds__button {
  justify-self: end;
  display: grid;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
  grid-auto-flow: column;
  gap: 5px;
  align-items: center;
  font: inherit;
  text-transform: uppercase;
  color: var(--accent-color-1);
  background: transparent;

  @media (max-width: ($tablet-width - 1)) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  @media (min-width: $tablet-width) {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (min-width: $wide-desktop-width) {
    gap: 10px;
    font-size: 16px;
    line-height: 19px;
  }

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    background: url("../img/icons.svg#controls_right-arrow-without-tail");
    transform: rotate(90deg);
    transition: transform $drawer-timing-duration $drawer-timing-function;

    @media (min-width: $desktop-width) {
      width: 20px;
      height: 20px;
    }

    @media (min-width: $wide-desktop-width) {
      width: 24px;
      height: 24px;
    }
  }
}

.orders-folds__button-open-text,
.orders-folds__button-close-text {
  @media (max-width: ($tablet-width - 1)) {
    display: none;
  }
}

.orders-folds__button-open-text {
  display: none;
}

.orders-folds__button[aria-expanded="true"] {
  &::after {
    transform: rotate(-90deg);
  }

  @media (min-width: $tablet-width) {
    .orders-folds__button-open-text {
      display: inline;
    }

    .orders-folds__button-close-text {
      display: none;
    }
  }
}

.orders-folds__actions {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300, 1fr));
  gap: 8px 16px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $laptop-width) {
    display: flex;
  }

  @media (min-width: $wide-desktop-width) {
    flex-direction: row-reverse;
    column-gap: 20px;
    justify-content: flex-end;
  }
}

.orders-folds__list {
  display: grid;
  padding: 0;
  margin: 10px 0;
  gap: 10px;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 20px 0 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 24px 0 20px;
    gap: 20px;
  }

  @media (min-width: $wide-desktop-width) {
    margin: 40px 0;
    gap: 40px;
  }
}

.orders-folds__list-item {
  padding: 0 0 9px;
  border-bottom: 1px solid var(--border-color-light);

  @media (min-width: $wide-desktop-width) {
    padding: 0 0 19px;
  }
}

.orders-folds__prices {
  display: grid;
  margin: 0 0 10px;
  grid-template-columns: 1fr auto;
  gap: 5px 10px;
  place-items: end;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px;
    gap: 5px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 24px;
    gap: 10px;
  }

  @media (min-width: $wide-desktop-width) {
    margin: 0 0 40px;
    gap: 6px 10px;
  }
}

.orders-folds__price {
  grid-column: 1 / -1;
  display: flex;
  margin: 0;
  gap: 5px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $wide-desktop-width) {
    gap: 20px;
  }
}

.orders-folds__old-price {
  color: var(--text-weak-color);
  text-decoration: line-through;
}

.orders-folds__discount {
  padding: 4px 5px 2px;
  border-radius: 4px;
  margin: 0;
  color: var(--text-alter-color);
  background: var(--accent-color-2);

  @media (min-width: $tablet-width) {
    padding: 6px 5px 5px;
    font-size: 12px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    padding: 4px 5px;
    font-size: 14px;
    line-height: 17px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 2px 5px 1px;
    font-size: 18px;
    line-height: 22px;
  }
}

.orders-folds__contacts-list {
  margin: 0;

  @media (min-width: $wide-desktop-width) {
    width: 926px;
  }
}
