.page__body {
  min-width: 320px;
  margin: 0;
  font: 400 14px/1.3 $main-font-family;
  color: var(--text-color);
  background-color: var(--background-color);

  @media (min-width: $desktop-width) {
    font-size: 16px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 22px;
    line-height: 1.25;
  }
}

.page__inner {
  position: relative;
  z-index: 0;
  display: grid;
  box-sizing: border-box;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  // grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  overflow-y: auto;
}

.page__site-footer {
  margin: 100px 0 0;
}
