.pin {
  position: absolute;
  z-index: 1;

  &--active {
    @media (max-width: ($wide-tablet-width - 1)) {
      z-index: 2;
    }
  }
}

.pin__popup {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: calc(100% + 50px);
  width: 280px;
  transform-origin: right bottom;
  animation: appearance $modal-opening-duration ease-out, growing $modal-opening-duration ease-out;

  &--closing {
    animation: disappearance $modal-closing-duration ease-in;
  }

  @media (max-width: ($wide-desktop-width - 1)) {
    right: 20px;
    bottom: calc(100% + 18px);
    width: 206px;
  }

  @media (max-width: ($wide-tablet-width - 1)) {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}
