.plus-button {
  display: grid;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  place-items: center;
  background: var(--accent-color-1);

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url("../img/icons.svg#contols_big-plus");
    transition: transform $little-interaction-duration $little-interaction-timing-function;
  }

  &:hover::before {
    transform: scale(1.1);
  }
}
