.plus-button {
  display: grid;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 50%;
  place-items: center;
  background: var(--accent-color-1);
  cursor: pointer;

  @media (min-width: $wide-desktop-width) {
    width: 50px;
    height: 50px;
  }

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url("../img/icons.svg#controls_big-plus");
    transition: transform $little-interaction-duration $little-interaction-timing-function;

    @media (min-width: $wide-desktop-width) {
      width: 24px;
      height: 24px;
    }
  }

  &:hover {
    background: var(--accent-color-1-dark);
  }

  &:active {
    background: var(--accent-color-1-dark);

    @include main-shadow;
  }
}

.plus-button--active {
  &::before {
    transform: rotate(45deg);
  }
}
