.subscription {
  padding: 24px;
  border-radius: 10px;
  font: 500 14px/17px $main-font-family;
  background: var(--background-additional-color);

  @media (min-width: $tablet-width) {
    padding: 32px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 16px;
    padding: 40px 64px 40px 60px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 71px 60px;
    font-size: 22px;
    line-height: 29px;
  }
}

.subscription__heading {
  max-width: 600px;
  margin: 0 0 20px;

  @media (min-width: $desktop-width) {
    margin: 0 0 24px;
  }

  @media (min-width: $wide-desktop-width) {
    max-width: 940px;
  }
}

.subscription__list-heading {
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 14px;
  color: var(--text-weak-color);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 18px;
  }

  @media (min-width: $wide-desktop-width) {
    margin: 0 0 16px;
    font-size: 20px;
    line-height: 26px;
  }
}

.subscription__list {
  display: grid;
  width: 200px;
  padding: 0;
  margin: 0 0 20px;
  list-style: none;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 190px 200px 200px;
    gap: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 32px;
    grid-template-columns: 193px 230px 208px;
    gap: 28px;
  }

  @media (min-width: $wide-desktop-width) {
    margin: 0 0 24px;
    grid-template-columns: 252px 361px 332px;
    gap: 48px;
  }
}

.subscription__list-item {
  display: grid;
  gap: 10px;
  align-content: start;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url("../img/icons.svg#marker-check");

    @media (min-width: $tablet-width) {
      width: 32px;
      height: 32px;
    }
  }
}

.subscription__form {
  display: grid;
  max-width: 1040px;
  align-items: start;

  &--error {
    animation: shake 0.6s;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 211px;
    column-gap: 5px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 265px;
  }

  @media (min-width: $wide-desktop-width) {
    grid-template-columns: 1fr 332px;
  }
}

.subscription__form-submit-button {
  margin: 10px 0 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.subscription__form-comment {
  grid-column: 1 / -1;
  display: block;
  margin: 5px 0 0;
  font-size: 12px;
  line-height: 14px;
  color: var(--text-weak-color);

  @media (min-width: $wide-desktop-width) {
    margin: 10px 0 0;
    font-size: 16px;
    line-height: 19px;
  }
}

.subscription__form-comment-link {
  color: inherit;
}
