.terms {
  padding: 24px;
  border-radius: 10px;
  font: 500 14px/17px $main-font-family;
  background: var(--background-additional-color);

  @media (min-width: $tablet-width) {
    padding: 32px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 16px;
    padding: 40px 64px 40px 60px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 72px 60px;
    font-size: 20px;
    line-height: 25px;
  }
}

.terms__heading {
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 0 24px;
  }

  @media (min-width: $wide-desktop-width) {
    margin: 0 0 40px;
  }
}

.terms__list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 24px 40px;
  }

  @media (min-width: $wide-desktop-width) {
    gap: 40px 30px;
  }
}

.terms__list-item {
  border-left: 2px solid var(--accent-color-1);
  padding: 0 0 0 13px;
}
