.text-field {
  position: relative;
  display: inline-block;
  font: 500 12px/14px $main-font-family;

  &--disabled {
    opacity: 0.4;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 16px;
    line-height: 19px;
  }
}

.text-field__inner {
  display: block;
}

.text-field__control-wrapper {
  position: relative;
  display: grid;
  border: 1px solid var(--border-color-dark);
  border-radius: 8px;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  background: var(--background-additional-color);
  overflow: hidden;

  &:focus-within {
    border-color: var(--border-color);

    @include main-shadow;
  }

  @media (min-width: $tablet-width) {
    border-radius: 10px;
  }
}


.text-field__control {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 9px;
  border: none;
  font: inherit;
  color: inherit;
  background: transparent;
  outline: none;

  &::placeholder {
    opacity: 1;
    color: var(--text-weak-color);
  }

  @media (min-width: $tablet-width) {
    padding: 12px 23px 10px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 16px 23px 14px;
  }
}

.text-field__clear-button {
  display: none;
  width: 38px;
  height: 100%;
  padding: 0;
  border: none;
  place-items: center;
  // background: transparent url("../img/icons.svg#close") 50% 50% / 20px 20px no-repeat;
  background: transparent;
  cursor: pointer;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background: #000000;
    mask: url("../img/icons.svg#close");
  }

  &:hover::before {
    background: var(--accent-color-2);
  }

  &:active::before {
    background: var(--accent-color-2);
    transform: scale(0.85);
  }
}

.text-field__control-wrapper:focus-within .text-field__control:not(:placeholder-shown) + .text-field__clear-button {
  display: grid;
}

.text-field--search .text-field__control-wrapper {
  &::after {
    content: "";
    width: 24px;
    height: 24px;
    background: var(--text-weak-color-light);
    mask: url("../img/icons.svg#shortcuts_search");

    @media (min-width: $wide-desktop-width) {
      width: 30px;
      height: 30px;
    }
  }
}

.text-field__edit-button {
  display: grid;
  box-sizing: border-box;
  height: 100%;
  padding: 1px 9px 0 0;
  border: none;
  grid-auto-flow: column;
  gap: 10px;
  align-items: center;
  font: inherit;
  font-size: 12px;
  line-height: 14px;
  color: var(--text-weak-color);
  background: transparent;
  cursor: pointer;

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    background: currentColor;
    mask: url("../img/icons.svg#edit");

    @media (min-width: $wide-desktop-width) {
      width: 20px;
      height: 20px;
    }
  }

  &:hover {
    color: var(--accent-color-1);
  }

  @media (min-width: $tablet-width) {
    padding: 1px 23px 0 0;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.text-field--accent {
  font-size: 14px;
  line-height: 17px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 18px;
    line-height: 22px;
  }

  .text-field__control {
    padding: 12px 9px 9px;

    @media (min-width: $tablet-width) {
      padding: 10px 23px 9px;
    }

    @media (min-width: $wide-desktop-width) {
      padding: 14px 23px 13px;
    }
  }
}

.text-field--alter .text-field__control-wrapper {
  background: var(--background-color-dark-2);
}

.text-field--big {
  font-size: 14px;
  line-height: 17px;

  .text-field__control {
    padding: 13px 23px 12px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 20px;
    line-height: 25px;

    .text-field__control {
      padding: 18px 23px 17px;
    }
  }
}

.text-field--big.text-field--search .text-field__control-wrapper::after {
  margin: 0 23px 0 0;
}

.text-field--big.text-field--search .text-field__clear-button {
  position: relative;
  margin-right: 15px;

  @media (min-width: $wide-desktop-width) {
    width: 60px;
    margin-right: 24px;
    // background-size: 24px 24px;
  }

  &::after {
    content: "";
    position: absolute;
    right: -4px;
    top: 8px;
    bottom: 8px;
    width: 1px;
    background: var(--border-color);

    @media (min-width: $wide-desktop-width) {
      top: 14px;
      bottom: 14px;
    }
  }

  &::before {
    @media (min-width: $wide-desktop-width) {
      width: 24px;
      height: 24px;
    }
  }
}

.text-field--error .text-field__control-wrapper {
  border-color: var(--accent-color-2);
}

.text-field__error-text {
  margin: 5px 0 0;
  color: var(--accent-color-2);
}

.text-field__control[type="date"] {
  width: 150%;
}

.text-field--date {
  .text-field__control {
    width: 150%;
  }

  .text-field__calendar-button {
    display: grid;
    box-sizing: border-box;
    height: 100%;
    padding: 1px 9px 0;
    border: none;
    align-items: center;
    color: var(--text-weak-color);
    background: transparent;
    cursor: pointer;

    &:hover {
      color: var(--accent-color-1);
    }

    @media (min-width: $tablet-width) {
      padding: 1px 23px 0;
    }
  }

  .text-field__calendar-button::after {
    content: "";
    width: 16px;
    height: 16px;
    background: currentColor;
    mask: url("../img/icons.svg#calendar");

    @media (min-width: $wide-desktop-width) {
      width: 20px;
      height: 20px;
    }
  }

  .air-datepicker {
    position: absolute;
    top: calc(100% + 5px);
    right: 50%;
    z-index: 1;
    transform: translateX(50%);

    @media (min-width: $tablet-width) {
      top: calc(100% + 8px);
      right: 0;
      transform: none;
    }

    @media (min-width: $desktop-width) {
      top: 50%;
      right: auto;
      left: calc(100% + 3px);
      transform: translateY(-50%);
    }

    @media (min-width: $wide-desktop-width) {
      top: -74px;
      left: 100%;
      transform: none;
    }
  }
}
