.textarea {
  display: inline-block;
  font: 500 16px/20px $main-font-family;

  &--disabled {
    opacity: 0.4;
  }
}

.textarea__inner {
  display: block;
}

.textarea__control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  padding: 10px 9px 8px;
  border: 1px solid var(--border-color-dark);
  border-radius: 8px;
  font: inherit;
  color: inherit;
  background: var(--background-additional-color);
  outline: none;

  &::placeholder {
    opacity: 1;
    color: var(--text-weak-color);
  }

  &:focus-within {
    border-color: var(--border-color);

    @include main-shadow;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 23px 9px;
    border-radius: 10px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 15px 23px 14px;
  }
}

.textarea.invalid .textarea__control {
  border-color: var(--accent-color-2);
}

.textarea .prompt-text {
  margin: 5px 0 0;
  color: var(--accent-color-2);
}
