.vacancy-card {
  display: grid;
  padding: 24px;
  border-radius: 10px;
  grid-template-columns: 1fr auto;
  gap: 20px 40px;
  align-items: end;
  font: 500 14px/17px $main-font-family;
  background: var(--background-additional-color);

  @media (min-width: $desktop-width) {
    border-radius: 16px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 40px;
    font-size: 18px;
    line-height: 22px;
  }
}

.vacance-card__header {
  grid-column: 1 / -1;
  display: grid;
  gap: 5px;

  @media (min-width: $desktop-width) {
    gap: 10px;
  }
}

.vacancy-card__heading {
  font: inherit;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 23px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 24px;
    line-height: 31px;
  }
}

.vacancy-card__address {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: var(--text-weak-color);

  @media (min-width: $wide-desktop-width) {
    font-size: 16px;
    line-height: 19px;
  }
}

.vacancy-card__features {
  grid-column: 1 / -1;
  margin: 0;

  @media (min-width: $desktop-width) {
    margin: 0 0 4px;
  }

  @media (min-width: $wide-desktop-width) {
    margin: 0 0 20px;
  }
}

.vacancy-card__salary {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--accent-color-1);

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 28px;
    line-height: 34px;
  }
}

.vacancy-card__link {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-color-1);

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 18px;
  }

  @media (min-width: $wide-desktop-width) {
    gap: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    background: url("../img/icons.svg#controls_right-arrow-without-tail");

    @media (min-width: $desktop-width) {
      width: 20px;
      height: 20px;
    }

    @media (min-width: $wide-desktop-width) {
      width: 24px;
      height: 24px;
    }
  }
}
