include data/articles
include data/banners
include data/blockquotes
include data/brands
include data/cities
include data/contacts
include data/members
include data/orders
include data/product-gallery
include data/products
include data/review-gallery
include data/reviews
include data/rooms
include data/styles
include data/terms
include data/video-reviews
