-
  var blockquotes = {
    companyDirector: {
      texts: [
        'За 30 лет мы научились работать в совершенно разных условиях, находить лучшие варианты для наших заказчиков и минимизировать риски клиента на всех этапах сделки. Поставщики «Калипсо»&nbsp;– это&nbsp;фирмы, проверенные годами и множеством разнообразных по своей сложности заказов. Мы по праву можем гордиться тем, что за все эти годы у нас не было случаев, когда клиент ушел бы от нас недовольным. В&nbsp;наше время надежный поставщик - очень важное, уникальное достоинство.',
      ],
      author: 'Михаил Пустовой. Директор компании',
      image: 'img/blockquotes/blockquote-1.webp',
    },
    salonDirector: {
      heading: '<b class="accent">«Вместе</b> мы создаем невероятное!»',
      texts: [
        'В этом слогане отражается наша миссия и смысл работы. Мы часто рассказываем о наших проектах в СМИ и социальных сетях, совместно с дизайнерами занимаемся продвижением качественной дизайнерской мебели от лучших итальянских и российских брендов. Мы знаем, что такое настоящее европейское качество, никогда не предложим некачественный товар или реплики, потому что дорожим своей репутацией.',
        'При этом мы заботимся о конфиденциальности клиентов, ведь наш дом – наша крепость, не все готовы к публичности. Наши заказчики знают, что в «Калипсо» никогда не допустят, чтобы эта приватность была нарушена.',
      ],
      author: 'Сергей Зотов. Директор интерьерного салона',
      image: 'img/blockquotes/blockquote-2.webp',
    },
    projectDesigner: {
      heading: '«Я всегда <b class="accent">слушаю</b> заказчиков и вижу что они хотят»',
      texts: [
        'Обдумывая концепцию проекта, мы старались сохранить характер локации и подчеркнуть главный её элемент – большие окна с панорамным видом на столицу. Чтобы лаконичный и сдержанный интерьер не спорил с экстерьером и позволял сполна наслаждаться бескрайними горизонтами и ощущением свободы.Обдумывая концепцию проекта, мы старались сохранить характер локации и подчеркнуть главный её элемент – большие окна с панорамным видом на столицу. Чтобы лаконичный и сдержанный интерьер не спорил с экстерьером и позволял сполна наслаждаться бескрайними горизонтами и ощущением свободы.',
      ],
      author: 'Margarita Kulyashova, project designer',
      image: 'img/blockquotes/blockquote-3.webp',
    },
  };
