-
  var members = [
    {
      heading: 'Маргарита Куляшова, менеджер по&nbsp;продажам',
      text: 'В чем сила «Калипсо»? Мы постоянно проходим обучения и&nbsp;посещаем семинары у&nbsp;итальянских и&nbsp;российских производителей мебели, декора, текстиля. Мы знаем все о&nbsp;современных технологиях, материалах и&nbsp;о&nbsp;трендах дизайна.',
      image: 'img/members/member-1.webp',
    },
    {
      heading: 'Ирина Францева, менеджер по&nbsp;продажам',
      text: 'Удобство клиента у&nbsp;нас всегда на&nbsp;первом месте! Я думаю, что мало кто может похвастаться тем, что выезжает к&nbsp;клиенту на&nbsp;дом с каталогами и&nbsp;обивками, дает на&nbsp;примерку ковры или аксессуары.',
      image: 'img/members/member-2.webp',
    },
    {
      heading: 'Анна Макарова, менеджер по&nbsp;продажам',
      text: 'Мы не боимся сложных задач и нетривиальных решений. Это касается и подбора мебели и&nbsp;аксессуаров, и&nbsp;логистики. Именно поэтому мы можем похвастаться очень широкой географией – наши заказчики живут во многих городах России и&nbsp;заказывают мебель даже в другие страны!',
      image: 'img/members/member-3.webp',
    },
    {
      heading: 'Маргарита Куляшова, менеджер по&nbsp;продажам',
      text: 'В чем сила «Калипсо»? Мы постоянно проходим обучения и посещаем семинары у итальянских и российских производителей мебели, декора, текстиля. Мы знаем все о современных технологиях, материалах и о трендах дизайна.',
      image: 'img/members/member-4.webp',
    },
    {
      heading: 'Сергей Зотов, директор интерьерного салона',
      text: 'Удобство клиента у нас всегда на первом месте! Я думаю, что мало кто может похвастаться тем, что выезжает к клиенту на дом с каталогами и обивками, дает на примерку ковры или аксессуары.',
      image: 'img/members/member-5.webp',
    },
    {
      heading: 'Макар Петров, менеджер по&nbsp;продажам',
      text: 'Мы не боимся сложных задач и нетривиальных решений. Это касается и подбора мебели и&nbsp;аксессуаров, и&nbsp;логистики. Именно поэтому мы можем похвастаться очень широкой географией – наши заказчики живут во многих городах России и&nbsp;заказывают мебель даже в другие страны!',
      image: 'img/members/member-6.webp',
    },
  ]
