-
  var orders = [
    {
      id: '45678',
      status: 'Ñanceled',
      discount: true,
    },
    {
      id: '45679',
      status: 'awaiting-payment',
    },
    {
      id: '45680',
      status: 'paid-and-accepted',
    },
    {
      id: '45681',
      status: 'passed-for-delivery',
    },
    {
      id: '45682',
      status: 'delivered',
    },
  ]
