-
  var products = [
    {
      name: 'Стул Tosca',
      price: '15 000',
      status: 'in-stock',
      dimensions: '15х20х60',
      brand: 'Calligaris',
      images: ['img/products/product-1.webp', 'img/products/product-1.webp', 'img/products/product-1.webp', 'img/products/product-1.webp', 'img/products/product-1.webp'],
      images2x: ['img/products/product-1@2x.webp', 'img/products/product-1@2x.webp', 'img/products/product-1@2x.webp', 'img/products/product-1@2x.webp', 'img/products/product-1@2x.webp'],
    },
    {
      name: 'Стул Tosca',
      price: '15 000',
      status: 'arrival-expected',
      dimensions: '15х20х60',
      brand: 'Calligaris',
      images: ['img/products/product-2.webp', 'img/products/product-2.webp', 'img/products/product-2.webp', 'img/products/product-2.webp', 'img/products/product-2.webp'],
      images2x: ['img/products/product-2@2x.webp', 'img/products/product-2@2x.webp', 'img/products/product-2@2x.webp', 'img/products/product-2@2x.webp', 'img/products/product-2@2x.webp'],
      isPremium: true,
    },
    {
      name: 'Тумба Tosca',
      price: '15 000',
      discount: '10',
      status: 'to-order',
      dimensions: '15х20х60',
      brand: 'Calligaris',
      images: ['img/products/product-3.webp', 'img/products/product-3.webp', 'img/products/product-3.webp', 'img/products/product-3.webp', 'img/products/product-3.webp'],
      images2x: ['img/products/product-3@2x.webp', 'img/products/product-3@2x.webp', 'img/products/product-3@2x.webp', 'img/products/product-3@2x.webp', 'img/products/product-3@2x.webp'],
      isFavorite: true,
      isPremium: true,
    },
    {
      name: 'Стул Tosca',
      price: '15 000',
      status: 'in-stock',
      dimensions: '15х20х60',
      brand: 'Calligaris',
      images: ['img/products/product-1.webp', 'img/products/product-1.webp', 'img/products/product-1.webp', 'img/products/product-1.webp', 'img/products/product-1.webp'],
      images2x: ['img/products/product-1@2x.webp', 'img/products/product-1@2x.webp', 'img/products/product-1@2x.webp', 'img/products/product-1@2x.webp', 'img/products/product-1@2x.webp'],
    },
    {
      name: 'Стул Tosca',
      price: '15 000',
      status: 'in-stock',
      dimensions: '15х20х60',
      brand: 'Calligaris',
      images: ['img/products/product-2.webp', 'img/products/product-2.webp', 'img/products/product-2.webp', 'img/products/product-2.webp', 'img/products/product-2.webp'],
      images2x: ['img/products/product-2@2x.webp', 'img/products/product-2@2x.webp', 'img/products/product-2@2x.webp', 'img/products/product-2@2x.webp', 'img/products/product-2@2x.webp'],
      isPremium: true,
    },
    {
      name: 'Стул Tosca',
      price: '15 000',
      discount: '10',
      status: 'in-stock',
      dimensions: '15х20х60',
      brand: 'Calligaris',
      images: ['img/products/product-3.webp', 'img/products/product-3.webp', 'img/products/product-3.webp', 'img/products/product-3.webp', 'img/products/product-3.webp'],
      images2x: ['img/products/product-3@2x.webp', 'img/products/product-3@2x.webp', 'img/products/product-3@2x.webp', 'img/products/product-3@2x.webp', 'img/products/product-3@2x.webp'],
      isFavorite: true,
    },
    {
      name: 'Стул Tosca',
      price: '15 000',
      status: 'in-stock',
      dimensions: '15х20х60',
      brand: 'Calligaris',
      images: ['img/products/product-1.webp', 'img/products/product-1.webp', 'img/products/product-1.webp', 'img/products/product-1.webp', 'img/products/product-1.webp'],
      images2x: ['img/products/product-1@2x.webp', 'img/products/product-1@2x.webp', 'img/products/product-1@2x.webp', 'img/products/product-1@2x.webp', 'img/products/product-1@2x.webp'],
    },
    {
      name: 'Стул Tosca',
      price: '15 000',
      status: 'in-stock',
      dimensions: '15х20х60',
      brand: 'Calligaris',
      images: ['img/products/product-2.webp', 'img/products/product-2.webp', 'img/products/product-2.webp', 'img/products/product-2.webp', 'img/products/product-2.webp'],
      images2x: ['img/products/product-2@2x.webp', 'img/products/product-2@2x.webp', 'img/products/product-2@2x.webp', 'img/products/product-2@2x.webp', 'img/products/product-2@2x.webp'],
      isPremium: true,
    },
    {
      name: 'Стул Tosca',
      price: '15 000',
      discount: '10',
      status: 'in-stock',
      dimensions: '15х20х60',
      brand: 'Calligaris',
      images: ['img/products/product-3.webp', 'img/products/product-3.webp', 'img/products/product-3.webp', 'img/products/product-3.webp', 'img/products/product-3.webp'],
      images2x: ['img/products/product-3@2x.webp', 'img/products/product-3@2x.webp', 'img/products/product-3@2x.webp', 'img/products/product-3@2x.webp', 'img/products/product-3@2x.webp'],
      isFavorite: true,
    },
  ];
