-
  var rooms = [
    {
      heading: 'Гостиная',
      image: 'img/styles/classic-style.webp',
      image2x: 'img/styles/classic-style@2x.webp',
      desktopImage: 'img/styles/classic-style-desktop.webp',
      desktopImage2x: 'img/styles/classic-style-desktop@2x.webp',
    },
    {
      heading: 'Ванная комната',
      image: 'img/styles/european-style.webp',
      image2x: 'img/styles/european-style@2x.webp',
      desktopImage: 'img/styles/european-style-desktop.webp',
      desktopImage2x: 'img/styles/european-style-desktop@2x.webp',
    },
    {
      heading: 'Детская',
      image: 'img/styles/loft-style.webp',
      image2x: 'img/styles/loft-style@2x.webp',
      desktopImage: 'img/styles/loft-style-desktop.webp',
      desktopImage2x: 'img/styles/loft-style-desktop@2x.webp',
    },
    {
      heading: 'Кухня',
      image: 'img/styles/scandinavian-style.webp',
      image2x: 'img/styles/scandinavian-style@2x.webp',
      desktopImage: 'img/styles/scandinavian-style-desktop.webp',
      desktopImage2x: 'img/styles/scandinavian-style-desktop@2x.webp',
    },
    {
      heading: 'Гостиная',
      image: 'img/styles/classic-style.webp',
      image2x: 'img/styles/classic-style@2x.webp',
      desktopImage: 'img/styles/classic-style-desktop.webp',
      desktopImage2x: 'img/styles/classic-style-desktop@2x.webp',
    },
    {
      heading: 'Ванная комната',
      image: 'img/styles/european-style.webp',
      image2x: 'img/styles/european-style@2x.webp',
      desktopImage: 'img/styles/european-style-desktop.webp',
      desktopImage2x: 'img/styles/european-style-desktop@2x.webp',
    },
    {
      heading: 'Детская',
      image: 'img/styles/loft-style.webp',
      image2x: 'img/styles/loft-style@2x.webp',
      desktopImage: 'img/styles/loft-style-desktop.webp',
      desktopImage2x: 'img/styles/loft-style-desktop@2x.webp',
    },
    {
      heading: 'Кухня',
      image: 'img/styles/scandinavian-style.webp',
      image2x: 'img/styles/scandinavian-style@2x.webp',
      desktopImage: 'img/styles/scandinavian-style-desktop.webp',
      desktopImage2x: 'img/styles/scandinavian-style-desktop@2x.webp',
    },
    {
      heading: 'Гостиная',
      image: 'img/styles/classic-style.webp',
      image2x: 'img/styles/classic-style@2x.webp',
      desktopImage: 'img/styles/classic-style-desktop.webp',
      desktopImage2x: 'img/styles/classic-style-desktop@2x.webp',
    },
    {
      heading: 'Ванная комната',
      image: 'img/styles/european-style.webp',
      image2x: 'img/styles/european-style@2x.webp',
      desktopImage: 'img/styles/european-style-desktop.webp',
      desktopImage2x: 'img/styles/european-style-desktop@2x.webp',
    },
    {
      heading: 'Детская',
      image: 'img/styles/loft-style.webp',
      image2x: 'img/styles/loft-style@2x.webp',
      desktopImage: 'img/styles/loft-style-desktop.webp',
      desktopImage2x: 'img/styles/loft-style-desktop@2x.webp',
    },
    {
      heading: 'Кухня',
      image: 'img/styles/scandinavian-style.webp',
      image2x: 'img/styles/scandinavian-style@2x.webp',
      desktopImage: 'img/styles/scandinavian-style-desktop.webp',
      desktopImage2x: 'img/styles/scandinavian-style-desktop@2x.webp',
    },
  ]
