-
  var terms = {
    fish: {
      heading: '<b class="heading__accent">Выгодные условия</b> для<br> сотрудничества:',
      list: [
        'Обустройство объектов недвижимости с&nbsp;полной или частичной меблировкой',
        'Программа лояльности для&nbsp;ваших клиентов',
        'Обустройство объектов недвижимости с&nbsp;полной или частичной меблировкой',
        'Программа лояльности для&nbsp;ваших клиентов',
        'Обустройство объектов недвижимости с&nbsp;полной или частичной меблировкой',
        'Программа лояльности для&nbsp;ваших клиентов',
        'Обустройство объектов недвижимости с&nbsp;полной или частичной меблировкой',
        'Программа лояльности для&nbsp;ваших клиентов',
      ],
    },
    cooperation: {
      heading: 'Что вы получите<br> <b class="heading__accent">сотрудничая</b> с нами?',
      list: [
        'Прямые поставки мебели специально для Вашего проекта',
        'Сопровождение проекта, монтажные работы, техническая документация',
        'Два шоурума мебели, света и декора из Европы и США',
        'Приглашение на закрытые мероприятия',
        'Выгодные акции при комплексном оснащении интерьера',
        'Хранение заказов на складах до нужного Вам срока',
        'Обустройство объектов недвижимости с полной или частичной меблировкой',
        'Содействие публикации объектов в СМИ',
      ],
    }
  }
