-
  var videoReviews = [
    {
      video: {
        src: 'files/video.mp4',
        poster: 'img/reviews/video-1.webp',
      }
    },
    {
      video: {
        src: 'files/video.mp4',
        poster: 'img/reviews/video-2.webp',
      }
    },
  ];
