:root {
  --text-color: #797979;
  --text-color-2: rgba(0, 0, 0, 0.5);
  --text-accent-color: #050505;
  --background-color: #f1f1f1;
  --background-additional-color: #ffffff;
  --background-special-color-1: #dee7e7;
  --background-special-color-2: #e5d8da;
  --accent-color-1: #00604b;
  --accent-color-1-50: rgba(0, 96, 75, 0.5);
  --accent-color-1-dark: #005641;
  --accent-color-1-light: #e1ebeb;
  --accent-color-2: #ed1a39;
}
