:root {
  --text-color: #050505;
  --text-weak-color: #797979;
  --text-weak-color-light: #999999;
  --text-weak-color-dark: #2f2f2f;
  --text-weak-color-2: rgba(0, 0, 0, 0.5);
  --text-weak-color-3: rgba(0, 0, 0, 0.4);
  --text-alter-color: #ffffff;
  --text-alter-color-2: #f1f1f1;
  --background-color: #f1f1f1;
  --background-color-dark: #e9e9e9;
  --background-additional-color: #ffffff;
  --background-additional-color-60: rgba(255, 255, 255, 0.6);
  --background-special-color-1: #dee7e7;
  --background-special-color-2: #e5d8da;
  --background-alter-color: #050505;
  --overlay-color: rgba(64, 64, 64, 0.5);
  --border-color: #999999;
  --border-color-extra-light: #e9e9e9;
  --border-color-light: #bfbfbf;
  --border-color-dark: #797979;
  --border-color-2: rgba(0, 0, 0, 0.4);
  --accent-color-1: #00604b;
  --accent-color-1-50: rgba(0, 96, 75, 0.5);
  --accent-color-1-dark: #005641;
  --accent-color-1-light: #e1ebeb;
  --accent-color-2: #ea0029;
}
