// Viewports
$mobile-width: 375px;
$tablet-width: 768px;
$wide-tablet-width: 1024px;
$laptop-width: 1260px;
$narrow-desktop-width: 1310px;
$desktop-width: 1346px;
$wide-desktop-width: 1900px;

// Fonts
$main-font-family: "Mulish", "Arial", sans-serif;

// Indents
$mobile-edge-indent: 16px;
$tablet-edge-indent: 24px;
$desktop-edge-indent: 50px;

// Sizes
$centerer-max-width: 1760px;

// Timings
$little-interaction-duration: 100ms;
$little-interaction-timing-function: linear;
$site-header-navigation-animation-duration: 300ms;
$modal-opening-duration: 300ms;
$modal-closing-duration: 100ms;
$drawer-timing-duration: 300ms;
$drawer-timing-function: ease-in-out;
