-
  var articles = [
    {
      heading: 'Смена экспозиции в&nbsp;выставочном зале',
      image: 'img/articles/previews/preview-1.webp',
      image2x: 'img/articles/previews/preview-1@2x.webp',
      label: 'Блог',
    },
    {
      heading: 'Новые поступления',
      image: 'img/articles/previews/preview-2.webp',
      image2x: 'img/articles/previews/preview-2@2x.webp',
      label: 'Новость',
    },
    {
      heading: 'Приглашаем на&nbsp;встречу с&nbsp;дизайнером',
      image: 'img/articles/previews/preview-3.webp',
      image2x: 'img/articles/previews/preview-3@2x.webp',
      label: 'Пресса о нас',
    },
    {
      heading: 'С&nbsp;Днём Победы!',
      image: 'img/articles/previews/preview-1.webp',
      image2x: 'img/articles/previews/preview-1@2x.webp',
      label: 'Блог',
    },
    {
      heading: 'Приглашаем на&nbsp;встречу с&nbsp;дизайнером',
      image: 'img/articles/previews/preview-3.webp',
      image2x: 'img/articles/previews/preview-3@2x.webp',
      label: 'Пресса о нас',
    },
    {
      heading: 'Смена экспозиции в&nbsp;выставочном зале',
      image: 'img/articles/previews/preview-1.webp',
      image2x: 'img/articles/previews/preview-1@2x.webp',
      label: 'Блог',
    },
    {
      heading: 'Смена экспозиции в&nbsp;выставочном зале',
      image: 'img/articles/previews/preview-1.webp',
      image2x: 'img/articles/previews/preview-1@2x.webp',
      label: 'Блог',
    },
    {
      heading: 'Новые поступления',
      image: 'img/articles/previews/preview-2.webp',
      image2x: 'img/articles/previews/preview-2@2x.webp',
      label: 'Новость',
    },
  ];
