-
  var banners = {
    about: {
      heading: 'Интерьерный салон «Калипсо»',
      text: 'Вместе мы создаем невероятное!',
      link: 'Присоединиться',
      href: '#!',
      image: 'img/banners/about.webp',
      image2x: 'img/banners/about@2x.webp',
      tabletImage: 'img/banners/about-tablet.webp',
      tabletImage2x: 'img/banners/about-tablet@2x.webp',
      desktopImage: 'img/banners/about-desktop.webp',
      desktopImage2x: 'img/banners/about-desktop@2x.webp',
      wideDesktopImage: 'img/banners/about-wide-desktop.webp',
      wideDesktopImage2x: 'img/banners/about-wide-desktop@2x.webp',
    },
    exhibition: {
      heading: 'Выбрали для&nbsp;вас лучшее из&nbsp;многообразия интерьеров на&nbsp;выставках Европы',
      text: 'Более 90 брендов и более 3000 позиций',
      link: 'Перейти к товарам',
      href: '#!',
      image: 'img/banners/exhibition.webp',
      image2x: 'img/banners/exhibition@2x.webp',
      tabletImage: 'img/banners/exhibition-tablet.webp',
      tabletImage2x: 'img/banners/exhibition-tablet@2x.webp',
      desktopImage: 'img/banners/exhibition-desktop.webp',
      desktopImage2x: 'img/banners/exhibition-desktop@2x.webp',
      wideDesktopImage: 'img/banners/exhibition-wide-desktop.webp',
      wideDesktopImage2x: 'img/banners/exhibition-wide-desktop@2x.webp',
      thumbnail: {
        heading: 'Выставка в Европе',
        text: 'Выбрали лучшее',
      },
    },
    discount: {
      heading: 'Скидка 20% (основной заголовок)',
      text: 'Более 90 скидок и более 3000 скидок',
      link: 'Перейти к товарам',
      href: '#!',
      image: 'img/banners/exhibition.webp',
      image2x: 'img/banners/exhibition@2x.webp',
      tabletImage: 'img/banners/exhibition-tablet.webp',
      tabletImage2x: 'img/banners/exhibition-tablet@2x.webp',
      desktopImage: 'img/banners/exhibition-desktop.webp',
      desktopImage2x: 'img/banners/exhibition-desktop@2x.webp',
      wideDesktopImage: 'img/banners/exhibition-wide-desktop.webp',
      wideDesktopImage2x: 'img/banners/exhibition-wide-desktop@2x.webp',
      thumbnail: {
        heading: 'Скидка 20%',
        text: 'На первый товар',
      },
    },
    payment: {
      heading: 'Удобная оплата(основной заголовок)',
      text: 'Более 90 оплат и более 3000 оплат',
      link: 'Перейти к товарам',
      href: '#!',
      image: 'img/banners/exhibition.webp',
      image2x: 'img/banners/exhibition@2x.webp',
      tabletImage: 'img/banners/exhibition-tablet.webp',
      tabletImage2x: 'img/banners/exhibition-tablet@2x.webp',
      desktopImage: 'img/banners/exhibition-desktop.webp',
      desktopImage2x: 'img/banners/exhibition-desktop@2x.webp',
      wideDesktopImage: 'img/banners/exhibition-wide-desktop.webp',
      wideDesktopImage2x: 'img/banners/exhibition-wide-desktop@2x.webp',
      thumbnail: {
        heading: 'Удобная оплата',
        text: 'При получении',
      },
    },
  };
