-
  var cities = [
    {
      name: 'Москва',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Санкт-Петерубрг',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Казань',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Уфа',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Ростов-на-Дону',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Махачкала',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Сочи',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Екатеринбург',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Тюмень',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Воронеж',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Сургут',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Самара',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Челябинск',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Магнитогорск',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Анапа',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Астрахань',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Пятигорск',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Тольятти',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Новороссийск',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Крансодар',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Симферополь',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Чебоксары',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
    {
      name: 'Нижний Ломов',
      location: 'Нижнеломовский р-н, Пензенская обл',
    },
  ];
