-
  var contacts = {
    main: [
      {
        heading: 'Адрес:',
        list: [
          {
            type: 'address',
            text: 'г. Нижний Новгород,<br> ул. Варварская, д. 7',
          }
        ],
      },
      {
        heading: 'Часы работы:',
        list: [
          {
            type: 'time',
            text: 'Пн-Пт: 10.00-19.00.',
          },
          {
            text: 'Сб-Вс: выходной',
          },
        ],
      },
      {
        heading: 'Контакты:',
        list: [
          {
            type: 'tel',
            text: '+7 (831) 435-12-66',
            tel: '+78314351266',
          },
          {
            type: 'email',
            text: 'salon@calipso.ru',
          }
        ],
      },
    ],
    qualityDepartment: [
      {
        heading: 'Телефон:',
        list: [
          {
            type: 'tel',
            text: '+7 (831) 435-12-66',
            tel: '+78314351266',
          }
        ],
      },
      {
        heading: 'Часы работы:',
        list: [
          {
            type: 'time',
            text: 'Пн-Пт: 10.00-19.00.',
          },
          {
            text: 'Сб-Вс: выходной',
          },
        ],
      },
      {
        heading: 'Электронная почта:',
        list: [
          {
            type: 'email',
            text: 'salon@calipso.ru',
          }
        ],
      },
    ],
    pickup: [
      {
        heading: 'Самовывоз по адресу:',
        list: [
          {
            type: 'address',
            text: 'Москва, ул Белогородская 5',
          }
        ],
      },
      {
        heading: 'Часы работы:',
        list: [
          {
            type: 'time',
            text: 'Пн-Пт: 10.00-19.00.',
          },
          {
            text: 'Сб-Вс: выходной',
          },
        ],
      },
      {
        heading: 'Контакты',
        list: [
          {
            type: 'tel',
            text: '+7 (831) 435-12-66',
            tel: '+78314351266',
          },
          {
            type: 'email',
            text: 'salon@calipso.ru',
          }
        ],
      },
    ],
    order: [
      {
        heading: 'Адрес доставки:',
        list: [
          {
            type: 'address',
            text: 'г. Смоленск, Смоленская область, Россия, ул.&nbsp;Ленина, дом&nbsp;34, этаж&nbsp;6, кв&nbsp;45 подъезд&nbsp;5',
          },
          {
            type: 'comment',
            text: 'Звонок не работает, стучите в дверь громко',
          }
        ],
      },
      {
        heading: 'Личные данные:',
        list: [
          {
            type: '',
            text: 'Петрова Анна Александровна',
          },
          {
            type: 'tel',
            text: '+7 (831) 435-12-66',
            tel: '+78314351266',
          },
          {
            type: 'email',
            text: 'salon@calipso.ru',
          }
        ],
      },
    ],
  }
