-
  var productGallery = [
    {
      small: 'img/products/product-4-1.webp',
      small2x: 'img/products/product-4-1@2x.webp',
      big: 'img/products/product-4-1-big.webp',
      big2x: 'img/products/product-4-1-big@2x.webp',
    },
    {
      small: 'img/products/product-4-2.webp',
      small2x: 'img/products/product-4-2@2x.webp',
      big: 'img/products/product-4-2-big.webp',
      big2x: 'img/products/product-4-2-big@2x.webp',
    },
  ];
