-
  var reviews = [
    {
      text: 'Знакома с огромным количеством дизайнерских и декораторских салонов Москвы и Краснодара, но именно здесь в подборке поражает сочетание качества, актуальности трендам и разнообразие ассортимента. Здесь представлены и аутентичные торговые марки (никаких облезлых китайских подделок), и представители Арт-среды (чудесные полотна нижегородских художников), а профессиональные консультанты обязательно помогут увязать всё необходимое в одну стройную идею!! Получили удовольствие от шопинга, огромное спасибо!!))) Большого вам плавания!!!',
      media: true,
    },
    {
      text: 'Знакома с огромным количеством дизайнерских и декораторских салонов Москвы и Краснодара, но именно здесь в подборке поражает сочетание качества, актуальности трендам и разнообразие ассортимента. Здесь представлены и аутентичные торговые марки (никаких облезлых китайских подделок), и представители Арт-среды (чудесные полотна нижегородских художников), а профессиональные консультанты обязательно помогут увязать всё необходимое в одну стройную идею!! Получили удовольствие от шопинга, огромное спасибо!!))) Большого вам плавания!!!',
    },
    {
      text: 'Знакома с огромным количеством дизайнерских и декораторских салонов Москвы и Краснодара, но именно здесь в подборке поражает сочетание качества, актуальности трендам и разнообразие ассортимента. Здесь представлены и аутентичные торговые марки (никаких облезлых китайских подделок)',
    },
    {
      text: 'Знакома с огромным количеством дизайнерских и декораторских салонов Москвы и Краснодара, но именно здесь в подборке поражает сочетание качества, актуальности трендам и разнообразие ассортимента. Здесь представлены и аутентичные торговые марки (никаких облезлых китайских подделок)',
    },
    {
      text: 'Знакома с огромным количеством дизайнерских и декораторских салонов Москвы и Краснодара, но именно здесь в подборке поражает сочетание качества, актуальности трендам и разнообразие ассортимента. Здесь представлены и аутентичные торговые марки (никаких облезлых китайских подделок)',
    },
  ];
