-
  var videoReviews = [
    {
      video: {
        poster: 'img/reviews/video-1.webp',
        src: 'files/video.mp4'
      }
    },
    {
      video: {
        poster: 'img/reviews/video-2.webp',
        src: 'files/video.mp4'
      }
    },
  ];
