include blocks/about
include blocks/about-brand
include blocks/account
include blocks/account-tabs
include blocks/advantages
include blocks/advantages-cards
include blocks/alert
include blocks/all-brands
include blocks/appointment
include blocks/article
include blocks/article-preview
include blocks/articles
include blocks/articles-list
include blocks/back-link
include blocks/banner
include blocks/banners
include blocks/blockquote
include blocks/breadcrumbs
include blocks/brands
include blocks/button
include blocks/button-alter
include blocks/cart-form
include blocks/cart-item
include blocks/cart-modal
include blocks/cart-result
include blocks/catalog
include blocks/catalog-filters
include blocks/catalog-sorting
include blocks/centered-blockquote
include blocks/centered-breadcrumbs
include blocks/centered-certificates-form
include blocks/centered-feedback-form
include blocks/centered-navigation-list
include blocks/certificates
include blocks/certificates-form
include blocks/checker
include blocks/cities
include blocks/city-popup
include blocks/code-modal-form
include blocks/color
include blocks/counter
include blocks/contacts
include blocks/contacts-list
include blocks/cooperation-modal-form
include blocks/customers
include blocks/delete-button
include blocks/delivery
include blocks/developer
include blocks/document-modal
include blocks/document-actions
include blocks/exploitation
include blocks/external-reviews
include blocks/favorites
include blocks/favorites-list
include blocks/faq
include blocks/faq-folds
include blocks/features
include blocks/feed
include blocks/feedback-form
include blocks/file-field
include blocks/filter
include blocks/footer-navigation
include blocks/gallery
include blocks/guarantee
include blocks/ideas
include blocks/installment-request-modal-form
include blocks/like-button
include blocks/links
include blocks/logo
include blocks/map
include blocks/map-marker-template
include blocks/member-card
include blocks/members
include blocks/modal
include blocks/navigation-list
include blocks/navigation-shortcuts
include blocks/navigation-tabs
include blocks/not-found
include blocks/number-range
include blocks/offer-terms
include blocks/one-click-modal-form
include blocks/orders-folds
include blocks/page-heading
include blocks/page-premium-heading
include blocks/pagination
include blocks/phone-modal-form
include blocks/placeholder
include blocks/plus-button
include blocks/premium-brands
include blocks/premium-navigation
include blocks/product
include blocks/product-card
include blocks/product-card-popup
include blocks/product-characteristics
include blocks/product-header
include blocks/product-images
include blocks/product-question-modal-form
include blocks/product-tag
include blocks/product-tags
include blocks/products
include blocks/products-for-cart-modal
include blocks/products-list
include blocks/profile
include blocks/profile-form
include blocks/project
include blocks/project-card
include blocks/project-preview
include blocks/projects
include blocks/projects-list
include blocks/projects-slider
include blocks/radiobutton
include blocks/review
include blocks/review-modal-form
include blocks/reviews
include blocks/salon-modal-form
include blocks/search
include blocks/search-form
include blocks/search-modal
include blocks/search-results
include blocks/select
include blocks/selection
include blocks/share
include blocks/shortcuts
include blocks/sign-in-modal-form
include blocks/site-footer
include blocks/site-header
include blocks/site-navigation
include blocks/slider-arrows
include blocks/socials
include blocks/subscription
include blocks/subscription-with-image
include blocks/terms
include blocks/terms-with-image
include blocks/text-field
include blocks/textarea
include blocks/user-navigation
include blocks/vacancies
include blocks/vacancy
include blocks/vacancy-card
include blocks/vacancy-features
include blocks/video
include blocks/video-reviews
