include blocks/advantages
include blocks/alert
include blocks/appointment
include blocks/article-preview
include blocks/articles
include blocks/articles-list
include blocks/banner
include blocks/banners
include blocks/breadcrumbs
include blocks/brands
include blocks/button
include blocks/button-alter
include blocks/catalog
include blocks/catalog-sorting
include blocks/centered-breadcrumbs
include blocks/centered-certificates-form
include blocks/centered-navigation-list
include blocks/certificates
include blocks/certificates-form
include blocks/developer
include blocks/features
include blocks/filter
include blocks/footer-navigation
include blocks/ideas
include blocks/installment-request-form
include blocks/like-button
include blocks/links
include blocks/logo
include blocks/map
include blocks/map-marker-template
include blocks/modal
include blocks/navigation-list
include blocks/navigation-shortcuts
include blocks/navigation-tabs
include blocks/one-click-form
include blocks/page-heading
include blocks/page-premium-heading
include blocks/pagination
include blocks/premium-brands
include blocks/premium-navigation
include blocks/product
include blocks/product-card
include blocks/product-characteristics
include blocks/product-gallery
include blocks/product-header
include blocks/product-images
include blocks/product-question-form
include blocks/product-tag
include blocks/product-tags
include blocks/products
include blocks/products-list
include blocks/radiobutton
include blocks/selection
include blocks/share
include blocks/shortcuts
include blocks/site-footer
include blocks/site-header
include blocks/site-navigation
include blocks/slider-arrows
include blocks/socials
include blocks/subscription
include blocks/subscription-with-image
include blocks/terms
include blocks/terms-with-image
include blocks/text-field
include blocks/textarea
