.button-alter {
  display: inline-grid;
  box-sizing: border-box;
  min-height: 33px;
  border-radius: 50px;
  grid-auto-flow: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  font: 600 14px/17px $main-font-family;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &:active {
    @include main-shadow;
  }

  &:disabled:not(.button--pending) {
    @include main-shadow;
    opacity: 0.4;
    cursor: auto;
  }

  @media (min-width: $wide-desktop-width) {
    gap: 20px;
    font-size: 16px;
    line-height: 19px;
  }
}

.button-alter--primary {
  padding: 7px 24px 6px;
  border: none;
  background: var(--accent-color-1);
  color: var(--text-alter-color);

  &:hover {
    background: var(--accent-color-1-dark);
  }

  &:active {
    background: var(--accent-color-1-dark);
  }

  &:disabled:not(.button--pending) {
    background: var(--accent-color-1-dark);
  }

  &.button--pending {
    background: var(--accent-color-1-dark);

    @include main-shadow;

    &::before {
      border-color: var(--text-alter-color);
      border-right-color: transparent;
    }
  }

  @media (min-width: $wide-desktop-width) {
    min-height: 51px;
    padding: 12px 40px 9px;
  }
}

.button-alter--secondary {
  padding: 6px 23px 5px;
  border: 1px solid var(--accent-color-1);
  background: transparent;
  color: var(--accent-color-1);

  &:hover {
    background: var(--accent-color-1-light);
  }

  &:active {
    background: var(--accent-color-1-light);
  }

  &:disabled:not(.button--pending) {
    background: var(--accent-color-1-light);
  }

  &.button--pending {
    background: var(--accent-color-1-light);

    @include main-shadow;

    &::before {
      border-color: var(--accent-color-1);
      border-right-color: transparent;
    }
  }

  @media (min-width: $wide-desktop-width) {
    padding: 11px 31px 8px;
  }
}

.button-alter--pending {
  position: relative;
  color: transparent;
  pointer-events: none;
  cursor: auto;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 13px;
    height: 13px;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    animation: button-spinner 600ms linear infinite;

    @media (min-width: $wide-desktop-width) {
      width: 16px;
      height: 16px;
    }
  }
}

.button-alter--with-icon {
  &::after {
    content: "";
    width: 20px;
    height: 20px;
  }

  @media (min-width: $wide-desktop-width) {
    &::after {
      width: 30px;
      height: 30px;
    }
  }
}

.button-alter--with-icon_filter::after {
  background: url("../img/icons.svg#filter");
}
