.contacts-list {
  display: grid;
  font: 500 14px/17px $main-font-family;
  gap: 20px 45px;
  align-content: start;
  align-items: start;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;

    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 300px);
    gap: 20px;
    justify-content: start;
  }

  @media (min-width: $wide-desktop-width) {
    gap: 40px 80px;
    font-size: 22px;
    line-height: 29px;
  }
}

.contacts-list__group {
  display: grid;
  gap: 10px;

  @media (min-width: $wide-desktop-width) {
    gap: 20px;
  }
}

.contacts-list__key {
  font-size: 12px;
  line-height: 14px;
  color: var(--text-weak-color);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 18px;
    line-height: 22px;
  }
}

.contacts-list__value {
  margin: 0;
}

.contacts-list__list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 8px;

  @media (min-width: $wide-desktop-width) {
    gap: 10px;
  }
}

.contacts-list__link {
  display: grid;
  gap: 4px 5px;
  grid-template-columns: auto 1fr;
  align-items: start;
  text-decoration: none;
  color: inherit;

  @media (min-width: $wide-desktop-width) {
    column-gap: 10px;
  }

  &::before {
    content: "";
    display: none;
    width: 16px;
    height: 16px;

    @media (min-width: $tablet-width) {
      width: 20px;
      height: 20px;
    }

    @media (min-width: $wide-desktop-width) {
      width: 30px;
      height: 30px;
    }
  }

  &--comment {
    grid-template-columns: 100%;
    font-size: 12px;
    line-height: 14px;
    color: var(--text-weak-color);

    @media (min-width: $wide-desktop-width) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &--empty::before {
    display: block;
  }

  &--address::before {
    display: block;
    background: url("../img/icons.svg#contacts_location");
  }

  &--time::before {
    display: block;
    background: url("../img/icons.svg#clock");
  }

  &--tel::before {
    display: block;
    background: url("../img/icons.svg#contacts_phone");
  }

  &--email::before {
    display: block;
    background: url("../img/icons.svg#contacts_email");
  }
}

.contacts-list__link-accent {
  grid-column: 2 / -1;
  color: var(--accent-color-1);
}

.contacts-list__group-button {
  padding: 0;
  border: none;
  margin: 12px 0 0;
  background: none;
  text-decoration: none;
  text-transform: uppercase;
  font: 600 12px/14px $main-font-family;
  color: var(--accent-color-1);
  cursor: pointer;

  &:hover {
    color: var(--accent-color-1-dark);
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-top: 20px;
    font-size: 16px;
    line-height: 19px;
  }
}

.contacts-list--alter {
  font-size: 14px;
  line-height: 17px;

  @media (min-width: $tablet-width) {
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 20px 12px;
  }

  @media (min-width: $wide-desktop-width) {
    gap: 40px;
    font-size: 18px;
    line-height: 22px;
  }

  .contacts-list__group {
    gap: 12px;

    @media (min-width: $tablet-width) {
      gap: 8px;
    }

    @media (min-width: $desktop-width) {
      gap: 12px;
    }

    @media (min-width: $wide-desktop-width) {
      gap: 20px;
    }
  }

  .contacts-list__key {
    font-size: 12px;
    line-height: 14px;

    @media (min-width: $wide-desktop-width) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .contacts-list__group:first-child {
    @media (min-width: $desktop-width) {
      grid-column: 1 / -1;
    }
  }

  .contacts-list__link::before {
    width: 16px;
    height: 16px;

    @media (min-width: $wide-desktop-width) {
      width: 20px;
      height: 20px;
    }
  }
}

.contacts-list--alter-2 {
  font-size: 14px;
  line-height: 17px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 380px 1fr;
    gap: 32px 45px;
  }

  @media (min-width: $wide-desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 40px 80px;
    font-size: 18px;
    line-height: 22px;
  }

  .contacts-list__group {
    gap: 12px;

    @media (min-width: $tablet-width) {
      gap: 10px;
    }

    @media (min-width: $desktop-width) {
      gap: 12px;
    }

    @media (min-width: $wide-desktop-width) {
      gap: 20px;
    }
  }

  .contacts-list__key {
    font-size: 12px;
    line-height: 14px;

    @media (min-width: $wide-desktop-width) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .contacts-list__link::before {
    width: 16px;
    height: 16px;

    @media (min-width: $wide-desktop-width) {
      width: 20px;
      height: 20px;
    }
  }
}

.contacts-list--alter-3 {
  --row-gap: 20px;
  display: block;
  margin-bottom: calc(var(--row-gap) * -1);

  @media (min-width: $tablet-width) {
    --row-gap: 12px;
    column-width: 300px;
    column-gap: 20px;
  }

  @media (min-width: $narrow-desktop-width) {
    --row-gap: 20px;
  }

  @media (min-width: $wide-desktop-width) {
    display: grid;
    grid-template-columns: 308px 292px 1fr;
    gap: 24px;
    font-size: 18px;
    line-height: 21px;
  }

  .contacts-list__group {
    padding-bottom: var(--row-gap);
    gap: 12px;
    break-inside: avoid;

    @media (min-width: $tablet-width) {
      gap: 10px;
    }

    @media (min-width: $wide-desktop-width) {
      gap: 12px;
    }
  }

  .contacts-list__group--time {
    @media (min-width: $wide-desktop-width) {
      order: 2;
    }
  }

  .contacts-list__list {
    gap: 4px;
  }

  .contacts-list__key {
    font-size: 16px;
    line-height: 20px;
  }

  .contacts-list__link::before {
    @media (min-width: $wide-desktop-width) {
      width: 24px;
      height: 24px;
    }
  }
}
