.link {
  display: flex;
  gap: 5px;
  align-items: center;
  font: 600 12px/14px $main-font-family;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-color-1);

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    background: currentColor;
    mask: url("../img/icons.svg#controls_arrow");
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;

    &::after {
      width: 24px;
      height: 24px;
    }
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 20px;
    line-height: 24px;

    &::after {
      width: 28px;
      height: 28px;
    }
  }
}

.link--alter {
  color: var(--text-alter-color);
}

.link--small {
  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 17px;

    &::after {
      width: 20px;
      height: 20px;
    }
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 16px;
    line-height: 19px;

    &::after {
      width: 24px;
      height: 24px;
    }
  }
}

.link--back {
  &::after {
    order: -1;
    transform: scaleX(-1);
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 17px;

    &::after {
      width: 20px;
      height: 20px;
    }
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 20px;
    line-height: 24px;

    &::after {
      width: 28px;
      height: 28px;
    }
  }
}
