.product__inner {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "photos"
    "header"
    "characteristics";
  align-items: start;

  @media (min-width: $desktop-width) {
    grid-template-columns: 834px 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 50px;
    grid-template-areas:
      "photos          header"
      "characteristics header";
  }

  @media (min-width: $wide-desktop-width) {
    column-gap: 80px;
    grid-template-columns: 1160px 1fr;
  }
}

.product__images {
  grid-area: photos;
  margin: 0 (-$mobile-edge-indent) 20px;

  @media (min-width: $tablet-width) {
    margin: 0 (-$tablet-edge-indent) 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 20px;
  }
}

.product__header {
  grid-area: header;
  z-index: 2;
  margin: 0 0 40px;

  @media (min-width: $desktop-width) {
    position: sticky;
    top: 40px;
    margin: 0 20px 0 0;
  }

  @media (min-width: $wide-desktop-width) {
    margin: 0 40px 0 0;
  }
}

.product-characteristics {
  grid-area: characteristics;
}

.product__premium-label {
  z-index: 1;
  grid-area: photos;
  justify-self: start;
  display: flex;
  box-sizing: border-box;
  min-width: 30px;
  min-height: 30px;
  border-radius: 5px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  font: 500 14px/1 $main-font-family;
  color: var(--text-alter-color);
  background: var(--background-alter-color);

  @media (min-width: $tablet-width) {
    padding: 8px 16px;
    margin: 20px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 10px 20px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 11px 20px;
    margin: 20px;
    font-size: 18px;
  }

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    background: url("../img/icons.svg#premium");
  }
}

.product__premium-label-text {
  @media (max-width: ($tablet-width - 1)) {
    @include visually-hidden;
  }
}

.product__status {
  z-index: 1;
  grid-area: photos;
  justify-self: end;
  padding: 4px 10px;
  border-radius: 5px;
  margin: 5px -11px 5px 0;
  text-align: right;
  font: 500 12px/14px $main-font-family;
  background: var(--background-color-dark);

  &--in-stock {
    color: var(--accent-color-1);
  }

  &--arrival-expected {
    color: var(--special-color);
  }

  &--to-order {
    color: var(--accent-color-2);
  }

  @media (min-width: $tablet-width) {
    margin: 20px 0;
    font-size: 14px;
    line-height: 17px;
  }

  @media (min-width: $desktop-width) {
    margin: 10px;
  }

  @media (min-width: $wide-desktop-width) {
    margin: 20px;
    font-size: 20px;
    line-height: 25px;
  }
}
