.site-header--sticked {
  @include main-shadow;
}

.page__site-header--expand {
  background: var(--overlay-color);
}

.site-header__inner {
  color: var(--text-color);
  font: 500 14px/18px $main-font-family;
  background: var(--background-additional-color);

  @media (min-width: $desktop-width) {
    font-size: 16px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 18px;
    line-height: 20px;
  }
}

.site-header:not(.site-header--sticked):not(.page__site-header--expand) .site-header__inner--transparent {
  --logo-text-color: currentColor;
  color: var(--text-alter-color);
  background: transparent;
}

.site-header__main-panel {
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    padding: 20px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 24px 0;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 32px 0;
  }
}

.site-header__main-panel-inner {
  position: relative;
  justify-content: space-between;
  align-items: center;

  @media (max-width: (360px - 1)) {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 8px;
  }

  @media (min-width: 360px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.site-header__logo {
  width: 113px;
  height: auto;
  margin: 0 20px 0 0;

  @media (min-width: $mobile-width) {
    margin: 0 40px 0 0;
  }

  @media (min-width: $tablet-width) {
    width: 145px;
  }

  @media (min-width: $desktop-width) {
    width: 166px;
    margin: 0 60px 0 0;
  }

  @media (min-width: $wide-desktop-width) {
    width: 249px;
  }
}

.site-header__location {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  color: inherit;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    mask: url("../img/icons.svg#location");
    background: currentColor;

    @media (min-width: $desktop-width) {
      width: 24px;
      height: 24px;
    }
  }

  @media (max-width: ($tablet-width - 1)) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin: 0 40px 0 0;
  }

  @media (min-width: $wide-desktop-width) {
    gap: 10px;
  }
}

.site-header__phone {
  margin: 0 40px 0 0;
  text-decoration: none;
  color: inherit;

  @media (max-width: ($laptop-width - 1)) {
    display: none;
  }
}

.site-header__shortcuts {
  margin: 0;

  @media (max-width: ($mobile-width - 1)) {
    grid-column: 1 / -1;
  }

  @media (min-width: $mobile-width) {
    margin: 0 0 0 auto;
  }

  @media (min-width: $laptop-width) {
    margin: 0 0 0 5px;
  }
}

.site-header__menu-button {
  position: relative;
  display: grid;
  padding: 8px;
  border: none;
  border-radius: 8px;
  margin: 0 0 0 5px;
  grid-auto-flow: column;
  gap: 10px;
  align-items: center;
  font: 600 16px/20px $main-font-family;
  text-transform: uppercase;
  color: var(--accent-color-2);
  background: var(--background-additional-color);
  cursor: pointer;

  &::after {
    content: "";
    order: -1;
    display: block;
    width: 24px;
    height: 24px;
    background-color: var(--accent-color-2);
    mask: url("../img/icons.svg#burger_open");

    @media (min-width: $wide-desktop-width) {
      width: 40px;
      height: 40px;
    }
  }

  &:hover::after {
    background-color: var(--accent-color-2);
  }

  &--close::after {
    mask: url("../img/icons.svg#burger_close");
  }

  @media (min-width: $mobile-width) and (max-width: ($laptop-width - 1)) {
    order: 1;
  }

  @media (min-width: $laptop-width) {
    padding: 8px 20px;
    margin: 0 0 0 auto;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 5px 20px;
    font-size: 20px;
    line-height: 24px;
  }
}

.site-header__menu-button-text {
  @media (max-width: ($laptop-width - 1)) {
    @include visually-hidden;
  }
}

.site-header__navigation {
  z-index: 1;
  display: none;

  &--open {
    display: block;
  }
}

.site-header__user-navigation {
  position: absolute;
  z-index: 2;
  top: calc(100% + 38px);
  right: $tablet-edge-indent;
  width: 300px;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transform-origin: top center;
  transform: scale(0.8);
  transition-property: opacity, transform, visibility;
  transition-duration: $modal-closing-duration;
  transition-timing-function: ease-in;

  &--open {
    transition-duration: $modal-opening-duration;
    transition-timing-function: ease-out;

    @media (min-width: $tablet-width) {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
    }
  }

  @media (min-width: $desktop-width) {
    top: calc(100% + 42px);
    right: $desktop-edge-indent;
    width: 320px;
  }

  @media (min-width: $wide-desktop-width) {
    top: calc(100% + 51px);
    width: 350px;
  }

  @media (max-width: ($tablet-width - 1)) {
    display: none;
  }
}

.page__site-header--hidden .site-header__user-navigation {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
}

.site-header__inner--transparent .site-header__user-navigation {
  top: calc(100% + 18px);

  @media (min-width: $desktop-width) {
    top: calc(100% + 16px);
  }

  @media (min-width: $wide-desktop-width) {
    top: calc(100% + 11px);
  }
}

.site-header--sticked .site-header__inner--transparent .site-header__user-navigation {
  top: calc(100% + 38px);

  @media (min-width: $desktop-width) {
    top: calc(100% + 42px);
  }

  @media (min-width: $wide-desktop-width) {
    top: calc(100% + 51px);
  }
}
