.socials {
  display: flex;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  gap: 10px;
}

.socials__link {
  display: grid;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  place-items: center;
  background: var(--accent-color-1);

  &:hover {
    background: var(--accent-color-1-dark);
  }

  &:active {
    background: var(--accent-color-1-dark);

    @include main-shadow;
  }
}

.socials__link * {
  max-width: 18px;
  max-height: 18px;
}

.socials--sizes_s-s-s-m {
  @media (min-width: $wide-desktop-width) {
    .socials__link {
      width: 40px;
      height: 40px;
    }

    .socials__link * {
      max-width: 24px;
      max-height: 24px;
    }
  }
}

.socials--sizes_s-m-m-m {
  @media (min-width: $tablet-width) {
    .socials__link {
      width: 40px;
      height: 40px;
    }

    .socials__link * {
      max-width: 24px;
      max-height: 24px;
    }
  }
}

.socials--sizes_m {
  .socials__link {
    width: 40px;
    height: 40px;
  }

  .socials__link * {
    max-width: 24px;
    max-height: 24px;
  }
}
