.terms-with-image__inner {
  display: grid;
  gap: 20px;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 402px;
    gap: 30px;
  }

  @media (min-width: $wide-desktop-width) {
    grid-template-columns: 1fr 710px;
    gap: 40px;
  }
}

.terms-with-image__image-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 515px;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
    border-radius: 16px;
  }
}

.terms-with-image__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
