.user-navigation {
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  border-radius: 10px;
  font: 500 14px/17px $main-font-family;
  color: var(--text-color);
  background: var(--background-additional-color);
  overflow: hidden;

  @include main-shadow;

  @media (min-width: $desktop-width) {
    border-radius: 16px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 18px;
    line-height: 22px;
  }
}

.user-navigation__link {
  display: block;
  padding: 12px 10px 10px;
  border-bottom: 1px solid var(--border-color-light-2);
  text-decoration: none;
  color: inherit;

  &:hover {
    background: var(--accent-color-1-light);
  }

  @media (min-width: $desktop-width) {
    padding: 10px 24px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 14px 24px;
  }

  &--accent {
    color: var(--accent-color-1);
  }

  &--exit {
    background: var(--background-color-dark-2);
  }
}
