.video {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
}

.video--not-rounded {
  border-radius: 0;
}

.video__player {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: var(--background-alter-color);
}

.video__poster {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  &--hidden {
    display: none;
  }
}

.video__play-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: var(--blackout);

  &--hidden {
    display: none;
  }
}

.video__play-button {
  width: 60px;
  height: 60px;
  padding: 0;
  background: transparent url("../img/icons.svg#video_play");
  border: none;
  cursor: pointer;

  @media (min-width: $wide-desktop-width) {
    width: 100px;
    height: 100px;
  }
}
